--------------------------------------------- 
Job start 
Search space: Bitstring 
Problem: Max 3-SAT 
Problem instance: C:/EA/Build/../ALL_3SAT/uf175-753/uf175-057.cnf
Algorithm: Black-Box Generational 
Running Time: 50000 milliseconds
Iteration: 0, Fitness: 668
Iteration: 1, Fitness: 671
Iteration: 2, Fitness: 673
Iteration: 3, Fitness: 674
Iteration: 4, Fitness: 677
Iteration: 5, Fitness: 679
Iteration: 6, Fitness: 681
Iteration: 7, Fitness: 682
Iteration: 8, Fitness: 684
Iteration: 9, Fitness: 686
Iteration: 10, Fitness: 688
Iteration: 11, Fitness: 691
Iteration: 12, Fitness: 692
Iteration: 13, Fitness: 695
Iteration: 14, Fitness: 698
Iteration: 17, Fitness: 703
Iteration: 21, Fitness: 704
Iteration: 22, Fitness: 706
Iteration: 23, Fitness: 707
Iteration: 25, Fitness: 708
Iteration: 28, Fitness: 709
Iteration: 29, Fitness: 713
Iteration: 34, Fitness: 716
Iteration: 39, Fitness: 718
Iteration: 43, Fitness: 720
Iteration: 44, Fitness: 721
Iteration: 49, Fitness: 722
Iteration: 50, Fitness: 723
Iteration: 51, Fitness: 724
Iteration: 54, Fitness: 726
Iteration: 58, Fitness: 727
Iteration: 60, Fitness: 728
Iteration: 63, Fitness: 729
Iteration: 66, Fitness: 730
Iteration: 67, Fitness: 731
Iteration: 71, Fitness: 733
Iteration: 78, Fitness: 735
Iteration: 89, Fitness: 736
Iteration: 100, Fitness: 737
Iteration: 108, Fitness: 738
Iteration: 110, Fitness: 740
Iteration: 128, Fitness: 741
Iteration: 130, Fitness: 742
Iteration: 140, Fitness: 743
Iteration: 161, Fitness: 744
Iteration: 265, Fitness: 745
Iteration: 603, Fitness: 746
Iteration: 626, Fitness: 747
Iteration: 1450, Fitness: 748
Iteration: 2042, Fitness: 749
------------------------------- 
Job Complete 
Iterations: 4409
Best Solution Fitness: 749 
Not Optimal 
--------------------------------------------- 
