--------------------------------------------- 
Job start 
Search space: Bitstring 
Problem: Max 3-SAT 
Problem instance: C:/EA/Build/../ALL_3SAT/uf175-753/uf175-050.cnf
Algorithm: Black-Box Generational 
Running Time: 50000 milliseconds
Iteration: 0, Fitness: 663
Iteration: 1, Fitness: 667
Iteration: 2, Fitness: 668
Iteration: 4, Fitness: 672
Iteration: 5, Fitness: 673
Iteration: 6, Fitness: 676
Iteration: 7, Fitness: 682
Iteration: 9, Fitness: 688
Iteration: 11, Fitness: 690
Iteration: 12, Fitness: 695
Iteration: 13, Fitness: 697
Iteration: 14, Fitness: 699
Iteration: 16, Fitness: 702
Iteration: 17, Fitness: 703
Iteration: 19, Fitness: 708
Iteration: 22, Fitness: 710
Iteration: 24, Fitness: 711
Iteration: 25, Fitness: 715
Iteration: 29, Fitness: 716
Iteration: 31, Fitness: 717
Iteration: 33, Fitness: 718
Iteration: 34, Fitness: 720
Iteration: 36, Fitness: 722
Iteration: 42, Fitness: 724
Iteration: 43, Fitness: 725
Iteration: 46, Fitness: 726
Iteration: 47, Fitness: 727
Iteration: 48, Fitness: 728
Iteration: 51, Fitness: 731
Iteration: 59, Fitness: 732
Iteration: 63, Fitness: 734
Iteration: 71, Fitness: 735
Iteration: 74, Fitness: 736
Iteration: 76, Fitness: 737
Iteration: 83, Fitness: 738
Iteration: 84, Fitness: 739
Iteration: 87, Fitness: 740
Iteration: 93, Fitness: 741
Iteration: 100, Fitness: 742
Iteration: 118, Fitness: 743
Iteration: 162, Fitness: 744
Iteration: 186, Fitness: 745
Iteration: 249, Fitness: 746
Iteration: 1125, Fitness: 747
------------------------------- 
Job Complete 
Iterations: 4400
Best Solution Fitness: 747 
Not Optimal 
--------------------------------------------- 
