--------------------------------------------- 
Job start 
Search space: Bitstring 
Problem: Max 3-SAT 
Problem instance: C:/EA/Build/../ALL_3SAT/uf175-753/uf175-040.cnf
Algorithm: Black-Box Generational 
Running Time: 50000 milliseconds
Iteration: 0, Fitness: 658
Iteration: 1, Fitness: 659
Iteration: 2, Fitness: 663
Iteration: 3, Fitness: 667
Iteration: 4, Fitness: 669
Iteration: 5, Fitness: 671
Iteration: 6, Fitness: 673
Iteration: 8, Fitness: 677
Iteration: 9, Fitness: 679
Iteration: 10, Fitness: 682
Iteration: 11, Fitness: 683
Iteration: 12, Fitness: 685
Iteration: 13, Fitness: 686
Iteration: 14, Fitness: 689
Iteration: 17, Fitness: 691
Iteration: 18, Fitness: 694
Iteration: 19, Fitness: 695
Iteration: 20, Fitness: 696
Iteration: 21, Fitness: 698
Iteration: 23, Fitness: 702
Iteration: 27, Fitness: 703
Iteration: 30, Fitness: 704
Iteration: 31, Fitness: 706
Iteration: 32, Fitness: 708
Iteration: 33, Fitness: 709
Iteration: 36, Fitness: 713
Iteration: 41, Fitness: 714
Iteration: 43, Fitness: 715
Iteration: 45, Fitness: 716
Iteration: 48, Fitness: 719
Iteration: 51, Fitness: 720
Iteration: 52, Fitness: 721
Iteration: 53, Fitness: 722
Iteration: 56, Fitness: 723
Iteration: 59, Fitness: 724
Iteration: 60, Fitness: 726
Iteration: 68, Fitness: 728
Iteration: 70, Fitness: 729
Iteration: 75, Fitness: 730
Iteration: 79, Fitness: 731
Iteration: 80, Fitness: 732
Iteration: 82, Fitness: 735
Iteration: 99, Fitness: 736
Iteration: 107, Fitness: 737
Iteration: 110, Fitness: 738
Iteration: 115, Fitness: 739
Iteration: 119, Fitness: 740
Iteration: 126, Fitness: 741
Iteration: 131, Fitness: 742
Iteration: 139, Fitness: 743
Iteration: 156, Fitness: 744
Iteration: 168, Fitness: 745
Iteration: 227, Fitness: 746
Iteration: 486, Fitness: 747
Iteration: 2084, Fitness: 748
------------------------------- 
Job Complete 
Iterations: 4403
Best Solution Fitness: 748 
Not Optimal 
--------------------------------------------- 
