--------------------------------------------- 
Job start 
Search space: Bitstring 
Problem: Max 3-SAT 
Problem instance: C:/EA/Build/../ALL_3SAT/uf175-753/uf175-077.cnf
Algorithm: Black-Box Generational 
Running Time: 50000 milliseconds
Iteration: 0, Fitness: 656
Iteration: 1, Fitness: 665
Iteration: 3, Fitness: 668
Iteration: 4, Fitness: 670
Iteration: 5, Fitness: 672
Iteration: 6, Fitness: 674
Iteration: 7, Fitness: 678
Iteration: 8, Fitness: 683
Iteration: 9, Fitness: 685
Iteration: 10, Fitness: 686
Iteration: 11, Fitness: 689
Iteration: 12, Fitness: 692
Iteration: 14, Fitness: 693
Iteration: 15, Fitness: 696
Iteration: 17, Fitness: 702
Iteration: 20, Fitness: 703
Iteration: 21, Fitness: 708
Iteration: 24, Fitness: 710
Iteration: 25, Fitness: 711
Iteration: 26, Fitness: 712
Iteration: 29, Fitness: 716
Iteration: 34, Fitness: 720
Iteration: 39, Fitness: 721
Iteration: 40, Fitness: 723
Iteration: 41, Fitness: 725
Iteration: 45, Fitness: 728
Iteration: 50, Fitness: 730
Iteration: 58, Fitness: 731
Iteration: 59, Fitness: 732
Iteration: 61, Fitness: 733
Iteration: 64, Fitness: 734
Iteration: 70, Fitness: 735
Iteration: 72, Fitness: 736
Iteration: 78, Fitness: 737
Iteration: 79, Fitness: 739
Iteration: 88, Fitness: 741
Iteration: 115, Fitness: 742
Iteration: 129, Fitness: 743
Iteration: 155, Fitness: 744
Iteration: 169, Fitness: 745
Iteration: 192, Fitness: 746
Iteration: 233, Fitness: 747
Iteration: 318, Fitness: 748
Iteration: 622, Fitness: 749
Iteration: 1271, Fitness: 750
------------------------------- 
Job Complete 
Iterations: 4448
Best Solution Fitness: 750 
Not Optimal 
--------------------------------------------- 
