--------------------------------------------- 
Job start 
Search space: Bitstring 
Problem: Max 3-SAT 
Problem instance: C:/EA/Build/../ALL_3SAT/uf175-753/uf175-066.cnf
Algorithm: Black-Box Generational 
Running Time: 50000 milliseconds
Iteration: 0, Fitness: 669
Iteration: 1, Fitness: 670
Iteration: 2, Fitness: 672
Iteration: 3, Fitness: 677
Iteration: 5, Fitness: 680
Iteration: 7, Fitness: 682
Iteration: 8, Fitness: 684
Iteration: 9, Fitness: 685
Iteration: 10, Fitness: 687
Iteration: 11, Fitness: 690
Iteration: 13, Fitness: 693
Iteration: 15, Fitness: 695
Iteration: 17, Fitness: 696
Iteration: 18, Fitness: 700
Iteration: 20, Fitness: 704
Iteration: 23, Fitness: 706
Iteration: 24, Fitness: 707
Iteration: 27, Fitness: 708
Iteration: 28, Fitness: 710
Iteration: 31, Fitness: 712
Iteration: 34, Fitness: 714
Iteration: 38, Fitness: 715
Iteration: 40, Fitness: 716
Iteration: 41, Fitness: 717
Iteration: 43, Fitness: 719
Iteration: 47, Fitness: 720
Iteration: 49, Fitness: 722
Iteration: 51, Fitness: 723
Iteration: 56, Fitness: 724
Iteration: 57, Fitness: 725
Iteration: 64, Fitness: 726
Iteration: 65, Fitness: 727
Iteration: 71, Fitness: 728
Iteration: 75, Fitness: 731
Iteration: 81, Fitness: 732
Iteration: 84, Fitness: 733
Iteration: 95, Fitness: 735
Iteration: 103, Fitness: 736
Iteration: 110, Fitness: 737
Iteration: 118, Fitness: 738
Iteration: 126, Fitness: 739
Iteration: 140, Fitness: 740
Iteration: 157, Fitness: 741
Iteration: 167, Fitness: 742
Iteration: 190, Fitness: 743
Iteration: 198, Fitness: 744
Iteration: 238, Fitness: 745
Iteration: 304, Fitness: 746
Iteration: 440, Fitness: 747
Iteration: 584, Fitness: 748
------------------------------- 
Job Complete 
Iterations: 4403
Best Solution Fitness: 748 
Not Optimal 
--------------------------------------------- 
