--------------------------------------------- 
Job start 
Search space: Bitstring 
Problem: Max 3-SAT 
Problem instance: C:/EA/Build/../ALL_3SAT/uf175-753/uf175-090.cnf
Algorithm: Black-Box Generational 
Running Time: 50000 milliseconds
Iteration: 0, Fitness: 662
Iteration: 1, Fitness: 664
Iteration: 2, Fitness: 667
Iteration: 3, Fitness: 668
Iteration: 4, Fitness: 673
Iteration: 5, Fitness: 677
Iteration: 6, Fitness: 678
Iteration: 7, Fitness: 680
Iteration: 8, Fitness: 684
Iteration: 11, Fitness: 686
Iteration: 12, Fitness: 696
Iteration: 14, Fitness: 698
Iteration: 19, Fitness: 700
Iteration: 20, Fitness: 701
Iteration: 21, Fitness: 703
Iteration: 23, Fitness: 709
Iteration: 24, Fitness: 710
Iteration: 25, Fitness: 711
Iteration: 30, Fitness: 712
Iteration: 31, Fitness: 715
Iteration: 34, Fitness: 716
Iteration: 35, Fitness: 717
Iteration: 36, Fitness: 718
Iteration: 37, Fitness: 719
Iteration: 38, Fitness: 723
Iteration: 43, Fitness: 726
Iteration: 45, Fitness: 727
Iteration: 50, Fitness: 729
Iteration: 52, Fitness: 730
Iteration: 55, Fitness: 731
Iteration: 59, Fitness: 733
Iteration: 62, Fitness: 734
Iteration: 65, Fitness: 736
Iteration: 66, Fitness: 737
Iteration: 69, Fitness: 738
Iteration: 71, Fitness: 739
Iteration: 73, Fitness: 740
Iteration: 78, Fitness: 741
Iteration: 79, Fitness: 742
Iteration: 83, Fitness: 743
Iteration: 91, Fitness: 744
Iteration: 95, Fitness: 745
Iteration: 100, Fitness: 746
Iteration: 116, Fitness: 747
Iteration: 139, Fitness: 748
Iteration: 266, Fitness: 749
Iteration: 329, Fitness: 750
Iteration: 594, Fitness: 751
Iteration: 735, Fitness: 752
------------------------------- 
Job Complete 
Iterations: 4373
Best Solution Fitness: 752 
Not Optimal 
--------------------------------------------- 
