--------------------------------------------- 
Job start 
Search space: Bitstring 
Problem: Max 3-SAT 
Problem instance: C:/EA/Build/../ALL_3SAT/uf75-325/uf75-026.cnf
Algorithm: Hybrid with Partition Crossover
Running Time: 50000 milliseconds
Iteration: 0, Fitness: 322
Iteration: 20, Fitness: 323
Iteration: 4640, Fitness: 324
------------------------------- 
Job Complete 
Iterations: 6459
Best Solution Fitness: 324 
Not Optimal 
------------------------------- 
Maximum number of components in parition crossover: 7
Average number of components in parition crossover: 1.78867
--------------------------------------------- 
