--------------------------------------------- 
Job start 
Search space: Bitstring 
Problem: Max 3-SAT 
Problem instance: C:/EA/Build/../ALL_3SAT/uf75-325/uf75-070.cnf
Algorithm: Hybrid with Partition Crossover
Running Time: 50000 milliseconds
Iteration: 0, Fitness: 320
Iteration: 50, Fitness: 321
Iteration: 120, Fitness: 322
Iteration: 130, Fitness: 323
Iteration: 140, Fitness: 324
Iteration: 937, Fitness: 325
------------------------------- 
Job Complete 
Iterations: 938
Best Solution Fitness: 325 
Optimal 
------------------------------- 
Maximum number of components in parition crossover: 8
Average number of components in parition crossover: 2.00704
--------------------------------------------- 
