--------------------------------------------- 
Job start 
Search space: Bitstring 
Problem: Max 3-SAT 
Problem instance: C:/EA/Build/../ALL_3SAT/uf75-325/uf75-046.cnf
Algorithm: Hybrid with Partition Crossover
Running Time: 50000 milliseconds
Iteration: 0, Fitness: 319
Iteration: 24, Fitness: 320
Iteration: 40, Fitness: 321
Iteration: 325, Fitness: 322
Iteration: 370, Fitness: 323
Iteration: 1570, Fitness: 324
------------------------------- 
Job Complete 
Iterations: 6328
Best Solution Fitness: 324 
Not Optimal 
------------------------------- 
Maximum number of components in parition crossover: 8
Average number of components in parition crossover: 1.89875
--------------------------------------------- 
