--------------------------------------------- 
Job start 
Search space: Bitstring 
Problem: Max 3-SAT 
Problem instance: C:/EA/Build/../ALL_3SAT/uf75-325/uf75-087.cnf
Algorithm: Hybrid with Partition Crossover
Running Time: 50000 milliseconds
Iteration: 0, Fitness: 322
Iteration: 4, Fitness: 324
Iteration: 1280, Fitness: 325
------------------------------- 
Job Complete 
Iterations: 1281
Best Solution Fitness: 325 
Optimal 
------------------------------- 
Maximum number of components in parition crossover: 8
Average number of components in parition crossover: 1.68085
--------------------------------------------- 
