--------------------------------------------- 
Job start 
Search space: Bitstring 
Problem: Max 3-SAT 
Problem instance: C:/EA/Build/../ALL_3SAT/uf75-325/uf75-039.cnf
Algorithm: Hybrid with Partition Crossover
Running Time: 50000 milliseconds
Iteration: 0, Fitness: 322
Iteration: 10, Fitness: 323
Iteration: 1849, Fitness: 324
------------------------------- 
Job Complete 
Iterations: 6246
Best Solution Fitness: 324 
Not Optimal 
------------------------------- 
Maximum number of components in parition crossover: 9
Average number of components in parition crossover: 2.2059
--------------------------------------------- 
