--------------------------------------------- 
Job start 
Search space: Bitstring 
Problem: Max 3-SAT 
Problem instance: C:/EA/Build/../ALL_3SAT/uf50-218/uf50-0123.cnf
Algorithm: Black-Box Generational 
Running Time: 50000 milliseconds
Iteration: 0, Fitness: 196
Iteration: 1, Fitness: 198
Iteration: 2, Fitness: 200
Iteration: 4, Fitness: 201
Iteration: 5, Fitness: 203
Iteration: 6, Fitness: 204
Iteration: 7, Fitness: 205
Iteration: 8, Fitness: 207
Iteration: 10, Fitness: 209
Iteration: 14, Fitness: 210
Iteration: 19, Fitness: 211
Iteration: 23, Fitness: 212
Iteration: 28, Fitness: 213
Iteration: 38, Fitness: 214
Iteration: 43, Fitness: 215
Iteration: 51, Fitness: 216
Iteration: 63, Fitness: 217
Iteration: 974, Fitness: 218
------------------------------- 
Job Complete 
Iterations: 975
Best Solution Fitness: 218 
Optimal 
--------------------------------------------- 
