--------------------------------------------- 
Job start 
Search space: Bitstring 
Problem: Max 3-SAT 
Problem instance: C:/EA/Build/../ALL_3SAT/uf50-218/uf50-0155.cnf
Algorithm: Black-Box Generational 
Running Time: 50000 milliseconds
Iteration: 0, Fitness: 194
Iteration: 1, Fitness: 197
Iteration: 3, Fitness: 200
Iteration: 5, Fitness: 201
Iteration: 6, Fitness: 202
Iteration: 7, Fitness: 203
Iteration: 8, Fitness: 204
Iteration: 9, Fitness: 206
Iteration: 11, Fitness: 207
Iteration: 14, Fitness: 208
Iteration: 21, Fitness: 209
Iteration: 26, Fitness: 210
Iteration: 27, Fitness: 211
Iteration: 29, Fitness: 212
Iteration: 32, Fitness: 213
Iteration: 33, Fitness: 214
Iteration: 53, Fitness: 215
Iteration: 107, Fitness: 216
Iteration: 160, Fitness: 217
------------------------------- 
Job Complete 
Iterations: 14849
Best Solution Fitness: 217 
Not Optimal 
--------------------------------------------- 
