--------------------------------------------- 
Job start 
Search space: Bitstring 
Problem: Max 3-SAT 
Problem instance: C:/EA/Build/../ALL_3SAT/uf50-218/uf50-0181.cnf
Algorithm: Black-Box Generational 
Running Time: 50000 milliseconds
Iteration: 0, Fitness: 202
Iteration: 3, Fitness: 203
Iteration: 4, Fitness: 205
Iteration: 5, Fitness: 206
Iteration: 7, Fitness: 207
Iteration: 8, Fitness: 208
Iteration: 9, Fitness: 209
Iteration: 13, Fitness: 211
Iteration: 15, Fitness: 213
Iteration: 16, Fitness: 214
Iteration: 17, Fitness: 215
Iteration: 26, Fitness: 216
Iteration: 61, Fitness: 217
------------------------------- 
Job Complete 
Iterations: 18832
Best Solution Fitness: 217 
Not Optimal 
--------------------------------------------- 
