--------------------------------------------- 
Job start 
Search space: Bitstring 
Problem: Max 3-SAT 
Problem instance: C:/EA/Build/../ALL_3SAT/uf50-218/uf50-0147.cnf
Algorithm: Black-Box Generational 
Running Time: 50000 milliseconds
Iteration: 0, Fitness: 199
Iteration: 1, Fitness: 200
Iteration: 2, Fitness: 202
Iteration: 3, Fitness: 204
Iteration: 4, Fitness: 205
Iteration: 5, Fitness: 206
Iteration: 6, Fitness: 207
Iteration: 7, Fitness: 208
Iteration: 10, Fitness: 209
Iteration: 11, Fitness: 210
Iteration: 12, Fitness: 212
Iteration: 20, Fitness: 213
Iteration: 30, Fitness: 214
Iteration: 32, Fitness: 215
Iteration: 141, Fitness: 216
Iteration: 165, Fitness: 217
Iteration: 183, Fitness: 218
------------------------------- 
Job Complete 
Iterations: 184
Best Solution Fitness: 218 
Optimal 
--------------------------------------------- 
