--------------------------------------------- 
Job start 
Search space: Bitstring 
Problem: Max 3-SAT 
Problem instance: C:/EA/Build/../ALL_3SAT/uf50-218/uf50-0139.cnf
Algorithm: Black-Box Generational 
Running Time: 50000 milliseconds
Iteration: 0, Fitness: 199
Iteration: 1, Fitness: 200
Iteration: 2, Fitness: 201
Iteration: 3, Fitness: 202
Iteration: 4, Fitness: 203
Iteration: 5, Fitness: 204
Iteration: 6, Fitness: 206
Iteration: 10, Fitness: 207
Iteration: 13, Fitness: 209
Iteration: 14, Fitness: 210
Iteration: 16, Fitness: 211
Iteration: 25, Fitness: 212
Iteration: 29, Fitness: 213
Iteration: 35, Fitness: 214
Iteration: 61, Fitness: 215
Iteration: 79, Fitness: 217
Iteration: 130, Fitness: 218
------------------------------- 
Job Complete 
Iterations: 131
Best Solution Fitness: 218 
Optimal 
--------------------------------------------- 
