--------------------------------------------- 
Job start 
Search space: Bitstring 
Problem: Max 3-SAT 
Problem instance: C:/EA/Build/../ALL_3SAT/uf50-218/uf50-0118.cnf
Algorithm: Black-Box Generational 
Running Time: 50000 milliseconds
Iteration: 0, Fitness: 200
Iteration: 1, Fitness: 202
Iteration: 2, Fitness: 204
Iteration: 4, Fitness: 206
Iteration: 5, Fitness: 209
Iteration: 7, Fitness: 210
Iteration: 10, Fitness: 212
Iteration: 17, Fitness: 213
Iteration: 21, Fitness: 215
Iteration: 45, Fitness: 216
Iteration: 164, Fitness: 217
------------------------------- 
Job Complete 
Iterations: 13127
Best Solution Fitness: 217 
Not Optimal 
--------------------------------------------- 
