--------------------------------------------- 
Job start 
Search space: Bitstring 
Problem: Max 3-SAT 
Problem instance: C:/EA/Build/../ALL_3SAT/uf50-218/uf50-0150.cnf
Algorithm: Black-Box Generational 
Running Time: 50000 milliseconds
Iteration: 0, Fitness: 196
Iteration: 1, Fitness: 197
Iteration: 2, Fitness: 203
Iteration: 4, Fitness: 205
Iteration: 6, Fitness: 206
Iteration: 7, Fitness: 207
Iteration: 8, Fitness: 209
Iteration: 13, Fitness: 211
Iteration: 19, Fitness: 213
Iteration: 23, Fitness: 214
Iteration: 28, Fitness: 215
Iteration: 33, Fitness: 216
Iteration: 37, Fitness: 217
Iteration: 70, Fitness: 218
------------------------------- 
Job Complete 
Iterations: 71
Best Solution Fitness: 218 
Optimal 
--------------------------------------------- 
