--------------------------------------------- 
Job start 
Search space: Bitstring 
Problem: Max 3-SAT 
Problem instance: C:/EA/Build/../ALL_3SAT/uf50-218/uf50-010.cnf
Algorithm: Black-Box Generational 
Running Time: 50000 milliseconds
Iteration: 0, Fitness: 196
Iteration: 1, Fitness: 197
Iteration: 2, Fitness: 200
Iteration: 4, Fitness: 201
Iteration: 5, Fitness: 202
Iteration: 6, Fitness: 205
Iteration: 7, Fitness: 210
Iteration: 21, Fitness: 212
Iteration: 22, Fitness: 214
Iteration: 52, Fitness: 215
Iteration: 177, Fitness: 216
Iteration: 1004, Fitness: 217
------------------------------- 
Job Complete 
Iterations: 13052
Best Solution Fitness: 217 
Not Optimal 
--------------------------------------------- 
