--------------------------------------------- 
Job start 
Search space: Bitstring 
Problem: Max 3-SAT 
Problem instance: C:/EA/Build/../ALL_3SAT/uf50-218/uf50-0128.cnf
Algorithm: Black-Box Generational 
Running Time: 50000 milliseconds
Iteration: 0, Fitness: 194
Iteration: 1, Fitness: 200
Iteration: 3, Fitness: 201
Iteration: 4, Fitness: 203
Iteration: 5, Fitness: 206
Iteration: 6, Fitness: 207
Iteration: 7, Fitness: 209
Iteration: 13, Fitness: 210
Iteration: 18, Fitness: 211
Iteration: 19, Fitness: 213
Iteration: 27, Fitness: 214
Iteration: 29, Fitness: 215
Iteration: 72, Fitness: 216
Iteration: 110, Fitness: 217
Iteration: 1487, Fitness: 218
------------------------------- 
Job Complete 
Iterations: 1488
Best Solution Fitness: 218 
Optimal 
--------------------------------------------- 
