--------------------------------------------- 
Job start 
Search space: Bitstring 
Problem: Max 3-SAT 
Problem instance: C:/EA/Build/../ALL_3SAT/uf50-218/uf50-0177.cnf
Algorithm: Black-Box Generational 
Running Time: 50000 milliseconds
Iteration: 0, Fitness: 201
Iteration: 1, Fitness: 202
Iteration: 2, Fitness: 204
Iteration: 3, Fitness: 206
Iteration: 8, Fitness: 207
Iteration: 9, Fitness: 208
Iteration: 11, Fitness: 209
Iteration: 17, Fitness: 210
Iteration: 19, Fitness: 211
Iteration: 27, Fitness: 212
Iteration: 33, Fitness: 213
Iteration: 41, Fitness: 214
Iteration: 52, Fitness: 215
Iteration: 57, Fitness: 216
Iteration: 84, Fitness: 217
------------------------------- 
Job Complete 
Iterations: 16433
Best Solution Fitness: 217 
Not Optimal 
--------------------------------------------- 
