--------------------------------------------- 
Job start 
Search space: Bitstring 
Problem: Max 3-SAT 
Problem instance: C:/EA/Build/../ALL_3SAT/uf225-960/uf225-037.cnf
Algorithm: Hybrid with Two point Crossover
Running Time: 50000 milliseconds
Iteration: 0, Fitness: 942
Iteration: 10, Fitness: 944
Iteration: 20, Fitness: 946
Iteration: 40, Fitness: 947
Iteration: 100, Fitness: 948
Iteration: 130, Fitness: 949
Iteration: 160, Fitness: 950
Iteration: 170, Fitness: 951
Iteration: 180, Fitness: 952
Iteration: 440, Fitness: 953
Iteration: 680, Fitness: 954
Iteration: 1410, Fitness: 955
Iteration: 1570, Fitness: 956
------------------------------- 
Job Complete 
Iterations: 5776
Best Solution Fitness: 956 
Not Optimal 
--------------------------------------------- 
