--------------------------------------------- 
Job start 
Search space: Bitstring 
Problem: Max 3-SAT 
Problem instance: C:/EA/Build/../ALL_3SAT/uf225-960/uf225-030.cnf
Algorithm: Hybrid with Two point Crossover
Running Time: 50000 milliseconds
Iteration: 0, Fitness: 941
Iteration: 10, Fitness: 949
Iteration: 50, Fitness: 951
Iteration: 80, Fitness: 952
Iteration: 90, Fitness: 953
Iteration: 150, Fitness: 954
Iteration: 180, Fitness: 955
Iteration: 520, Fitness: 956
Iteration: 1320, Fitness: 957
Iteration: 2900, Fitness: 958
------------------------------- 
Job Complete 
Iterations: 5801
Best Solution Fitness: 958 
Not Optimal 
--------------------------------------------- 
