--------------------------------------------- 
Job start 
Search space: Bitstring 
Problem: Max 3-SAT 
Problem instance: C:/EA/Build/../ALL_3SAT/uf225-960/uf225-04.cnf
Algorithm: Hybrid with Two point Crossover
Running Time: 50000 milliseconds
Iteration: 0, Fitness: 945
Iteration: 10, Fitness: 946
Iteration: 20, Fitness: 948
Iteration: 70, Fitness: 949
Iteration: 80, Fitness: 950
Iteration: 110, Fitness: 951
Iteration: 120, Fitness: 952
Iteration: 130, Fitness: 953
Iteration: 180, Fitness: 954
Iteration: 300, Fitness: 955
------------------------------- 
Job Complete 
Iterations: 5911
Best Solution Fitness: 955 
Not Optimal 
--------------------------------------------- 
