--------------------------------------------- 
Job start 
Search space: Bitstring 
Problem: Max 3-SAT 
Problem instance: C:/EA/Build/../ALL_3SAT/uf225-960/uf225-043.cnf
Algorithm: Hybrid with Two point Crossover
Running Time: 50000 milliseconds
Iteration: 0, Fitness: 948
Iteration: 10, Fitness: 949
Iteration: 20, Fitness: 952
Iteration: 60, Fitness: 953
Iteration: 1130, Fitness: 955
Iteration: 1980, Fitness: 956
Iteration: 3590, Fitness: 957
------------------------------- 
Job Complete 
Iterations: 5871
Best Solution Fitness: 957 
Not Optimal 
--------------------------------------------- 
