--------------------------------------------- 
Job start 
Search space: Bitstring 
Problem: Max 3-SAT 
Problem instance: C:/EA/Build/../ALL_3SAT/uf225-960/uf225-087.cnf
Algorithm: Hybrid with Two point Crossover
Running Time: 50000 milliseconds
Iteration: 0, Fitness: 945
Iteration: 10, Fitness: 949
Iteration: 30, Fitness: 950
Iteration: 60, Fitness: 951
Iteration: 110, Fitness: 953
Iteration: 710, Fitness: 954
Iteration: 750, Fitness: 955
Iteration: 820, Fitness: 956
Iteration: 2610, Fitness: 957
------------------------------- 
Job Complete 
Iterations: 6025
Best Solution Fitness: 957 
Not Optimal 
--------------------------------------------- 
