--------------------------------------------- 
Job start 
Search space: Bitstring 
Problem: Max 3-SAT 
Problem instance: C:/EA/Build/../ALL_3SAT/uf75-325/uf75-0100.cnf
Algorithm: Hybrid with Two point Crossover
Running Time: 50000 milliseconds
Iteration: 0, Fitness: 321
Iteration: 10, Fitness: 322
Iteration: 110, Fitness: 323
Iteration: 8240, Fitness: 324
Iteration: 35120, Fitness: 325
------------------------------- 
Job Complete 
Iterations: 35121
Best Solution Fitness: 325 
Optimal 
--------------------------------------------- 
