--------------------------------------------- 
Job start 
Search space: Bitstring 
Problem: Max 3-SAT 
Problem instance: C:/EA/Build/../ALL_3SAT/uf75-325/uf75-020.cnf
Algorithm: Hybrid with Two point Crossover
Running Time: 50000 milliseconds
Iteration: 0, Fitness: 322
Iteration: 230, Fitness: 323
Iteration: 25530, Fitness: 324
Iteration: 25820, Fitness: 325
------------------------------- 
Job Complete 
Iterations: 25821
Best Solution Fitness: 325 
Optimal 
--------------------------------------------- 
