--------------------------------------------- 
Job start 
Search space: Bitstring 
Problem: Max 3-SAT 
Problem instance: C:/EA/Build/../ALL_3SAT/uf75-325/uf75-030.cnf
Algorithm: Hybrid with Two point Crossover
Running Time: 50000 milliseconds
Iteration: 0, Fitness: 321
Iteration: 10, Fitness: 322
Iteration: 1790, Fitness: 323
Iteration: 1800, Fitness: 324
------------------------------- 
Job Complete 
Iterations: 36051
Best Solution Fitness: 324 
Not Optimal 
--------------------------------------------- 
