--------------------------------------------- 
Job start 
Search space: Bitstring 
Problem: Max 3-SAT 
Problem instance: C:/EA/Build/../ALL_3SAT/uf75-325/uf75-048.cnf
Algorithm: Hybrid with Two point Crossover
Running Time: 50000 milliseconds
Iteration: 0, Fitness: 320
Iteration: 10, Fitness: 322
Iteration: 40, Fitness: 323
Iteration: 1180, Fitness: 324
Iteration: 1190, Fitness: 325
------------------------------- 
Job Complete 
Iterations: 1191
Best Solution Fitness: 325 
Optimal 
--------------------------------------------- 
