--------------------------------------------- 
Job start 
Search space: Bitstring 
Problem: Max 3-SAT 
Problem instance: C:/EA/Build/../ALL_3SAT/uf50-218/uf50-0177.cnf
Algorithm: Hybrid with Two point Crossover
Running Time: 50000 milliseconds
Iteration: 0, Fitness: 215
Iteration: 20, Fitness: 216
Iteration: 50, Fitness: 217
Iteration: 2420, Fitness: 218
------------------------------- 
Job Complete 
Iterations: 2421
Best Solution Fitness: 218 
Optimal 
--------------------------------------------- 
