--------------------------------------------- 
Job start 
Search space: Bitstring 
Problem: Max 3-SAT 
Problem instance: C:/EA/Build/../ALL_3SAT/uf200-860/uf200-040.cnf
Algorithm: Hybrid with Partition Crossover
Running Time: 50000 milliseconds
Iteration: 0, Fitness: 845
Iteration: 10, Fitness: 847
Iteration: 120, Fitness: 848
Iteration: 140, Fitness: 849
Iteration: 200, Fitness: 851
Iteration: 370, Fitness: 852
Iteration: 910, Fitness: 853
Iteration: 1050, Fitness: 854
Iteration: 1220, Fitness: 855
Iteration: 1390, Fitness: 856
------------------------------- 
Job Complete 
Iterations: 1985
Best Solution Fitness: 856 
Not Optimal 
------------------------------- 
Maximum number of components in parition crossover: 13
Average number of components in parition crossover: 3.49095
--------------------------------------------- 
