--------------------------------------------- 
Job start 
Search space: Bitstring 
Problem: Max 3-SAT 
Problem instance: C:/EA/Build/../ALL_3SAT/uf200-860/uf200-035.cnf
Algorithm: Hybrid with Partition Crossover
Running Time: 50000 milliseconds
Iteration: 0, Fitness: 840
Iteration: 9, Fitness: 841
Iteration: 10, Fitness: 848
Iteration: 20, Fitness: 849
Iteration: 23, Fitness: 850
Iteration: 40, Fitness: 851
Iteration: 104, Fitness: 852
Iteration: 260, Fitness: 853
Iteration: 1322, Fitness: 854
Iteration: 1700, Fitness: 855
------------------------------- 
Job Complete 
Iterations: 2010
Best Solution Fitness: 855 
Not Optimal 
------------------------------- 
Maximum number of components in parition crossover: 12
Average number of components in parition crossover: 3.35621
--------------------------------------------- 
