--------------------------------------------- 
Job start 
Search space: Bitstring 
Problem: Max 3-SAT 
Problem instance: C:/EA/Build/../ALL_3SAT/uf200-860/uf200-050.cnf
Algorithm: Hybrid with Partition Crossover
Running Time: 50000 milliseconds
Iteration: 0, Fitness: 844
Iteration: 10, Fitness: 845
Iteration: 39, Fitness: 846
Iteration: 40, Fitness: 847
Iteration: 70, Fitness: 849
Iteration: 100, Fitness: 850
Iteration: 120, Fitness: 851
Iteration: 130, Fitness: 852
Iteration: 149, Fitness: 853
Iteration: 170, Fitness: 854
------------------------------- 
Job Complete 
Iterations: 1976
Best Solution Fitness: 854 
Not Optimal 
------------------------------- 
Maximum number of components in parition crossover: 11
Average number of components in parition crossover: 3.36467
--------------------------------------------- 
