--------------------------------------------- 
Job start 
Search space: Bitstring 
Problem: Max 3-SAT 
Problem instance: C:/EA/Build/../ALL_3SAT/uf200-860/uf200-047.cnf
Algorithm: Hybrid with Partition Crossover
Running Time: 50000 milliseconds
Iteration: 0, Fitness: 842
Iteration: 10, Fitness: 848
Iteration: 30, Fitness: 849
Iteration: 35, Fitness: 850
Iteration: 50, Fitness: 851
Iteration: 210, Fitness: 852
Iteration: 220, Fitness: 853
Iteration: 270, Fitness: 854
Iteration: 1120, Fitness: 855
Iteration: 1261, Fitness: 856
Iteration: 1330, Fitness: 857
------------------------------- 
Job Complete 
Iterations: 2011
Best Solution Fitness: 857 
Not Optimal 
------------------------------- 
Maximum number of components in parition crossover: 11
Average number of components in parition crossover: 3.35776
--------------------------------------------- 
