--------------------------------------------- 
Job start 
Search space: Bitstring 
Problem: Max 3-SAT 
Problem instance: C:/EA/Build/../ALL_3SAT/uf200-860/uf200-061.cnf
Algorithm: Hybrid with Partition Crossover
Running Time: 50000 milliseconds
Iteration: 0, Fitness: 840
Iteration: 5, Fitness: 841
Iteration: 10, Fitness: 844
Iteration: 20, Fitness: 851
Iteration: 39, Fitness: 852
Iteration: 40, Fitness: 854
Iteration: 1560, Fitness: 855
Iteration: 1870, Fitness: 856
------------------------------- 
Job Complete 
Iterations: 1998
Best Solution Fitness: 856 
Not Optimal 
------------------------------- 
Maximum number of components in parition crossover: 13
Average number of components in parition crossover: 3.6652
--------------------------------------------- 
