--------------------------------------------- 
Job start 
Search space: Bitstring 
Problem: Max 3-SAT 
Problem instance: C:/EA/Build/../ALL_3SAT/uf200-860/uf200-088.cnf
Algorithm: Hybrid with Partition Crossover
Running Time: 50000 milliseconds
Iteration: 0, Fitness: 845
Iteration: 20, Fitness: 847
Iteration: 40, Fitness: 848
Iteration: 50, Fitness: 849
Iteration: 150, Fitness: 850
Iteration: 1400, Fitness: 851
Iteration: 1450, Fitness: 852
------------------------------- 
Job Complete 
Iterations: 2006
Best Solution Fitness: 852 
Not Optimal 
------------------------------- 
Maximum number of components in parition crossover: 12
Average number of components in parition crossover: 3.08763
--------------------------------------------- 
