--------------------------------------------- 
Job start 
Search space: Bitstring 
Problem: Max 3-SAT 
Problem instance: C:/EA/Build/../ALL_3SAT/uf200-860/uf200-055.cnf
Algorithm: Hybrid with Partition Crossover
Running Time: 50000 milliseconds
Iteration: 0, Fitness: 842
Iteration: 5, Fitness: 843
Iteration: 27, Fitness: 844
Iteration: 30, Fitness: 847
Iteration: 50, Fitness: 848
Iteration: 70, Fitness: 850
Iteration: 79, Fitness: 851
Iteration: 90, Fitness: 852
Iteration: 340, Fitness: 853
Iteration: 510, Fitness: 854
------------------------------- 
Job Complete 
Iterations: 2006
Best Solution Fitness: 854 
Not Optimal 
------------------------------- 
Maximum number of components in parition crossover: 12
Average number of components in parition crossover: 3.16887
--------------------------------------------- 
