--------------------------------------------- 
Job start 
Search space: Bitstring 
Problem: Max 3-SAT 
Problem instance: C:/EA/Build/../ALL_3SAT/uf200-860/uf200-021.cnf
Algorithm: Hybrid with Partition Crossover
Running Time: 50000 milliseconds
Iteration: 0, Fitness: 845
Iteration: 8, Fitness: 846
Iteration: 10, Fitness: 847
Iteration: 30, Fitness: 848
Iteration: 200, Fitness: 849
Iteration: 570, Fitness: 850
Iteration: 840, Fitness: 851
Iteration: 918, Fitness: 852
Iteration: 1000, Fitness: 853
Iteration: 1007, Fitness: 854
Iteration: 1010, Fitness: 855
Iteration: 1020, Fitness: 856
Iteration: 1340, Fitness: 857
------------------------------- 
Job Complete 
Iterations: 2004
Best Solution Fitness: 857 
Not Optimal 
------------------------------- 
Maximum number of components in parition crossover: 12
Average number of components in parition crossover: 3.18564
--------------------------------------------- 
