--------------------------------------------- 
Job start 
Search space: Bitstring 
Problem: Max 3-SAT 
Problem instance: C:/EA/Build/../ALL_3SAT/uf200-860/uf200-060.cnf
Algorithm: Hybrid with Partition Crossover
Running Time: 50000 milliseconds
Iteration: 0, Fitness: 838
Iteration: 10, Fitness: 841
Iteration: 20, Fitness: 846
Iteration: 27, Fitness: 847
Iteration: 40, Fitness: 848
Iteration: 67, Fitness: 849
Iteration: 90, Fitness: 850
Iteration: 100, Fitness: 851
Iteration: 120, Fitness: 852
Iteration: 1090, Fitness: 853
------------------------------- 
Job Complete 
Iterations: 1972
Best Solution Fitness: 853 
Not Optimal 
------------------------------- 
Maximum number of components in parition crossover: 11
Average number of components in parition crossover: 3.18154
--------------------------------------------- 
