--------------------------------------------- 
Job start 
Search space: Bitstring 
Problem: Max 3-SAT 
Problem instance: C:/EA/Build/../ALL_3SAT/uf200-860/uf200-062.cnf
Algorithm: Hybrid with Partition Crossover
Running Time: 50000 milliseconds
Iteration: 0, Fitness: 846
Iteration: 5, Fitness: 847
Iteration: 50, Fitness: 848
Iteration: 59, Fitness: 849
Iteration: 80, Fitness: 851
Iteration: 93, Fitness: 852
Iteration: 980, Fitness: 853
------------------------------- 
Job Complete 
Iterations: 1992
Best Solution Fitness: 853 
Not Optimal 
------------------------------- 
Maximum number of components in parition crossover: 11
Average number of components in parition crossover: 3.45065
--------------------------------------------- 
