--------------------------------------------- 
Job start 
Search space: Bitstring 
Problem: Max 3-SAT 
Problem instance: C:/EA/Build/../ALL_3SAT/uf125-538/uf125-055.cnf
Algorithm: Black-Box Generational 
Running Time: 50000 milliseconds
Iteration: 0, Fitness: 470
Iteration: 1, Fitness: 474
Iteration: 2, Fitness: 475
Iteration: 3, Fitness: 478
Iteration: 4, Fitness: 484
Iteration: 5, Fitness: 487
Iteration: 7, Fitness: 488
Iteration: 8, Fitness: 491
Iteration: 9, Fitness: 492
Iteration: 11, Fitness: 499
Iteration: 13, Fitness: 500
Iteration: 14, Fitness: 505
Iteration: 19, Fitness: 507
Iteration: 20, Fitness: 511
Iteration: 23, Fitness: 514
Iteration: 25, Fitness: 515
Iteration: 28, Fitness: 516
Iteration: 32, Fitness: 517
Iteration: 33, Fitness: 519
Iteration: 34, Fitness: 520
Iteration: 35, Fitness: 521
Iteration: 37, Fitness: 523
Iteration: 44, Fitness: 524
Iteration: 45, Fitness: 525
Iteration: 51, Fitness: 526
Iteration: 54, Fitness: 527
Iteration: 61, Fitness: 528
Iteration: 65, Fitness: 529
Iteration: 86, Fitness: 530
Iteration: 110, Fitness: 531
Iteration: 116, Fitness: 532
Iteration: 233, Fitness: 533
Iteration: 307, Fitness: 534
Iteration: 3276, Fitness: 535
Iteration: 3316, Fitness: 536
Iteration: 3579, Fitness: 537
Iteration: 4590, Fitness: 538
------------------------------- 
Job Complete 
Iterations: 4591
Best Solution Fitness: 538 
Optimal 
--------------------------------------------- 
