--------------------------------------------- 
Job start 
Search space: Bitstring 
Problem: Max 3-SAT 
Problem instance: C:/EA/Build/../ALL_3SAT/uf125-538/uf125-072.cnf
Algorithm: Black-Box Generational 
Running Time: 50000 milliseconds
Iteration: 0, Fitness: 476
Iteration: 1, Fitness: 479
Iteration: 2, Fitness: 483
Iteration: 3, Fitness: 484
Iteration: 5, Fitness: 485
Iteration: 6, Fitness: 488
Iteration: 7, Fitness: 491
Iteration: 8, Fitness: 494
Iteration: 11, Fitness: 496
Iteration: 13, Fitness: 498
Iteration: 14, Fitness: 501
Iteration: 17, Fitness: 502
Iteration: 18, Fitness: 504
Iteration: 20, Fitness: 505
Iteration: 21, Fitness: 507
Iteration: 24, Fitness: 508
Iteration: 25, Fitness: 509
Iteration: 27, Fitness: 510
Iteration: 28, Fitness: 512
Iteration: 30, Fitness: 513
Iteration: 33, Fitness: 514
Iteration: 34, Fitness: 518
Iteration: 37, Fitness: 519
Iteration: 43, Fitness: 520
Iteration: 47, Fitness: 521
Iteration: 48, Fitness: 523
Iteration: 76, Fitness: 524
Iteration: 78, Fitness: 525
Iteration: 84, Fitness: 526
Iteration: 104, Fitness: 527
Iteration: 115, Fitness: 528
Iteration: 129, Fitness: 529
Iteration: 177, Fitness: 530
Iteration: 390, Fitness: 531
Iteration: 1305, Fitness: 532
------------------------------- 
Job Complete 
Iterations: 6008
Best Solution Fitness: 532 
Not Optimal 
--------------------------------------------- 
