--------------------------------------------- 
Job start 
Search space: Bitstring 
Problem: Max 3-SAT 
Problem instance: C:/EA/Build/../ALL_3SAT/uf125-538/uf125-020.cnf
Algorithm: Black-Box Generational 
Running Time: 50000 milliseconds
Iteration: 0, Fitness: 475
Iteration: 2, Fitness: 479
Iteration: 3, Fitness: 484
Iteration: 4, Fitness: 485
Iteration: 5, Fitness: 487
Iteration: 6, Fitness: 490
Iteration: 7, Fitness: 492
Iteration: 8, Fitness: 493
Iteration: 10, Fitness: 496
Iteration: 11, Fitness: 499
Iteration: 12, Fitness: 500
Iteration: 14, Fitness: 503
Iteration: 16, Fitness: 506
Iteration: 17, Fitness: 508
Iteration: 20, Fitness: 512
Iteration: 21, Fitness: 514
Iteration: 22, Fitness: 515
Iteration: 26, Fitness: 516
Iteration: 28, Fitness: 519
Iteration: 29, Fitness: 520
Iteration: 30, Fitness: 522
Iteration: 32, Fitness: 525
Iteration: 33, Fitness: 527
Iteration: 42, Fitness: 528
Iteration: 44, Fitness: 529
Iteration: 45, Fitness: 530
Iteration: 54, Fitness: 531
Iteration: 55, Fitness: 532
Iteration: 56, Fitness: 533
Iteration: 74, Fitness: 535
Iteration: 100, Fitness: 536
------------------------------- 
Job Complete 
Iterations: 5889
Best Solution Fitness: 536 
Not Optimal 
--------------------------------------------- 
