--------------------------------------------- 
Job start 
Search space: Bitstring 
Problem: Max 3-SAT 
Problem instance: C:/EA/Build/../ALL_3SAT/uf125-538/uf125-067.cnf
Algorithm: Black-Box Generational 
Running Time: 50000 milliseconds
Iteration: 0, Fitness: 488
Iteration: 1, Fitness: 490
Iteration: 2, Fitness: 491
Iteration: 3, Fitness: 492
Iteration: 5, Fitness: 494
Iteration: 6, Fitness: 497
Iteration: 7, Fitness: 499
Iteration: 8, Fitness: 500
Iteration: 9, Fitness: 503
Iteration: 11, Fitness: 504
Iteration: 12, Fitness: 506
Iteration: 17, Fitness: 507
Iteration: 19, Fitness: 508
Iteration: 20, Fitness: 510
Iteration: 21, Fitness: 511
Iteration: 23, Fitness: 512
Iteration: 25, Fitness: 515
Iteration: 33, Fitness: 516
Iteration: 38, Fitness: 517
Iteration: 40, Fitness: 518
Iteration: 44, Fitness: 519
Iteration: 45, Fitness: 520
Iteration: 53, Fitness: 522
Iteration: 62, Fitness: 523
Iteration: 68, Fitness: 524
Iteration: 69, Fitness: 525
Iteration: 70, Fitness: 526
Iteration: 81, Fitness: 527
Iteration: 82, Fitness: 528
Iteration: 86, Fitness: 529
Iteration: 95, Fitness: 530
Iteration: 117, Fitness: 531
Iteration: 142, Fitness: 533
Iteration: 153, Fitness: 534
Iteration: 166, Fitness: 535
Iteration: 191, Fitness: 536
------------------------------- 
Job Complete 
Iterations: 5935
Best Solution Fitness: 536 
Not Optimal 
--------------------------------------------- 
