--------------------------------------------- 
Job start 
Search space: Bitstring 
Problem: Max 3-SAT 
Problem instance: C:/EA/Build/../ALL_3SAT/uf200-860/uf200-043.cnf
Algorithm: Hybrid with No Crossover
Running Time: 50000 milliseconds
Iteration: 0, Fitness: 845
Iteration: 10, Fitness: 846
Iteration: 20, Fitness: 847
Iteration: 30, Fitness: 849
Iteration: 50, Fitness: 850
Iteration: 70, Fitness: 851
Iteration: 90, Fitness: 853
Iteration: 180, Fitness: 854
Iteration: 190, Fitness: 855
Iteration: 210, Fitness: 856
------------------------------- 
Job Complete 
Iterations: 7471
Best Solution Fitness: 856 
Not Optimal 
--------------------------------------------- 
