--------------------------------------------- 
Job start 
Search space: Bitstring 
Problem: Max 3-SAT 
Problem instance: C:/EA/Build/../ALL_3SAT/uf200-860/uf200-014.cnf
Algorithm: Hybrid with No Crossover
Running Time: 50000 milliseconds
Iteration: 0, Fitness: 843
Iteration: 10, Fitness: 844
Iteration: 20, Fitness: 847
Iteration: 40, Fitness: 848
Iteration: 60, Fitness: 849
Iteration: 70, Fitness: 850
Iteration: 110, Fitness: 851
Iteration: 120, Fitness: 852
Iteration: 4350, Fitness: 853
Iteration: 4450, Fitness: 854
------------------------------- 
Job Complete 
Iterations: 7461
Best Solution Fitness: 854 
Not Optimal 
--------------------------------------------- 
