--------------------------------------------- 
Job start 
Search space: Bitstring 
Problem: Max 3-SAT 
Problem instance: C:/EA/Build/../ALL_3SAT/uf200-860/uf200-029.cnf
Algorithm: Hybrid with No Crossover
Running Time: 50000 milliseconds
Iteration: 0, Fitness: 845
Iteration: 10, Fitness: 846
Iteration: 20, Fitness: 847
Iteration: 70, Fitness: 848
Iteration: 110, Fitness: 850
------------------------------- 
Job Complete 
Iterations: 7503
Best Solution Fitness: 850 
Not Optimal 
--------------------------------------------- 
