--------------------------------------------- 
Job start 
Search space: Bitstring 
Problem: Max 3-SAT 
Problem instance: C:/EA/Build/../ALL_3SAT/uf200-860/uf200-028.cnf
Algorithm: Hybrid with No Crossover
Running Time: 50000 milliseconds
Iteration: 0, Fitness: 842
Iteration: 10, Fitness: 845
Iteration: 20, Fitness: 847
Iteration: 30, Fitness: 849
Iteration: 50, Fitness: 850
Iteration: 70, Fitness: 851
Iteration: 150, Fitness: 852
Iteration: 160, Fitness: 853
Iteration: 240, Fitness: 854
Iteration: 270, Fitness: 855
Iteration: 790, Fitness: 856
Iteration: 800, Fitness: 857
Iteration: 2410, Fitness: 858
------------------------------- 
Job Complete 
Iterations: 7431
Best Solution Fitness: 858 
Not Optimal 
--------------------------------------------- 
