--------------------------------------------- 
Job start 
Search space: Bitstring 
Problem: Max 3-SAT 
Problem instance: C:/EA/Build/../ALL_3SAT/uf175-753/uf175-041.cnf
Algorithm: Hybrid with Partition Crossover
Running Time: 50000 milliseconds
Iteration: 0, Fitness: 745
Iteration: 20, Fitness: 746
Iteration: 27, Fitness: 747
Iteration: 260, Fitness: 748
Iteration: 370, Fitness: 749
------------------------------- 
Job Complete 
Iterations: 2367
Best Solution Fitness: 749 
Not Optimal 
------------------------------- 
Maximum number of components in parition crossover: 12
Average number of components in parition crossover: 3.36012
--------------------------------------------- 
