--------------------------------------------- 
Job start 
Search space: Bitstring 
Problem: Max 3-SAT 
Problem instance: C:/EA/Build/../ALL_3SAT/uf175-753/uf175-038.cnf
Algorithm: Hybrid with Partition Crossover
Running Time: 50000 milliseconds
Iteration: 0, Fitness: 738
Iteration: 10, Fitness: 739
Iteration: 20, Fitness: 742
Iteration: 30, Fitness: 743
Iteration: 50, Fitness: 744
Iteration: 100, Fitness: 745
------------------------------- 
Job Complete 
Iterations: 2373
Best Solution Fitness: 745 
Not Optimal 
------------------------------- 
Maximum number of components in parition crossover: 12
Average number of components in parition crossover: 3.10852
--------------------------------------------- 
