--------------------------------------------- 
Job start 
Search space: Bitstring 
Problem: Max 3-SAT 
Problem instance: C:/EA/Build/../ALL_3SAT/uf175-753/uf175-014.cnf
Algorithm: Hybrid with Partition Crossover
Running Time: 50000 milliseconds
Iteration: 0, Fitness: 737
Iteration: 7, Fitness: 738
Iteration: 10, Fitness: 741
Iteration: 20, Fitness: 742
Iteration: 30, Fitness: 743
Iteration: 100, Fitness: 744
Iteration: 320, Fitness: 746
Iteration: 324, Fitness: 747
Iteration: 560, Fitness: 748
Iteration: 2320, Fitness: 749
------------------------------- 
Job Complete 
Iterations: 2448
Best Solution Fitness: 749 
Not Optimal 
------------------------------- 
Maximum number of components in parition crossover: 12
Average number of components in parition crossover: 2.96694
--------------------------------------------- 
