--------------------------------------------- 
Job start 
Search space: Bitstring 
Problem: Max 3-SAT 
Problem instance: C:/EA/Build/../ALL_3SAT/uf175-753/uf175-048.cnf
Algorithm: Hybrid with Partition Crossover
Running Time: 50000 milliseconds
Iteration: 0, Fitness: 740
Iteration: 5, Fitness: 741
Iteration: 10, Fitness: 742
Iteration: 20, Fitness: 743
Iteration: 29, Fitness: 744
Iteration: 40, Fitness: 745
Iteration: 70, Fitness: 746
Iteration: 90, Fitness: 747
Iteration: 100, Fitness: 748
Iteration: 120, Fitness: 749
Iteration: 630, Fitness: 750
------------------------------- 
Job Complete 
Iterations: 2364
Best Solution Fitness: 750 
Not Optimal 
------------------------------- 
Maximum number of components in parition crossover: 12
Average number of components in parition crossover: 3.29725
--------------------------------------------- 
