--------------------------------------------- 
Job start 
Search space: Bitstring 
Problem: Max 3-SAT 
Problem instance: C:/EA/Build/../ALL_3SAT/uf175-753/uf175-059.cnf
Algorithm: Hybrid with Partition Crossover
Running Time: 50000 milliseconds
Iteration: 0, Fitness: 735
Iteration: 10, Fitness: 737
Iteration: 20, Fitness: 738
Iteration: 27, Fitness: 739
Iteration: 40, Fitness: 740
Iteration: 49, Fitness: 741
Iteration: 74, Fitness: 742
Iteration: 79, Fitness: 743
Iteration: 80, Fitness: 744
Iteration: 106, Fitness: 745
Iteration: 190, Fitness: 746
------------------------------- 
Job Complete 
Iterations: 2368
Best Solution Fitness: 746 
Not Optimal 
------------------------------- 
Maximum number of components in parition crossover: 11
Average number of components in parition crossover: 3.06808
--------------------------------------------- 
