--------------------------------------------- 
Job start 
Search space: Bitstring 
Problem: Max 3-SAT 
Problem instance: C:/EA/Build/../ALL_3SAT/uf175-753/uf175-057.cnf
Algorithm: Hybrid with Partition Crossover
Running Time: 50000 milliseconds
Iteration: 0, Fitness: 741
Iteration: 5, Fitness: 742
Iteration: 10, Fitness: 743
Iteration: 20, Fitness: 744
Iteration: 30, Fitness: 745
Iteration: 40, Fitness: 746
Iteration: 100, Fitness: 747
Iteration: 130, Fitness: 748
Iteration: 138, Fitness: 749
Iteration: 190, Fitness: 750
Iteration: 240, Fitness: 751
------------------------------- 
Job Complete 
Iterations: 2351
Best Solution Fitness: 751 
Not Optimal 
------------------------------- 
Maximum number of components in parition crossover: 11
Average number of components in parition crossover: 2.85322
--------------------------------------------- 
