--------------------------------------------- 
Job start 
Search space: Bitstring 
Problem: Max 3-SAT 
Problem instance: C:/EA/Build/../ALL_3SAT/uf175-753/uf175-027.cnf
Algorithm: Hybrid with Two point Crossover
Running Time: 50000 milliseconds
Iteration: 0, Fitness: 738
Iteration: 10, Fitness: 739
Iteration: 17, Fitness: 740
Iteration: 20, Fitness: 741
Iteration: 30, Fitness: 744
Iteration: 40, Fitness: 745
Iteration: 670, Fitness: 746
Iteration: 710, Fitness: 747
Iteration: 950, Fitness: 748
------------------------------- 
Job Complete 
Iterations: 9171
Best Solution Fitness: 748 
Not Optimal 
--------------------------------------------- 
