--------------------------------------------- 
Job start 
Search space: Bitstring 
Problem: Max 3-SAT 
Problem instance: C:/EA/Build/../ALL_3SAT/uf175-753/uf175-085.cnf
Algorithm: Hybrid with Two point Crossover
Running Time: 50000 milliseconds
Iteration: 0, Fitness: 739
Iteration: 10, Fitness: 740
Iteration: 80, Fitness: 741
Iteration: 90, Fitness: 742
Iteration: 130, Fitness: 743
Iteration: 720, Fitness: 744
Iteration: 750, Fitness: 745
Iteration: 780, Fitness: 746
Iteration: 2820, Fitness: 747
Iteration: 3930, Fitness: 749
------------------------------- 
Job Complete 
Iterations: 9151
Best Solution Fitness: 749 
Not Optimal 
--------------------------------------------- 
