--------------------------------------------- 
Job start 
Search space: Bitstring 
Problem: Max 3-SAT 
Problem instance: C:/EA/Build/../ALL_3SAT/uf175-753/uf175-069.cnf
Algorithm: Hybrid with Two point Crossover
Running Time: 50000 milliseconds
Iteration: 0, Fitness: 741
Iteration: 10, Fitness: 744
Iteration: 30, Fitness: 746
Iteration: 40, Fitness: 747
Iteration: 80, Fitness: 748
Iteration: 110, Fitness: 749
Iteration: 930, Fitness: 750
Iteration: 970, Fitness: 751
------------------------------- 
Job Complete 
Iterations: 9141
Best Solution Fitness: 751 
Not Optimal 
--------------------------------------------- 
