--------------------------------------------- 
Job start 
Search space: Bitstring 
Problem: Max 3-SAT 
Problem instance: C:/EA/Build/../ALL_3SAT/uf175-753/uf175-076.cnf
Algorithm: Hybrid with Two point Crossover
Running Time: 50000 milliseconds
Iteration: 0, Fitness: 737
Iteration: 10, Fitness: 738
Iteration: 40, Fitness: 739
Iteration: 80, Fitness: 740
Iteration: 90, Fitness: 741
Iteration: 160, Fitness: 743
Iteration: 180, Fitness: 746
Iteration: 300, Fitness: 747
Iteration: 850, Fitness: 748
Iteration: 2000, Fitness: 749
Iteration: 2030, Fitness: 750
------------------------------- 
Job Complete 
Iterations: 9051
Best Solution Fitness: 750 
Not Optimal 
--------------------------------------------- 
