--------------------------------------------- 
Job start 
Search space: Bitstring 
Problem: Max 3-SAT 
Problem instance: C:/EA/Build/../ALL_3SAT/uf175-753/uf175-011.cnf
Algorithm: Hybrid with Two point Crossover
Running Time: 50000 milliseconds
Iteration: 0, Fitness: 743
Iteration: 10, Fitness: 745
Iteration: 20, Fitness: 747
Iteration: 30, Fitness: 748
Iteration: 50, Fitness: 749
Iteration: 70, Fitness: 750
Iteration: 1750, Fitness: 751
Iteration: 8770, Fitness: 752
------------------------------- 
Job Complete 
Iterations: 9161
Best Solution Fitness: 752 
Not Optimal 
--------------------------------------------- 
