--------------------------------------------- 
Job start 
Search space: Bitstring 
Problem: Max 3-SAT 
Problem instance: C:/EA/Build/../ALL_3SAT/uf175-753/uf175-073.cnf
Algorithm: Hybrid with Two point Crossover
Running Time: 50000 milliseconds
Iteration: 0, Fitness: 740
Iteration: 9, Fitness: 741
Iteration: 10, Fitness: 745
Iteration: 80, Fitness: 746
Iteration: 160, Fitness: 748
------------------------------- 
Job Complete 
Iterations: 9121
Best Solution Fitness: 748 
Not Optimal 
--------------------------------------------- 
