--------------------------------------------- 
Job start 
Search space: Bitstring 
Problem: Max 3-SAT 
Problem instance: C:/EA/Build/../ALL_3SAT/uf175-753/uf175-046.cnf
Algorithm: Hybrid with Two point Crossover
Running Time: 50000 milliseconds
Iteration: 0, Fitness: 734
Iteration: 10, Fitness: 740
Iteration: 20, Fitness: 743
Iteration: 30, Fitness: 745
Iteration: 40, Fitness: 746
Iteration: 170, Fitness: 748
Iteration: 190, Fitness: 749
Iteration: 200, Fitness: 750
------------------------------- 
Job Complete 
Iterations: 9101
Best Solution Fitness: 750 
Not Optimal 
--------------------------------------------- 
