--------------------------------------------- 
Job start 
Search space: Bitstring 
Problem: Max 3-SAT 
Problem instance: C:/EA/Build/../ALL_3SAT/uf175-753/uf175-075.cnf
Algorithm: Hybrid with Two point Crossover
Running Time: 50000 milliseconds
Iteration: 0, Fitness: 738
Iteration: 10, Fitness: 742
Iteration: 11, Fitness: 743
Iteration: 20, Fitness: 744
Iteration: 30, Fitness: 745
Iteration: 4060, Fitness: 746
------------------------------- 
Job Complete 
Iterations: 9151
Best Solution Fitness: 746 
Not Optimal 
--------------------------------------------- 
