--------------------------------------------- 
Job start 
Search space: Bitstring 
Problem: Max 3-SAT 
Problem instance: C:/EA/Build/../ALL_3SAT/uf175-753/uf175-040.cnf
Algorithm: Hybrid with Two point Crossover improved by local search
Running Time: 50000 milliseconds
Iteration: 0, Fitness: 736
Iteration: 1, Fitness: 739
Iteration: 2, Fitness: 740
Iteration: 3, Fitness: 742
Iteration: 4, Fitness: 743
Iteration: 5, Fitness: 745
Iteration: 6, Fitness: 746
Iteration: 7, Fitness: 747
Iteration: 10, Fitness: 748
Iteration: 15, Fitness: 749
Iteration: 16, Fitness: 751
Iteration: 23, Fitness: 752
------------------------------- 
Job Complete 
Iterations: 1541
Best Solution Fitness: 752 
Not Optimal 
------------------------------- 
Local optimality of 2-point crossover children
Local optimal count: 1995
Not local optimal count: 43245
--------------------------------------------- 
