--------------------------------------------- 
Job start 
Search space: Bitstring 
Problem: Max 3-SAT 
Problem instance: C:/EA/Build/../ALL_3SAT/uf175-753/uf175-010.cnf
Algorithm: Hybrid with Two point Crossover improved by local search
Running Time: 50000 milliseconds
Iteration: 0, Fitness: 736
Iteration: 1, Fitness: 739
Iteration: 2, Fitness: 740
Iteration: 3, Fitness: 742
Iteration: 4, Fitness: 744
Iteration: 5, Fitness: 745
Iteration: 7, Fitness: 746
Iteration: 9, Fitness: 747
Iteration: 14, Fitness: 748
Iteration: 17, Fitness: 749
Iteration: 29, Fitness: 750
Iteration: 40, Fitness: 751
Iteration: 55, Fitness: 752
Iteration: 134, Fitness: 753
------------------------------- 
Job Complete 
Iterations: 135
Best Solution Fitness: 753 
Optimal 
------------------------------- 
Local optimality of 2-point crossover children
Local optimal count: 171
Not local optimal count: 3720
--------------------------------------------- 
