--------------------------------------------- 
Job start 
Search space: Bitstring 
Problem: Max 3-SAT 
Problem instance: C:/EA/Build/../ALL_3SAT/uf175-753/uf175-030.cnf
Algorithm: Hybrid with Two point Crossover improved by local search
Running Time: 50000 milliseconds
Iteration: 0, Fitness: 743
Iteration: 4, Fitness: 745
Iteration: 7, Fitness: 746
Iteration: 9, Fitness: 747
Iteration: 16, Fitness: 748
Iteration: 23, Fitness: 749
Iteration: 128, Fitness: 750
------------------------------- 
Job Complete 
Iterations: 1549
Best Solution Fitness: 750 
Not Optimal 
------------------------------- 
Local optimality of 2-point crossover children
Local optimal count: 2411
Not local optimal count: 43273
--------------------------------------------- 
