--------------------------------------------- 
Job start 
Search space: Bitstring 
Problem: Max 3-SAT 
Problem instance: C:/EA/Build/../ALL_3SAT/uf175-753/uf175-067.cnf
Algorithm: Hybrid with Two point Crossover improved by local search
Running Time: 50000 milliseconds
Iteration: 0, Fitness: 741
Iteration: 1, Fitness: 742
Iteration: 2, Fitness: 744
Iteration: 4, Fitness: 745
Iteration: 5, Fitness: 746
Iteration: 6, Fitness: 749
Iteration: 16, Fitness: 750
Iteration: 19, Fitness: 751
Iteration: 25, Fitness: 752
------------------------------- 
Job Complete 
Iterations: 1586
Best Solution Fitness: 752 
Not Optimal 
------------------------------- 
Local optimality of 2-point crossover children
Local optimal count: 2416
Not local optimal count: 44053
--------------------------------------------- 
