--------------------------------------------- 
Job start 
Search space: Bitstring 
Problem: Max 3-SAT 
Problem instance: C:/EA/Build/../ALL_3SAT/uf175-753/uf175-065.cnf
Algorithm: Hybrid with Two point Crossover improved by local search
Running Time: 50000 milliseconds
Iteration: 0, Fitness: 737
Iteration: 1, Fitness: 743
Iteration: 2, Fitness: 746
Iteration: 4, Fitness: 747
Iteration: 9, Fitness: 748
Iteration: 14, Fitness: 749
Iteration: 19, Fitness: 750
Iteration: 26, Fitness: 751
------------------------------- 
Job Complete 
Iterations: 1567
Best Solution Fitness: 751 
Not Optimal 
------------------------------- 
Local optimality of 2-point crossover children
Local optimal count: 2776
Not local optimal count: 43384
--------------------------------------------- 
