--------------------------------------------- 
Job start 
Search space: Bitstring 
Problem: Max 3-SAT 
Problem instance: C:/EA/Build/../ALL_3SAT/uf200-860/uf200-069.cnf
Algorithm: Hybrid with Two point Crossover
Running Time: 50000 milliseconds
Iteration: 0, Fitness: 846
Iteration: 20, Fitness: 848
Iteration: 30, Fitness: 850
Iteration: 40, Fitness: 852
Iteration: 50, Fitness: 853
Iteration: 60, Fitness: 854
Iteration: 80, Fitness: 855
Iteration: 150, Fitness: 856
------------------------------- 
Job Complete 
Iterations: 7261
Best Solution Fitness: 856 
Not Optimal 
--------------------------------------------- 
