--------------------------------------------- 
Job start 
Search space: Bitstring 
Problem: Max 3-SAT 
Problem instance: C:/EA/Build/../ALL_3SAT/uf200-860/uf200-073.cnf
Algorithm: Hybrid with Two point Crossover
Running Time: 50000 milliseconds
Iteration: 0, Fitness: 848
Iteration: 10, Fitness: 851
Iteration: 30, Fitness: 852
Iteration: 60, Fitness: 853
Iteration: 180, Fitness: 854
Iteration: 240, Fitness: 855
Iteration: 450, Fitness: 856
------------------------------- 
Job Complete 
Iterations: 7231
Best Solution Fitness: 856 
Not Optimal 
--------------------------------------------- 
