--------------------------------------------- 
Job start 
Search space: Bitstring 
Problem: Max 3-SAT 
Problem instance: C:/EA/Build/../ALL_3SAT/uf200-860/uf200-091.cnf
Algorithm: Hybrid with Two point Crossover
Running Time: 50000 milliseconds
Iteration: 0, Fitness: 846
Iteration: 10, Fitness: 847
Iteration: 20, Fitness: 848
Iteration: 30, Fitness: 850
Iteration: 70, Fitness: 851
Iteration: 100, Fitness: 852
Iteration: 120, Fitness: 853
Iteration: 150, Fitness: 855
Iteration: 810, Fitness: 856
Iteration: 1420, Fitness: 857
------------------------------- 
Job Complete 
Iterations: 7221
Best Solution Fitness: 857 
Not Optimal 
--------------------------------------------- 
