--------------------------------------------- 
Job start 
Search space: Bitstring 
Problem: Max 3-SAT 
Problem instance: C:/EA/Build/../ALL_3SAT/uf200-860/uf200-082.cnf
Algorithm: Hybrid with Two point Crossover
Running Time: 50000 milliseconds
Iteration: 0, Fitness: 842
Iteration: 10, Fitness: 845
Iteration: 40, Fitness: 846
Iteration: 120, Fitness: 848
Iteration: 130, Fitness: 849
Iteration: 150, Fitness: 851
Iteration: 160, Fitness: 852
Iteration: 190, Fitness: 853
Iteration: 220, Fitness: 854
Iteration: 230, Fitness: 855
Iteration: 1070, Fitness: 856
------------------------------- 
Job Complete 
Iterations: 7251
Best Solution Fitness: 856 
Not Optimal 
--------------------------------------------- 
