--------------------------------------------- 
Job start 
Search space: Bitstring 
Problem: Max 3-SAT 
Problem instance: C:/EA/Build/../ALL_3SAT/uf200-860/uf200-077.cnf
Algorithm: Hybrid with Two point Crossover
Running Time: 50000 milliseconds
Iteration: 0, Fitness: 844
Iteration: 10, Fitness: 848
Iteration: 20, Fitness: 850
Iteration: 50, Fitness: 851
Iteration: 60, Fitness: 852
Iteration: 270, Fitness: 853
Iteration: 5950, Fitness: 854
------------------------------- 
Job Complete 
Iterations: 7191
Best Solution Fitness: 854 
Not Optimal 
--------------------------------------------- 
