--------------------------------------------- 
Job start 
Search space: Bitstring 
Problem: Max 3-SAT 
Problem instance: C:/EA/Build/../ALL_3SAT/uf200-860/uf200-088.cnf
Algorithm: Hybrid with Two point Crossover
Running Time: 50000 milliseconds
Iteration: 0, Fitness: 846
Iteration: 10, Fitness: 847
Iteration: 30, Fitness: 848
Iteration: 40, Fitness: 849
Iteration: 70, Fitness: 850
Iteration: 110, Fitness: 851
Iteration: 190, Fitness: 852
Iteration: 200, Fitness: 853
Iteration: 420, Fitness: 854
------------------------------- 
Job Complete 
Iterations: 7261
Best Solution Fitness: 854 
Not Optimal 
--------------------------------------------- 
