--------------------------------------------- 
Job start 
Search space: Bitstring 
Problem: Max 3-SAT 
Problem instance: C:/EA/Build/../ALL_3SAT/uf200-860/uf200-087.cnf
Algorithm: Hybrid with Two point Crossover
Running Time: 50000 milliseconds
Iteration: 0, Fitness: 840
Iteration: 10, Fitness: 842
Iteration: 20, Fitness: 844
Iteration: 30, Fitness: 846
Iteration: 110, Fitness: 847
Iteration: 130, Fitness: 848
Iteration: 150, Fitness: 849
Iteration: 210, Fitness: 850
Iteration: 220, Fitness: 851
Iteration: 230, Fitness: 852
Iteration: 330, Fitness: 853
Iteration: 340, Fitness: 854
Iteration: 770, Fitness: 855
------------------------------- 
Job Complete 
Iterations: 7241
Best Solution Fitness: 855 
Not Optimal 
--------------------------------------------- 
