--------------------------------------------- 
Job start 
Search space: Bitstring 
Problem: Max 3-SAT 
Problem instance: C:/EA/Build/../ALL_3SAT/uf200-860/uf200-054.cnf
Algorithm: Hybrid with Two point Crossover
Running Time: 50000 milliseconds
Iteration: 0, Fitness: 849
Iteration: 10, Fitness: 850
Iteration: 40, Fitness: 851
Iteration: 70, Fitness: 852
Iteration: 190, Fitness: 853
Iteration: 1090, Fitness: 854
Iteration: 1820, Fitness: 855
Iteration: 1860, Fitness: 856
------------------------------- 
Job Complete 
Iterations: 7221
Best Solution Fitness: 856 
Not Optimal 
--------------------------------------------- 
