--------------------------------------------- 
Job start 
Search space: Bitstring 
Problem: Max 3-SAT 
Problem instance: C:/EA/Build/../ALL_3SAT/uf200-860/uf200-032.cnf
Algorithm: Hybrid with Two point Crossover
Running Time: 50000 milliseconds
Iteration: 0, Fitness: 840
Iteration: 10, Fitness: 843
Iteration: 20, Fitness: 849
Iteration: 30, Fitness: 851
Iteration: 40, Fitness: 852
Iteration: 120, Fitness: 853
Iteration: 330, Fitness: 854
Iteration: 390, Fitness: 855
Iteration: 3580, Fitness: 856
------------------------------- 
Job Complete 
Iterations: 7271
Best Solution Fitness: 856 
Not Optimal 
--------------------------------------------- 
