--------------------------------------------- 
Job start 
Search space: Bitstring 
Problem: Max 3-SAT 
Problem instance: C:/EA/Build/../ALL_3SAT/uf50-218/uf50-0126.cnf
Algorithm: Hybrid with No Crossover
Running Time: 50000 milliseconds
Iteration: 0, Fitness: 216
Iteration: 70, Fitness: 217
Iteration: 3250, Fitness: 218
------------------------------- 
Job Complete 
Iterations: 3251
Best Solution Fitness: 218 
Optimal 
--------------------------------------------- 
