--------------------------------------------- 
Job start 
Search space: Bitstring 
Problem: Max 3-SAT 
Problem instance: C:/EA/Build/../ALL_3SAT/uf250-1065/uf250-021.cnf
Algorithm: Hybrid with Partition Crossover
Running Time: 50000 milliseconds
Iteration: 0, Fitness: 1042
Iteration: 1, Fitness: 1043
Iteration: 4, Fitness: 1044
Iteration: 5, Fitness: 1045
Iteration: 7, Fitness: 1046
Iteration: 9, Fitness: 1047
Iteration: 10, Fitness: 1054
Iteration: 30, Fitness: 1055
Iteration: 33, Fitness: 1056
Iteration: 100, Fitness: 1057
Iteration: 140, Fitness: 1058
Iteration: 150, Fitness: 1059
Iteration: 197, Fitness: 1060
Iteration: 350, Fitness: 1061
Iteration: 360, Fitness: 1062
------------------------------- 
Job Complete 
Iterations: 1491
Best Solution Fitness: 1062 
Not Optimal 
------------------------------- 
Maximum number of components in parition crossover: 13
Average number of components in parition crossover: 4.32697
--------------------------------------------- 
