--------------------------------------------- 
Job start 
Search space: Bitstring 
Problem: Max 3-SAT 
Problem instance: C:/EA/Build/../ALL_3SAT/uf250-1065/uf250-036.cnf
Algorithm: Hybrid with Partition Crossover
Running Time: 50000 milliseconds
Iteration: 0, Fitness: 1044
Iteration: 3, Fitness: 1045
Iteration: 20, Fitness: 1046
Iteration: 30, Fitness: 1047
Iteration: 50, Fitness: 1048
Iteration: 60, Fitness: 1049
Iteration: 63, Fitness: 1050
Iteration: 70, Fitness: 1051
Iteration: 160, Fitness: 1052
Iteration: 190, Fitness: 1053
Iteration: 240, Fitness: 1054
Iteration: 1230, Fitness: 1055
Iteration: 1309, Fitness: 1056
------------------------------- 
Job Complete 
Iterations: 1521
Best Solution Fitness: 1056 
Not Optimal 
------------------------------- 
Maximum number of components in parition crossover: 11
Average number of components in parition crossover: 3.45684
--------------------------------------------- 
