--------------------------------------------- 
Job start 
Search space: Bitstring 
Problem: Max 3-SAT 
Problem instance: C:/EA/Build/../ALL_3SAT/uf250-1065/uf250-018.cnf
Algorithm: Hybrid with Partition Crossover
Running Time: 50000 milliseconds
Iteration: 0, Fitness: 1043
Iteration: 8, Fitness: 1044
Iteration: 10, Fitness: 1047
Iteration: 45, Fitness: 1048
Iteration: 50, Fitness: 1049
Iteration: 60, Fitness: 1050
Iteration: 130, Fitness: 1051
Iteration: 180, Fitness: 1052
Iteration: 190, Fitness: 1053
Iteration: 199, Fitness: 1054
Iteration: 200, Fitness: 1055
Iteration: 203, Fitness: 1056
Iteration: 210, Fitness: 1057
Iteration: 470, Fitness: 1058
Iteration: 1160, Fitness: 1059
Iteration: 1230, Fitness: 1060
------------------------------- 
Job Complete 
Iterations: 1502
Best Solution Fitness: 1060 
Not Optimal 
------------------------------- 
Maximum number of components in parition crossover: 13
Average number of components in parition crossover: 4.09843
--------------------------------------------- 
