--------------------------------------------- 
Job start 
Search space: Bitstring 
Problem: Max 3-SAT 
Problem instance: C:/EA/Build/../ALL_3SAT/uf250-1065/uf250-0100.cnf
Algorithm: Hybrid with Partition Crossover
Running Time: 50000 milliseconds
Iteration: 0, Fitness: 1043
Iteration: 8, Fitness: 1044
Iteration: 10, Fitness: 1047
Iteration: 30, Fitness: 1050
Iteration: 36, Fitness: 1051
Iteration: 50, Fitness: 1052
Iteration: 240, Fitness: 1053
Iteration: 560, Fitness: 1054
Iteration: 1330, Fitness: 1055
Iteration: 1360, Fitness: 1056
------------------------------- 
Job Complete 
Iterations: 1527
Best Solution Fitness: 1056 
Not Optimal 
------------------------------- 
Maximum number of components in parition crossover: 15
Average number of components in parition crossover: 3.86965
--------------------------------------------- 
