--------------------------------------------- 
Job start 
Search space: Bitstring 
Problem: Max 3-SAT 
Problem instance: C:/EA/Build/../ALL_3SAT/uf250-1065/uf250-055.cnf
Algorithm: Hybrid with Partition Crossover
Running Time: 50000 milliseconds
Iteration: 0, Fitness: 1045
Iteration: 10, Fitness: 1047
Iteration: 16, Fitness: 1048
Iteration: 20, Fitness: 1049
Iteration: 30, Fitness: 1050
Iteration: 32, Fitness: 1051
Iteration: 40, Fitness: 1054
Iteration: 60, Fitness: 1055
Iteration: 70, Fitness: 1056
Iteration: 110, Fitness: 1057
Iteration: 290, Fitness: 1058
Iteration: 369, Fitness: 1059
------------------------------- 
Job Complete 
Iterations: 1508
Best Solution Fitness: 1059 
Not Optimal 
------------------------------- 
Maximum number of components in parition crossover: 16
Average number of components in parition crossover: 4.67775
--------------------------------------------- 
