--------------------------------------------- 
Job start 
Search space: Bitstring 
Problem: Max 3-SAT 
Problem instance: C:/EA/Build/../ALL_3SAT/uf125-538/uf125-037.cnf
Algorithm: Hybrid with Partition Crossover
Running Time: 50000 milliseconds
Iteration: 0, Fitness: 526
Iteration: 22, Fitness: 527
Iteration: 30, Fitness: 532
Iteration: 35, Fitness: 533
Iteration: 39, Fitness: 534
Iteration: 40, Fitness: 535
Iteration: 120, Fitness: 536
Iteration: 753, Fitness: 537
------------------------------- 
Job Complete 
Iterations: 3531
Best Solution Fitness: 537 
Not Optimal 
------------------------------- 
Maximum number of components in parition crossover: 10
Average number of components in parition crossover: 2.73142
--------------------------------------------- 
