--------------------------------------------- 
Job start 
Search space: Bitstring 
Problem: Max 3-SAT 
Problem instance: C:/EA/Build/../ALL_3SAT/uf125-538/uf125-074.cnf
Algorithm: Hybrid with Partition Crossover
Running Time: 50000 milliseconds
Iteration: 0, Fitness: 528
Iteration: 9, Fitness: 529
Iteration: 20, Fitness: 530
Iteration: 30, Fitness: 531
Iteration: 70, Fitness: 532
Iteration: 120, Fitness: 533
------------------------------- 
Job Complete 
Iterations: 3555
Best Solution Fitness: 533 
Not Optimal 
------------------------------- 
Maximum number of components in parition crossover: 11
Average number of components in parition crossover: 2.3605
--------------------------------------------- 
