--------------------------------------------- 
Job start 
Search space: Bitstring 
Problem: Max 3-SAT 
Problem instance: C:/EA/Build/../ALL_3SAT/uf125-538/uf125-09.cnf
Algorithm: Hybrid with Partition Crossover
Running Time: 50000 milliseconds
Iteration: 0, Fitness: 532
Iteration: 27, Fitness: 533
Iteration: 30, Fitness: 534
Iteration: 220, Fitness: 535
Iteration: 229, Fitness: 536
------------------------------- 
Job Complete 
Iterations: 4091
Best Solution Fitness: 536 
Not Optimal 
------------------------------- 
Maximum number of components in parition crossover: 10
Average number of components in parition crossover: 2.96173
--------------------------------------------- 
