--------------------------------------------- 
Job start 
Search space: Bitstring 
Problem: Max 3-SAT 
Problem instance: C:/EA/Build/../ALL_3SAT/uf125-538/uf125-022.cnf
Algorithm: Hybrid with Partition Crossover
Running Time: 50000 milliseconds
Iteration: 0, Fitness: 529
Iteration: 7, Fitness: 530
Iteration: 8, Fitness: 531
Iteration: 310, Fitness: 532
------------------------------- 
Job Complete 
Iterations: 3677
Best Solution Fitness: 532 
Not Optimal 
------------------------------- 
Maximum number of components in parition crossover: 10
Average number of components in parition crossover: 2.13546
--------------------------------------------- 
