--------------------------------------------- 
Job start 
Search space: Bitstring 
Problem: Max 3-SAT 
Problem instance: C:/EA/Build/../ALL_3SAT/uf150-645/uf150-061.cnf
Algorithm: Hybrid with Two point Crossover
Running Time: 50000 milliseconds
Iteration: 0, Fitness: 633
Iteration: 10, Fitness: 635
Iteration: 20, Fitness: 637
Iteration: 30, Fitness: 639
Iteration: 40, Fitness: 640
Iteration: 390, Fitness: 641
Iteration: 6130, Fitness: 642
------------------------------- 
Job Complete 
Iterations: 11946
Best Solution Fitness: 642 
Not Optimal 
--------------------------------------------- 
