--------------------------------------------- 
Job start 
Search space: Bitstring 
Problem: Max 3-SAT 
Problem instance: C:/EA/Build/../ALL_3SAT/uf125-538/uf125-061.cnf
Algorithm: Hybrid with Two point Crossover
Running Time: 50000 milliseconds
Iteration: 0, Fitness: 529
Iteration: 20, Fitness: 531
Iteration: 30, Fitness: 533
Iteration: 90, Fitness: 534
Iteration: 1000, Fitness: 535
Iteration: 1020, Fitness: 536
Iteration: 2980, Fitness: 537
------------------------------- 
Job Complete 
Iterations: 16012
Best Solution Fitness: 537 
Not Optimal 
--------------------------------------------- 
