--------------------------------------------- 
Job start 
Search space: Bitstring 
Problem: Max 3-SAT 
Problem instance: C:/EA/Build/../ALL_3SAT/uf125-538/uf125-017.cnf
Algorithm: Hybrid with Two point Crossover
Running Time: 50000 milliseconds
Iteration: 0, Fitness: 528
Iteration: 60, Fitness: 530
Iteration: 100, Fitness: 532
Iteration: 260, Fitness: 533
Iteration: 3310, Fitness: 534
------------------------------- 
Job Complete 
Iterations: 16126
Best Solution Fitness: 534 
Not Optimal 
--------------------------------------------- 
