--------------------------------------------- 
Job start 
Search space: Bitstring 
Problem: Max 3-SAT 
Problem instance: C:/EA/Build/../ALL_3SAT/uf125-538/uf125-013.cnf
Algorithm: Hybrid with Two point Crossover
Running Time: 50000 milliseconds
Iteration: 0, Fitness: 529
Iteration: 50, Fitness: 530
Iteration: 70, Fitness: 531
Iteration: 160, Fitness: 532
Iteration: 340, Fitness: 533
Iteration: 350, Fitness: 534
------------------------------- 
Job Complete 
Iterations: 16071
Best Solution Fitness: 534 
Not Optimal 
--------------------------------------------- 
