--------------------------------------------- 
Job start 
Search space: Bitstring 
Problem: Max 3-SAT 
Problem instance: C:/EA/Build/../ALL_3SAT/uf125-538/uf125-010.cnf
Algorithm: Hybrid with Two point Crossover
Running Time: 50000 milliseconds
Iteration: 0, Fitness: 532
Iteration: 40, Fitness: 533
Iteration: 200, Fitness: 534
Iteration: 260, Fitness: 535
Iteration: 3550, Fitness: 536
------------------------------- 
Job Complete 
Iterations: 16181
Best Solution Fitness: 536 
Not Optimal 
--------------------------------------------- 
