--------------------------------------------- 
Job start 
Search space: Bitstring 
Problem: Max 3-SAT 
Problem instance: C:/EA/Build/../ALL_3SAT/uf125-538/uf125-0100.cnf
Algorithm: Hybrid with Two point Crossover
Running Time: 50000 milliseconds
Iteration: 0, Fitness: 528
Iteration: 10, Fitness: 529
Iteration: 14, Fitness: 530
Iteration: 20, Fitness: 531
Iteration: 80, Fitness: 532
Iteration: 90, Fitness: 534
Iteration: 160, Fitness: 535
Iteration: 1050, Fitness: 536
------------------------------- 
Job Complete 
Iterations: 16131
Best Solution Fitness: 536 
Not Optimal 
--------------------------------------------- 
