--------------------------------------------- 
Job start 
Search space: Bitstring 
Problem: Max 3-SAT 
Problem instance: C:/EA/Build/../ALL_3SAT/uf125-538/uf125-06.cnf
Algorithm: Hybrid with Two point Crossover
Running Time: 50000 milliseconds
Iteration: 0, Fitness: 526
Iteration: 2, Fitness: 527
Iteration: 10, Fitness: 532
Iteration: 20, Fitness: 533
Iteration: 2720, Fitness: 534
------------------------------- 
Job Complete 
Iterations: 16091
Best Solution Fitness: 534 
Not Optimal 
--------------------------------------------- 
