--------------------------------------------- 
Job start 
Search space: Bitstring 
Problem: Max 3-SAT 
Problem instance: C:/EA/Build/../ALL_3SAT/uf125-538/uf125-074.cnf
Algorithm: Hybrid with Two point Crossover
Running Time: 50000 milliseconds
Iteration: 0, Fitness: 526
Iteration: 10, Fitness: 529
Iteration: 30, Fitness: 530
Iteration: 40, Fitness: 532
Iteration: 70, Fitness: 534
Iteration: 80, Fitness: 535
Iteration: 120, Fitness: 536
Iteration: 460, Fitness: 537
------------------------------- 
Job Complete 
Iterations: 16081
Best Solution Fitness: 537 
Not Optimal 
--------------------------------------------- 
