--------------------------------------------- 
Job start 
Search space: Bitstring 
Problem: Max 3-SAT 
Problem instance: C:/EA/Build/../ALL_3SAT/uf125-538/uf125-04.cnf
Algorithm: Hybrid with Two point Crossover
Running Time: 50000 milliseconds
Iteration: 0, Fitness: 530
Iteration: 10, Fitness: 532
Iteration: 40, Fitness: 533
Iteration: 60, Fitness: 534
Iteration: 2140, Fitness: 535
Iteration: 2460, Fitness: 536
------------------------------- 
Job Complete 
Iterations: 16041
Best Solution Fitness: 536 
Not Optimal 
--------------------------------------------- 
