--------------------------------------------- 
Job start 
Search space: Bitstring 
Problem: Max 3-SAT 
Problem instance: C:/EA/Build/../ALL_3SAT/uf200-860/uf200-052.cnf
Algorithm: Black-Box Generational 
Running Time: 50000 milliseconds
Iteration: 0, Fitness: 768
Iteration: 2, Fitness: 773
Iteration: 3, Fitness: 775
Iteration: 4, Fitness: 777
Iteration: 5, Fitness: 781
Iteration: 6, Fitness: 787
Iteration: 9, Fitness: 796
Iteration: 15, Fitness: 797
Iteration: 16, Fitness: 799
Iteration: 17, Fitness: 800
Iteration: 18, Fitness: 803
Iteration: 19, Fitness: 804
Iteration: 22, Fitness: 806
Iteration: 23, Fitness: 807
Iteration: 24, Fitness: 809
Iteration: 27, Fitness: 814
Iteration: 28, Fitness: 815
Iteration: 29, Fitness: 816
Iteration: 30, Fitness: 818
Iteration: 35, Fitness: 819
Iteration: 38, Fitness: 820
Iteration: 40, Fitness: 823
Iteration: 41, Fitness: 824
Iteration: 44, Fitness: 825
Iteration: 45, Fitness: 826
Iteration: 46, Fitness: 827
Iteration: 47, Fitness: 828
Iteration: 49, Fitness: 832
Iteration: 53, Fitness: 833
Iteration: 54, Fitness: 835
Iteration: 59, Fitness: 837
Iteration: 68, Fitness: 838
Iteration: 73, Fitness: 839
Iteration: 75, Fitness: 841
Iteration: 84, Fitness: 842
Iteration: 86, Fitness: 843
Iteration: 92, Fitness: 845
Iteration: 102, Fitness: 846
Iteration: 106, Fitness: 847
Iteration: 123, Fitness: 848
Iteration: 128, Fitness: 849
Iteration: 137, Fitness: 850
Iteration: 154, Fitness: 851
Iteration: 170, Fitness: 852
Iteration: 185, Fitness: 853
Iteration: 215, Fitness: 854
Iteration: 439, Fitness: 855
Iteration: 1105, Fitness: 856
Iteration: 1115, Fitness: 857
Iteration: 1218, Fitness: 858
------------------------------- 
Job Complete 
Iterations: 3935
Best Solution Fitness: 858 
Not Optimal 
--------------------------------------------- 
