--------------------------------------------- 
Job start 
Search space: Bitstring 
Problem: Max 3-SAT 
Problem instance: C:/EA/Build/../ALL_3SAT/uf200-860/uf200-083.cnf
Algorithm: Black-Box Generational 
Running Time: 50000 milliseconds
Iteration: 0, Fitness: 758
Iteration: 1, Fitness: 765
Iteration: 3, Fitness: 767
Iteration: 4, Fitness: 771
Iteration: 6, Fitness: 773
Iteration: 7, Fitness: 778
Iteration: 8, Fitness: 781
Iteration: 10, Fitness: 782
Iteration: 12, Fitness: 784
Iteration: 13, Fitness: 785
Iteration: 14, Fitness: 786
Iteration: 15, Fitness: 790
Iteration: 17, Fitness: 791
Iteration: 19, Fitness: 794
Iteration: 20, Fitness: 797
Iteration: 21, Fitness: 798
Iteration: 22, Fitness: 801
Iteration: 25, Fitness: 803
Iteration: 26, Fitness: 805
Iteration: 28, Fitness: 808
Iteration: 29, Fitness: 809
Iteration: 33, Fitness: 810
Iteration: 37, Fitness: 813
Iteration: 38, Fitness: 817
Iteration: 46, Fitness: 819
Iteration: 49, Fitness: 820
Iteration: 50, Fitness: 822
Iteration: 51, Fitness: 823
Iteration: 58, Fitness: 824
Iteration: 59, Fitness: 825
Iteration: 61, Fitness: 826
Iteration: 63, Fitness: 827
Iteration: 64, Fitness: 828
Iteration: 69, Fitness: 829
Iteration: 72, Fitness: 832
Iteration: 74, Fitness: 834
Iteration: 83, Fitness: 835
Iteration: 84, Fitness: 836
Iteration: 88, Fitness: 837
Iteration: 94, Fitness: 839
Iteration: 102, Fitness: 840
Iteration: 106, Fitness: 841
Iteration: 121, Fitness: 842
Iteration: 131, Fitness: 843
Iteration: 142, Fitness: 845
Iteration: 169, Fitness: 846
Iteration: 248, Fitness: 847
Iteration: 271, Fitness: 848
Iteration: 325, Fitness: 849
Iteration: 406, Fitness: 850
Iteration: 462, Fitness: 851
Iteration: 536, Fitness: 852
Iteration: 601, Fitness: 853
Iteration: 828, Fitness: 854
------------------------------- 
Job Complete 
Iterations: 3938
Best Solution Fitness: 854 
Not Optimal 
--------------------------------------------- 
