--------------------------------------------- 
Job start 
Search space: Bitstring 
Problem: Max 3-SAT 
Problem instance: C:/EA/Build/../ALL_3SAT/uf200-860/uf200-057.cnf
Algorithm: Black-Box Generational 
Running Time: 50000 milliseconds
Iteration: 0, Fitness: 768
Iteration: 1, Fitness: 771
Iteration: 2, Fitness: 776
Iteration: 5, Fitness: 779
Iteration: 6, Fitness: 781
Iteration: 7, Fitness: 782
Iteration: 8, Fitness: 786
Iteration: 9, Fitness: 789
Iteration: 11, Fitness: 797
Iteration: 13, Fitness: 798
Iteration: 14, Fitness: 800
Iteration: 16, Fitness: 804
Iteration: 20, Fitness: 805
Iteration: 21, Fitness: 808
Iteration: 23, Fitness: 812
Iteration: 25, Fitness: 813
Iteration: 26, Fitness: 814
Iteration: 27, Fitness: 816
Iteration: 28, Fitness: 820
Iteration: 36, Fitness: 821
Iteration: 38, Fitness: 822
Iteration: 39, Fitness: 823
Iteration: 41, Fitness: 825
Iteration: 42, Fitness: 828
Iteration: 44, Fitness: 829
Iteration: 46, Fitness: 830
Iteration: 47, Fitness: 831
Iteration: 48, Fitness: 832
Iteration: 50, Fitness: 834
Iteration: 51, Fitness: 835
Iteration: 56, Fitness: 836
Iteration: 57, Fitness: 838
Iteration: 64, Fitness: 839
Iteration: 67, Fitness: 840
Iteration: 70, Fitness: 841
Iteration: 76, Fitness: 842
Iteration: 80, Fitness: 844
Iteration: 90, Fitness: 845
Iteration: 92, Fitness: 846
Iteration: 156, Fitness: 847
Iteration: 171, Fitness: 848
Iteration: 286, Fitness: 849
Iteration: 948, Fitness: 850
Iteration: 1569, Fitness: 851
Iteration: 1721, Fitness: 852
------------------------------- 
Job Complete 
Iterations: 3926
Best Solution Fitness: 852 
Not Optimal 
--------------------------------------------- 
