--------------------------------------------- 
Job start 
Search space: Bitstring 
Problem: Max 3-SAT 
Problem instance: C:/EA/Build/../ALL_3SAT/uf125-538/uf125-074.cnf
Algorithm: Hybrid with No Crossover
Running Time: 50000 milliseconds
Iteration: 0, Fitness: 531
Iteration: 10, Fitness: 532
Iteration: 30, Fitness: 533
Iteration: 40, Fitness: 534
Iteration: 200, Fitness: 535
Iteration: 230, Fitness: 536
Iteration: 910, Fitness: 537
------------------------------- 
Job Complete 
Iterations: 16689
Best Solution Fitness: 537 
Not Optimal 
--------------------------------------------- 
