--------------------------------------------- 
Job start 
Search space: Bitstring 
Problem: Max 3-SAT 
Problem instance: C:/EA/Build/../ALL_3SAT/uf125-538/uf125-088.cnf
Algorithm: Hybrid with No Crossover
Running Time: 50000 milliseconds
Iteration: 0, Fitness: 527
Iteration: 10, Fitness: 529
Iteration: 20, Fitness: 531
Iteration: 40, Fitness: 532
Iteration: 80, Fitness: 533
Iteration: 90, Fitness: 534
Iteration: 150, Fitness: 535
Iteration: 160, Fitness: 536
Iteration: 440, Fitness: 537
------------------------------- 
Job Complete 
Iterations: 18671
Best Solution Fitness: 537 
Not Optimal 
--------------------------------------------- 
