--------------------------------------------- 
Job start 
Search space: Bitstring 
Problem: Max 3-SAT 
Problem instance: C:/EA/Build/../ALL_3SAT/uf125-538/uf125-022.cnf
Algorithm: Hybrid with No Crossover
Running Time: 50000 milliseconds
Iteration: 0, Fitness: 529
Iteration: 10, Fitness: 530
Iteration: 20, Fitness: 532
Iteration: 90, Fitness: 533
Iteration: 100, Fitness: 534
------------------------------- 
Job Complete 
Iterations: 16851
Best Solution Fitness: 534 
Not Optimal 
--------------------------------------------- 
