--------------------------------------------- 
Job start 
Search space: Bitstring 
Problem: Max 3-SAT 
Problem instance: C:/EA/Build/../ALL_3SAT/uf125-538/uf125-079.cnf
Algorithm: Hybrid with No Crossover
Running Time: 50000 milliseconds
Iteration: 0, Fitness: 529
Iteration: 20, Fitness: 530
Iteration: 40, Fitness: 531
Iteration: 50, Fitness: 533
Iteration: 420, Fitness: 534
Iteration: 610, Fitness: 535
Iteration: 620, Fitness: 536
Iteration: 3500, Fitness: 537
------------------------------- 
Job Complete 
Iterations: 16981
Best Solution Fitness: 537 
Not Optimal 
--------------------------------------------- 
