--------------------------------------------- 
Job start 
Search space: Bitstring 
Problem: Max 3-SAT 
Problem instance: C:/EA/Build/../ALL_3SAT/uf150-645/uf150-076.cnf
Algorithm: Hybrid with Partition Crossover
Running Time: 50000 milliseconds
Iteration: 0, Fitness: 632
Iteration: 10, Fitness: 634
Iteration: 20, Fitness: 636
Iteration: 50, Fitness: 638
Iteration: 60, Fitness: 639
Iteration: 220, Fitness: 640
Iteration: 2240, Fitness: 641
------------------------------- 
Job Complete 
Iterations: 2825
Best Solution Fitness: 641 
Not Optimal 
------------------------------- 
Maximum number of components in parition crossover: 11
Average number of components in parition crossover: 2.90684
--------------------------------------------- 
