--------------------------------------------- 
Job start 
Search space: Bitstring 
Problem: Max 3-SAT 
Problem instance: C:/EA/Build/../ALL_3SAT/uf150-645/uf150-034.cnf
Algorithm: Hybrid with Partition Crossover
Running Time: 50000 milliseconds
Iteration: 0, Fitness: 636
Iteration: 10, Fitness: 637
Iteration: 20, Fitness: 638
Iteration: 36, Fitness: 639
Iteration: 39, Fitness: 640
Iteration: 630, Fitness: 641
Iteration: 770, Fitness: 643
Iteration: 800, Fitness: 644
------------------------------- 
Job Complete 
Iterations: 2831
Best Solution Fitness: 644 
Not Optimal 
------------------------------- 
Maximum number of components in parition crossover: 11
Average number of components in parition crossover: 3.06633
--------------------------------------------- 
