--------------------------------------------- 
Job start 
Search space: Bitstring 
Problem: Max 3-SAT 
Problem instance: C:/EA/Build/../ALL_3SAT/uf150-645/uf150-020.cnf
Algorithm: Hybrid with Partition Crossover
Running Time: 50000 milliseconds
Iteration: 0, Fitness: 634
Iteration: 30, Fitness: 635
Iteration: 40, Fitness: 637
Iteration: 50, Fitness: 638
Iteration: 80, Fitness: 639
Iteration: 87, Fitness: 640
Iteration: 122, Fitness: 641
Iteration: 370, Fitness: 642
Iteration: 1710, Fitness: 643
Iteration: 2442, Fitness: 644
------------------------------- 
Job Complete 
Iterations: 2897
Best Solution Fitness: 644 
Not Optimal 
------------------------------- 
Maximum number of components in parition crossover: 12
Average number of components in parition crossover: 2.93301
--------------------------------------------- 
