--------------------------------------------- 
Job start 
Search space: Bitstring 
Problem: Max 3-SAT 
Problem instance: C:/EA/Build/../ALL_3SAT/uf150-645/uf150-066.cnf
Algorithm: Hybrid with Partition Crossover
Running Time: 50000 milliseconds
Iteration: 0, Fitness: 637
Iteration: 20, Fitness: 638
Iteration: 30, Fitness: 639
Iteration: 130, Fitness: 640
Iteration: 330, Fitness: 641
Iteration: 337, Fitness: 642
Iteration: 950, Fitness: 643
Iteration: 1050, Fitness: 644
------------------------------- 
Job Complete 
Iterations: 2861
Best Solution Fitness: 644 
Not Optimal 
------------------------------- 
Maximum number of components in parition crossover: 10
Average number of components in parition crossover: 2.87188
--------------------------------------------- 
