--------------------------------------------- 
Job start 
Search space: Bitstring 
Problem: Max 3-SAT 
Problem instance: C:/EA/Build/../ALL_3SAT/uf150-645/uf150-057.cnf
Algorithm: Hybrid with Partition Crossover
Running Time: 50000 milliseconds
Iteration: 0, Fitness: 636
Iteration: 7, Fitness: 637
Iteration: 9, Fitness: 638
Iteration: 10, Fitness: 639
Iteration: 40, Fitness: 640
Iteration: 50, Fitness: 641
Iteration: 70, Fitness: 642
Iteration: 79, Fitness: 643
------------------------------- 
Job Complete 
Iterations: 2852
Best Solution Fitness: 643 
Not Optimal 
------------------------------- 
Maximum number of components in parition crossover: 11
Average number of components in parition crossover: 2.72005
--------------------------------------------- 
