--------------------------------------------- 
Job start 
Search space: Bitstring 
Problem: Max 3-SAT 
Problem instance: C:/EA/Build/../ALL_3SAT/uf150-645/uf150-056.cnf
Algorithm: Hybrid with Two point Crossover improved by local search
Running Time: 50000 milliseconds
Iteration: 0, Fitness: 630
Iteration: 1, Fitness: 634
Iteration: 2, Fitness: 636
Iteration: 3, Fitness: 637
Iteration: 4, Fitness: 638
Iteration: 7, Fitness: 639
Iteration: 8, Fitness: 640
Iteration: 9, Fitness: 641
Iteration: 12, Fitness: 643
Iteration: 57, Fitness: 644
Iteration: 1870, Fitness: 645
------------------------------- 
Job Complete 
Iterations: 1871
Best Solution Fitness: 645 
Optimal 
------------------------------- 
Local optimality of 2-point crossover children
Local optimal count: 3536
Not local optimal count: 51466
--------------------------------------------- 
