--------------------------------------------- 
Job start 
Search space: Bitstring 
Problem: Max 3-SAT 
Problem instance: C:/EA/Build/../ALL_3SAT/uf150-645/uf150-012.cnf
Algorithm: Hybrid with Two point Crossover improved by local search
Running Time: 50000 milliseconds
Iteration: 0, Fitness: 634
Iteration: 1, Fitness: 635
Iteration: 2, Fitness: 636
Iteration: 3, Fitness: 637
Iteration: 4, Fitness: 640
Iteration: 6, Fitness: 642
Iteration: 34, Fitness: 643
Iteration: 35, Fitness: 644
------------------------------- 
Job Complete 
Iterations: 2067
Best Solution Fitness: 644 
Not Optimal 
------------------------------- 
Local optimality of 2-point crossover children
Local optimal count: 3441
Not local optimal count: 56999
--------------------------------------------- 
