--------------------------------------------- 
Job start 
Search space: Bitstring 
Problem: Max 3-SAT 
Problem instance: C:/EA/Build/../ALL_3SAT/uf150-645/uf150-018.cnf
Algorithm: Hybrid with Two point Crossover improved by local search
Running Time: 50000 milliseconds
Iteration: 0, Fitness: 636
Iteration: 1, Fitness: 637
Iteration: 2, Fitness: 640
Iteration: 4, Fitness: 641
Iteration: 7, Fitness: 644
Iteration: 79, Fitness: 645
------------------------------- 
Job Complete 
Iterations: 80
Best Solution Fitness: 645 
Optimal 
------------------------------- 
Local optimality of 2-point crossover children
Local optimal count: 113
Not local optimal count: 2218
--------------------------------------------- 
