--------------------------------------------- 
Job start 
Search space: Bitstring 
Problem: Max 3-SAT 
Problem instance: C:/EA/Build/../ALL_3SAT/uf150-645/uf150-068.cnf
Algorithm: Hybrid with Two point Crossover improved by local search
Running Time: 50000 milliseconds
Iteration: 0, Fitness: 635
Iteration: 1, Fitness: 636
Iteration: 2, Fitness: 637
Iteration: 3, Fitness: 639
Iteration: 7, Fitness: 641
Iteration: 8, Fitness: 642
Iteration: 11, Fitness: 643
Iteration: 16, Fitness: 644
Iteration: 25, Fitness: 645
------------------------------- 
Job Complete 
Iterations: 26
Best Solution Fitness: 645 
Optimal 
------------------------------- 
Local optimality of 2-point crossover children
Local optimal count: 19
Not local optimal count: 761
--------------------------------------------- 
