--------------------------------------------- 
Job start 
Search space: Bitstring 
Problem: Max 3-SAT 
Problem instance: C:/EA/Build/../ALL_3SAT/uf150-645/uf150-064.cnf
Algorithm: Hybrid with Two point Crossover improved by local search
Running Time: 50000 milliseconds
Iteration: 0, Fitness: 634
Iteration: 1, Fitness: 637
Iteration: 2, Fitness: 638
Iteration: 3, Fitness: 639
Iteration: 5, Fitness: 640
Iteration: 6, Fitness: 642
Iteration: 16, Fitness: 643
Iteration: 19, Fitness: 644
Iteration: 36, Fitness: 645
------------------------------- 
Job Complete 
Iterations: 37
Best Solution Fitness: 645 
Optimal 
------------------------------- 
Local optimality of 2-point crossover children
Local optimal count: 36
Not local optimal count: 1047
--------------------------------------------- 
