--------------------------------------------- 
Job start 
Search space: Bitstring 
Problem: Max 3-SAT 
Problem instance: C:/EA/Build/../ALL_3SAT/uf75-325/uf75-024.cnf
Algorithm: Black-Box Generational 
Running Time: 50000 milliseconds
Iteration: 0, Fitness: 293
Iteration: 1, Fitness: 299
Iteration: 2, Fitness: 300
Iteration: 3, Fitness: 303
Iteration: 6, Fitness: 304
Iteration: 7, Fitness: 305
Iteration: 8, Fitness: 306
Iteration: 9, Fitness: 308
Iteration: 11, Fitness: 309
Iteration: 13, Fitness: 312
Iteration: 19, Fitness: 313
Iteration: 21, Fitness: 318
Iteration: 37, Fitness: 320
Iteration: 42, Fitness: 321
Iteration: 51, Fitness: 322
Iteration: 65, Fitness: 323
Iteration: 84, Fitness: 324
------------------------------- 
Job Complete 
Iterations: 9513
Best Solution Fitness: 324 
Not Optimal 
--------------------------------------------- 
