--------------------------------------------- 
Job start 
Search space: Bitstring 
Problem: Max 3-SAT 
Problem instance: C:/EA/Build/../ALL_3SAT/uf75-325/uf75-06.cnf
Algorithm: Black-Box Generational 
Running Time: 50000 milliseconds
Iteration: 0, Fitness: 298
Iteration: 1, Fitness: 300
Iteration: 4, Fitness: 303
Iteration: 5, Fitness: 304
Iteration: 6, Fitness: 305
Iteration: 7, Fitness: 307
Iteration: 10, Fitness: 310
Iteration: 11, Fitness: 312
Iteration: 16, Fitness: 313
Iteration: 18, Fitness: 314
Iteration: 20, Fitness: 315
Iteration: 23, Fitness: 316
Iteration: 25, Fitness: 317
Iteration: 27, Fitness: 318
Iteration: 36, Fitness: 319
Iteration: 56, Fitness: 320
Iteration: 66, Fitness: 321
Iteration: 91, Fitness: 322
Iteration: 289, Fitness: 323
Iteration: 6408, Fitness: 324
------------------------------- 
Job Complete 
Iterations: 9150
Best Solution Fitness: 324 
Not Optimal 
--------------------------------------------- 
