--------------------------------------------- 
Job start 
Search space: Bitstring 
Problem: Max 3-SAT 
Problem instance: C:/EA/Build/../ALL_3SAT/uf75-325/uf75-074.cnf
Algorithm: Black-Box Generational 
Running Time: 50000 milliseconds
Iteration: 0, Fitness: 304
Iteration: 1, Fitness: 307
Iteration: 2, Fitness: 310
Iteration: 7, Fitness: 311
Iteration: 8, Fitness: 313
Iteration: 11, Fitness: 314
Iteration: 13, Fitness: 315
Iteration: 14, Fitness: 316
Iteration: 19, Fitness: 318
Iteration: 28, Fitness: 319
Iteration: 32, Fitness: 320
Iteration: 37, Fitness: 321
Iteration: 48, Fitness: 322
Iteration: 120, Fitness: 323
Iteration: 650, Fitness: 324
------------------------------- 
Job Complete 
Iterations: 9320
Best Solution Fitness: 324 
Not Optimal 
--------------------------------------------- 
