--------------------------------------------- 
Job start 
Search space: Bitstring 
Problem: Max 3-SAT 
Problem instance: C:/EA/Build/../ALL_3SAT/uf75-325/uf75-0100.cnf
Algorithm: Black-Box Generational 
Running Time: 50000 milliseconds
Iteration: 0, Fitness: 298
Iteration: 1, Fitness: 299
Iteration: 2, Fitness: 302
Iteration: 3, Fitness: 303
Iteration: 4, Fitness: 305
Iteration: 6, Fitness: 306
Iteration: 7, Fitness: 311
Iteration: 13, Fitness: 312
Iteration: 15, Fitness: 314
Iteration: 26, Fitness: 317
Iteration: 42, Fitness: 319
Iteration: 61, Fitness: 320
Iteration: 75, Fitness: 321
Iteration: 87, Fitness: 322
Iteration: 7547, Fitness: 323
------------------------------- 
Job Complete 
Iterations: 9471
Best Solution Fitness: 323 
Not Optimal 
--------------------------------------------- 
