--------------------------------------------- 
Job start 
Search space: Bitstring 
Problem: Max 3-SAT 
Problem instance: C:/EA/Build/../ALL_3SAT/uf75-325/uf75-046.cnf
Algorithm: Black-Box Generational 
Running Time: 50000 milliseconds
Iteration: 0, Fitness: 296
Iteration: 1, Fitness: 297
Iteration: 2, Fitness: 299
Iteration: 3, Fitness: 301
Iteration: 4, Fitness: 305
Iteration: 7, Fitness: 306
Iteration: 9, Fitness: 307
Iteration: 10, Fitness: 309
Iteration: 14, Fitness: 310
Iteration: 16, Fitness: 312
Iteration: 17, Fitness: 313
Iteration: 19, Fitness: 314
Iteration: 25, Fitness: 316
Iteration: 30, Fitness: 317
Iteration: 34, Fitness: 318
Iteration: 48, Fitness: 319
Iteration: 53, Fitness: 320
Iteration: 71, Fitness: 321
Iteration: 152, Fitness: 322
Iteration: 272, Fitness: 323
Iteration: 358, Fitness: 324
------------------------------- 
Job Complete 
Iterations: 9198
Best Solution Fitness: 324 
Not Optimal 
--------------------------------------------- 
