--------------------------------------------- 
Job start 
Search space: Bitstring 
Problem: Max 3-SAT 
Problem instance: C:/EA/Build/../ALL_3SAT/uf75-325/uf75-084.cnf
Algorithm: Black-Box Generational 
Running Time: 50000 milliseconds
Iteration: 0, Fitness: 295
Iteration: 1, Fitness: 297
Iteration: 2, Fitness: 298
Iteration: 4, Fitness: 300
Iteration: 5, Fitness: 301
Iteration: 7, Fitness: 302
Iteration: 8, Fitness: 304
Iteration: 9, Fitness: 305
Iteration: 11, Fitness: 307
Iteration: 17, Fitness: 309
Iteration: 18, Fitness: 310
Iteration: 20, Fitness: 311
Iteration: 25, Fitness: 313
Iteration: 29, Fitness: 314
Iteration: 33, Fitness: 316
Iteration: 39, Fitness: 317
Iteration: 45, Fitness: 318
Iteration: 70, Fitness: 319
Iteration: 74, Fitness: 320
Iteration: 101, Fitness: 321
Iteration: 134, Fitness: 322
------------------------------- 
Job Complete 
Iterations: 13019
Best Solution Fitness: 322 
Not Optimal 
--------------------------------------------- 
