--------------------------------------------- 
Job start 
Search space: Bitstring 
Problem: Max 3-SAT 
Problem instance: C:/EA/Build/../ALL_3SAT/uf100-430/uf100-0159.cnf
Algorithm: Hybrid with Two point Crossover
Running Time: 50000 milliseconds
Iteration: 0, Fitness: 422
Iteration: 10, Fitness: 423
Iteration: 30, Fitness: 424
Iteration: 39, Fitness: 425
Iteration: 40, Fitness: 427
Iteration: 8740, Fitness: 428
------------------------------- 
Job Complete 
Iterations: 23141
Best Solution Fitness: 428 
Not Optimal 
--------------------------------------------- 
