--------------------------------------------- 
Job start 
Search space: Bitstring 
Problem: Max 3-SAT 
Problem instance: C:/EA/Build/../ALL_3SAT/uf100-430/uf100-0106.cnf
Algorithm: Hybrid with Two point Crossover
Running Time: 50000 milliseconds
Iteration: 0, Fitness: 423
Iteration: 10, Fitness: 426
Iteration: 70, Fitness: 427
Iteration: 110, Fitness: 428
Iteration: 400, Fitness: 429
Iteration: 1510, Fitness: 430
------------------------------- 
Job Complete 
Iterations: 1511
Best Solution Fitness: 430 
Optimal 
--------------------------------------------- 
