--------------------------------------------- 
Job start 
Search space: Bitstring 
Problem: Max 3-SAT 
Problem instance: C:/EA/Build/../ALL_3SAT/uf100-430/uf100-0147.cnf
Algorithm: Hybrid with Two point Crossover
Running Time: 50000 milliseconds
Iteration: 0, Fitness: 425
Iteration: 10, Fitness: 426
Iteration: 20, Fitness: 427
Iteration: 30, Fitness: 428
Iteration: 40, Fitness: 429
------------------------------- 
Job Complete 
Iterations: 23021
Best Solution Fitness: 429 
Not Optimal 
--------------------------------------------- 
