--------------------------------------------- 
Job start 
Search space: Bitstring 
Problem: Max 3-SAT 
Problem instance: C:/EA/Build/../ALL_3SAT/uf100-430/uf100-0170.cnf
Algorithm: Hybrid with Two point Crossover
Running Time: 50000 milliseconds
Iteration: 0, Fitness: 420
Iteration: 6, Fitness: 421
Iteration: 10, Fitness: 424
Iteration: 20, Fitness: 425
Iteration: 150, Fitness: 426
Iteration: 6510, Fitness: 427
------------------------------- 
Job Complete 
Iterations: 23521
Best Solution Fitness: 427 
Not Optimal 
--------------------------------------------- 
