--------------------------------------------- 
Job start 
Search space: Bitstring 
Problem: Max 3-SAT 
Problem instance: C:/EA/Build/../ALL_3SAT/uf100-430/uf100-0105.cnf
Algorithm: Hybrid with Two point Crossover
Running Time: 50000 milliseconds
Iteration: 0, Fitness: 423
Iteration: 20, Fitness: 424
Iteration: 26, Fitness: 425
Iteration: 40, Fitness: 426
Iteration: 70, Fitness: 427
Iteration: 130, Fitness: 428
------------------------------- 
Job Complete 
Iterations: 23614
Best Solution Fitness: 428 
Not Optimal 
--------------------------------------------- 
