--------------------------------------------- 
Job start 
Search space: Bitstring 
Problem: Max 3-SAT 
Problem instance: C:/EA/Build/../ALL_3SAT/uf250-1065/uf250-068.cnf
Algorithm: Hybrid with Two point Crossover
Running Time: 50000 milliseconds
Iteration: 0, Fitness: 1045
Iteration: 10, Fitness: 1050
Iteration: 20, Fitness: 1053
Iteration: 40, Fitness: 1054
Iteration: 2260, Fitness: 1055
Iteration: 2300, Fitness: 1056
------------------------------- 
Job Complete 
Iterations: 4901
Best Solution Fitness: 1056 
Not Optimal 
--------------------------------------------- 
