--------------------------------------------- 
Job start 
Search space: Bitstring 
Problem: Max 3-SAT 
Problem instance: C:/EA/Build/../ALL_3SAT/uf250-1065/uf250-030.cnf
Algorithm: Hybrid with Two point Crossover improved by local search
Running Time: 50000 milliseconds
Iteration: 0, Fitness: 1046
Iteration: 2, Fitness: 1049
Iteration: 3, Fitness: 1054
Iteration: 9, Fitness: 1055
Iteration: 12, Fitness: 1056
Iteration: 14, Fitness: 1057
Iteration: 15, Fitness: 1058
Iteration: 18, Fitness: 1059
Iteration: 19, Fitness: 1061
Iteration: 26, Fitness: 1062
Iteration: 66, Fitness: 1063
------------------------------- 
Job Complete 
Iterations: 793
Best Solution Fitness: 1063 
Not Optimal 
------------------------------- 
Local optimality of 2-point crossover children
Local optimal count: 992
Not local optimal count: 22242
--------------------------------------------- 
