--------------------------------------------- 
Job start 
Search space: Bitstring 
Problem: Max 3-SAT 
Problem instance: C:/EA/Build/../ALL_3SAT/uf250-1065/uf250-07.cnf
Algorithm: Hybrid with Two point Crossover improved by local search
Running Time: 50000 milliseconds
Iteration: 0, Fitness: 1043
Iteration: 1, Fitness: 1047
Iteration: 2, Fitness: 1051
Iteration: 3, Fitness: 1054
Iteration: 4, Fitness: 1055
Iteration: 7, Fitness: 1057
Iteration: 17, Fitness: 1058
Iteration: 19, Fitness: 1059
Iteration: 29, Fitness: 1060
Iteration: 60, Fitness: 1061
Iteration: 150, Fitness: 1062
Iteration: 277, Fitness: 1063
------------------------------- 
Job Complete 
Iterations: 793
Best Solution Fitness: 1063 
Not Optimal 
------------------------------- 
Local optimality of 2-point crossover children
Local optimal count: 947
Not local optimal count: 22425
--------------------------------------------- 
