--------------------------------------------- 
Job start 
Search space: Bitstring 
Problem: Max 3-SAT 
Problem instance: C:/EA/Build/../ALL_3SAT/uf250-1065/uf250-060.cnf
Algorithm: Hybrid with Two point Crossover improved by local search
Running Time: 50000 milliseconds
Iteration: 0, Fitness: 1041
Iteration: 1, Fitness: 1042
Iteration: 2, Fitness: 1046
Iteration: 3, Fitness: 1048
Iteration: 4, Fitness: 1050
Iteration: 6, Fitness: 1054
Iteration: 8, Fitness: 1056
Iteration: 13, Fitness: 1057
Iteration: 14, Fitness: 1058
Iteration: 22, Fitness: 1059
Iteration: 35, Fitness: 1060
Iteration: 58, Fitness: 1061
------------------------------- 
Job Complete 
Iterations: 797
Best Solution Fitness: 1061 
Not Optimal 
------------------------------- 
Local optimality of 2-point crossover children
Local optimal count: 1105
Not local optimal count: 22108
--------------------------------------------- 
