--------------------------------------------- 
Job start 
Search space: Bitstring 
Problem: Max 3-SAT 
Problem instance: C:/EA/Build/../ALL_3SAT/uf125-538/uf125-027.cnf
Algorithm: Hybrid with Two point Crossover improved by local search
Running Time: 50000 milliseconds
Iteration: 0, Fitness: 527
Iteration: 1, Fitness: 529
Iteration: 2, Fitness: 531
Iteration: 3, Fitness: 532
Iteration: 4, Fitness: 533
Iteration: 6, Fitness: 534
Iteration: 9, Fitness: 536
Iteration: 15, Fitness: 537
Iteration: 29, Fitness: 538
------------------------------- 
Job Complete 
Iterations: 30
Best Solution Fitness: 538 
Optimal 
------------------------------- 
Local optimality of 2-point crossover children
Local optimal count: 35
Not local optimal count: 855
--------------------------------------------- 
