--------------------------------------------- 
Job start 
Search space: Bitstring 
Problem: Max 3-SAT 
Problem instance: C:/EA/Build/../ALL_3SAT/uf125-538/uf125-092.cnf
Algorithm: Hybrid with Two point Crossover improved by local search
Running Time: 50000 milliseconds
Iteration: 0, Fitness: 532
Iteration: 4, Fitness: 534
Iteration: 9, Fitness: 535
Iteration: 16, Fitness: 536
Iteration: 20, Fitness: 537
Iteration: 2228, Fitness: 538
------------------------------- 
Job Complete 
Iterations: 2229
Best Solution Fitness: 538 
Optimal 
------------------------------- 
Local optimality of 2-point crossover children
Local optimal count: 4142
Not local optimal count: 61368
--------------------------------------------- 
