--------------------------------------------- 
Job start 
Search space: Bitstring 
Problem: Max 3-SAT 
Problem instance: C:/EA/Build/../ALL_3SAT/uf75-325/uf75-094.cnf
Algorithm: Hybrid with No Crossover
Running Time: 50000 milliseconds
Iteration: 0, Fitness: 323
Iteration: 130, Fitness: 324
Iteration: 350, Fitness: 325
------------------------------- 
Job Complete 
Iterations: 351
Best Solution Fitness: 325 
Optimal 
--------------------------------------------- 
