--------------------------------------------- 
Job start 
Search space: Bitstring 
Problem: Max 3-SAT 
Problem instance: C:/EA/Build/../ALL_3SAT/uf250-1065/uf250-087.cnf
Algorithm: Black-Box Generational 
Running Time: 50000 milliseconds
Iteration: 0, Fitness: 937
Iteration: 1, Fitness: 940
Iteration: 2, Fitness: 942
Iteration: 3, Fitness: 947
Iteration: 4, Fitness: 948
Iteration: 5, Fitness: 955
Iteration: 8, Fitness: 958
Iteration: 10, Fitness: 962
Iteration: 11, Fitness: 964
Iteration: 12, Fitness: 966
Iteration: 13, Fitness: 967
Iteration: 14, Fitness: 970
Iteration: 15, Fitness: 973
Iteration: 18, Fitness: 976
Iteration: 19, Fitness: 977
Iteration: 20, Fitness: 980
Iteration: 21, Fitness: 981
Iteration: 22, Fitness: 984
Iteration: 23, Fitness: 986
Iteration: 24, Fitness: 989
Iteration: 25, Fitness: 991
Iteration: 27, Fitness: 993
Iteration: 29, Fitness: 994
Iteration: 30, Fitness: 996
Iteration: 31, Fitness: 998
Iteration: 32, Fitness: 999
Iteration: 34, Fitness: 1000
Iteration: 35, Fitness: 1002
Iteration: 38, Fitness: 1003
Iteration: 39, Fitness: 1006
Iteration: 40, Fitness: 1008
Iteration: 41, Fitness: 1009
Iteration: 44, Fitness: 1010
Iteration: 46, Fitness: 1011
Iteration: 48, Fitness: 1012
Iteration: 49, Fitness: 1013
Iteration: 50, Fitness: 1016
Iteration: 54, Fitness: 1019
Iteration: 55, Fitness: 1020
Iteration: 62, Fitness: 1021
Iteration: 63, Fitness: 1024
Iteration: 65, Fitness: 1025
Iteration: 67, Fitness: 1026
Iteration: 71, Fitness: 1028
Iteration: 80, Fitness: 1030
Iteration: 81, Fitness: 1032
Iteration: 89, Fitness: 1033
Iteration: 91, Fitness: 1035
Iteration: 102, Fitness: 1036
Iteration: 107, Fitness: 1037
Iteration: 110, Fitness: 1038
Iteration: 112, Fitness: 1039
Iteration: 118, Fitness: 1040
Iteration: 120, Fitness: 1041
Iteration: 122, Fitness: 1042
Iteration: 133, Fitness: 1044
Iteration: 138, Fitness: 1045
Iteration: 146, Fitness: 1046
Iteration: 148, Fitness: 1047
Iteration: 163, Fitness: 1048
Iteration: 180, Fitness: 1049
Iteration: 198, Fitness: 1050
Iteration: 333, Fitness: 1051
Iteration: 453, Fitness: 1052
Iteration: 653, Fitness: 1053
Iteration: 858, Fitness: 1054
Iteration: 885, Fitness: 1055
Iteration: 951, Fitness: 1056
------------------------------- 
Job Complete 
Iterations: 3163
Best Solution Fitness: 1056 
Not Optimal 
--------------------------------------------- 
