--------------------------------------------- 
Job start 
Search space: Bitstring 
Problem: Max 3-SAT 
Problem instance: C:/EA/Build/../ALL_3SAT/uf250-1065/uf250-039.cnf
Algorithm: Black-Box Generational 
Running Time: 50000 milliseconds
Iteration: 0, Fitness: 941
Iteration: 1, Fitness: 943
Iteration: 2, Fitness: 945
Iteration: 3, Fitness: 946
Iteration: 4, Fitness: 950
Iteration: 5, Fitness: 956
Iteration: 8, Fitness: 961
Iteration: 10, Fitness: 963
Iteration: 11, Fitness: 968
Iteration: 13, Fitness: 969
Iteration: 14, Fitness: 970
Iteration: 15, Fitness: 976
Iteration: 17, Fitness: 977
Iteration: 18, Fitness: 978
Iteration: 19, Fitness: 983
Iteration: 21, Fitness: 984
Iteration: 22, Fitness: 986
Iteration: 23, Fitness: 988
Iteration: 25, Fitness: 991
Iteration: 26, Fitness: 994
Iteration: 27, Fitness: 995
Iteration: 28, Fitness: 998
Iteration: 30, Fitness: 1002
Iteration: 34, Fitness: 1003
Iteration: 35, Fitness: 1008
Iteration: 38, Fitness: 1010
Iteration: 40, Fitness: 1013
Iteration: 44, Fitness: 1016
Iteration: 48, Fitness: 1017
Iteration: 51, Fitness: 1019
Iteration: 53, Fitness: 1020
Iteration: 54, Fitness: 1021
Iteration: 55, Fitness: 1022
Iteration: 59, Fitness: 1023
Iteration: 61, Fitness: 1025
Iteration: 62, Fitness: 1027
Iteration: 71, Fitness: 1028
Iteration: 72, Fitness: 1029
Iteration: 75, Fitness: 1030
Iteration: 76, Fitness: 1031
Iteration: 78, Fitness: 1032
Iteration: 88, Fitness: 1033
Iteration: 94, Fitness: 1034
Iteration: 96, Fitness: 1035
Iteration: 102, Fitness: 1036
Iteration: 106, Fitness: 1037
Iteration: 116, Fitness: 1038
Iteration: 121, Fitness: 1039
Iteration: 124, Fitness: 1040
Iteration: 138, Fitness: 1041
Iteration: 145, Fitness: 1042
Iteration: 157, Fitness: 1044
Iteration: 168, Fitness: 1045
Iteration: 173, Fitness: 1046
Iteration: 176, Fitness: 1047
Iteration: 189, Fitness: 1048
Iteration: 193, Fitness: 1049
Iteration: 217, Fitness: 1050
Iteration: 241, Fitness: 1051
Iteration: 261, Fitness: 1052
Iteration: 280, Fitness: 1053
Iteration: 313, Fitness: 1054
Iteration: 382, Fitness: 1055
Iteration: 683, Fitness: 1056
Iteration: 735, Fitness: 1057
Iteration: 865, Fitness: 1058
Iteration: 931, Fitness: 1059
------------------------------- 
Job Complete 
Iterations: 3171
Best Solution Fitness: 1059 
Not Optimal 
--------------------------------------------- 
