--------------------------------------------- 
Job start 
Search space: Bitstring 
Problem: Max 3-SAT 
Problem instance: C:/EA/Build/../ALL_3SAT/uf250-1065/uf250-05.cnf
Algorithm: Black-Box Generational 
Running Time: 50000 milliseconds
Iteration: 0, Fitness: 943
Iteration: 1, Fitness: 948
Iteration: 2, Fitness: 949
Iteration: 3, Fitness: 953
Iteration: 5, Fitness: 963
Iteration: 7, Fitness: 964
Iteration: 8, Fitness: 965
Iteration: 9, Fitness: 966
Iteration: 10, Fitness: 969
Iteration: 12, Fitness: 975
Iteration: 13, Fitness: 978
Iteration: 14, Fitness: 979
Iteration: 17, Fitness: 982
Iteration: 18, Fitness: 985
Iteration: 19, Fitness: 986
Iteration: 20, Fitness: 990
Iteration: 21, Fitness: 991
Iteration: 22, Fitness: 995
Iteration: 27, Fitness: 999
Iteration: 31, Fitness: 1000
Iteration: 32, Fitness: 1002
Iteration: 33, Fitness: 1003
Iteration: 34, Fitness: 1004
Iteration: 35, Fitness: 1006
Iteration: 36, Fitness: 1008
Iteration: 37, Fitness: 1010
Iteration: 40, Fitness: 1011
Iteration: 42, Fitness: 1012
Iteration: 43, Fitness: 1014
Iteration: 46, Fitness: 1015
Iteration: 48, Fitness: 1020
Iteration: 50, Fitness: 1024
Iteration: 57, Fitness: 1025
Iteration: 61, Fitness: 1026
Iteration: 63, Fitness: 1027
Iteration: 65, Fitness: 1028
Iteration: 68, Fitness: 1031
Iteration: 69, Fitness: 1032
Iteration: 80, Fitness: 1034
Iteration: 86, Fitness: 1035
Iteration: 87, Fitness: 1036
Iteration: 96, Fitness: 1037
Iteration: 105, Fitness: 1038
Iteration: 111, Fitness: 1039
Iteration: 131, Fitness: 1040
Iteration: 144, Fitness: 1041
Iteration: 162, Fitness: 1042
Iteration: 169, Fitness: 1043
Iteration: 185, Fitness: 1044
Iteration: 218, Fitness: 1045
Iteration: 266, Fitness: 1046
Iteration: 319, Fitness: 1047
Iteration: 339, Fitness: 1048
Iteration: 384, Fitness: 1049
Iteration: 402, Fitness: 1050
Iteration: 411, Fitness: 1051
Iteration: 433, Fitness: 1052
Iteration: 466, Fitness: 1053
Iteration: 496, Fitness: 1054
Iteration: 497, Fitness: 1055
Iteration: 557, Fitness: 1056
Iteration: 596, Fitness: 1057
Iteration: 619, Fitness: 1058
Iteration: 1839, Fitness: 1059
Iteration: 2149, Fitness: 1060
------------------------------- 
Job Complete 
Iterations: 3203
Best Solution Fitness: 1060 
Not Optimal 
--------------------------------------------- 
