--------------------------------------------- 
Job start 
Search space: Bitstring 
Problem: Max 3-SAT 
Problem instance: C:/EA/Build/../ALL_3SAT/uf250-1065/uf250-068.cnf
Algorithm: Black-Box Generational 
Running Time: 50000 milliseconds
Iteration: 0, Fitness: 942
Iteration: 1, Fitness: 948
Iteration: 3, Fitness: 949
Iteration: 4, Fitness: 952
Iteration: 5, Fitness: 954
Iteration: 6, Fitness: 956
Iteration: 7, Fitness: 961
Iteration: 9, Fitness: 964
Iteration: 10, Fitness: 967
Iteration: 12, Fitness: 972
Iteration: 14, Fitness: 975
Iteration: 15, Fitness: 978
Iteration: 17, Fitness: 984
Iteration: 18, Fitness: 985
Iteration: 20, Fitness: 986
Iteration: 23, Fitness: 990
Iteration: 24, Fitness: 993
Iteration: 27, Fitness: 996
Iteration: 28, Fitness: 998
Iteration: 31, Fitness: 1000
Iteration: 33, Fitness: 1006
Iteration: 39, Fitness: 1007
Iteration: 40, Fitness: 1009
Iteration: 44, Fitness: 1013
Iteration: 45, Fitness: 1014
Iteration: 48, Fitness: 1019
Iteration: 50, Fitness: 1020
Iteration: 57, Fitness: 1022
Iteration: 58, Fitness: 1023
Iteration: 60, Fitness: 1024
Iteration: 61, Fitness: 1025
Iteration: 63, Fitness: 1026
Iteration: 65, Fitness: 1027
Iteration: 66, Fitness: 1028
Iteration: 74, Fitness: 1030
Iteration: 75, Fitness: 1032
Iteration: 89, Fitness: 1033
Iteration: 98, Fitness: 1034
Iteration: 101, Fitness: 1035
Iteration: 106, Fitness: 1036
Iteration: 108, Fitness: 1037
Iteration: 119, Fitness: 1038
Iteration: 128, Fitness: 1039
Iteration: 134, Fitness: 1041
Iteration: 141, Fitness: 1042
Iteration: 144, Fitness: 1043
Iteration: 157, Fitness: 1044
Iteration: 172, Fitness: 1045
Iteration: 193, Fitness: 1046
Iteration: 262, Fitness: 1047
Iteration: 266, Fitness: 1048
Iteration: 310, Fitness: 1049
Iteration: 403, Fitness: 1050
Iteration: 406, Fitness: 1051
Iteration: 487, Fitness: 1052
Iteration: 535, Fitness: 1053
Iteration: 562, Fitness: 1054
Iteration: 574, Fitness: 1055
Iteration: 577, Fitness: 1056
Iteration: 852, Fitness: 1057
Iteration: 911, Fitness: 1058
Iteration: 1011, Fitness: 1059
Iteration: 1095, Fitness: 1060
------------------------------- 
Job Complete 
Iterations: 2934
Best Solution Fitness: 1060 
Not Optimal 
--------------------------------------------- 
