--------------------------------------------- 
Job start 
Search space: Bitstring 
Problem: Max 3-SAT 
Problem instance: C:/EA/Build/../ALL_3SAT/uf250-1065/uf250-077.cnf
Algorithm: Black-Box Generational 
Running Time: 50000 milliseconds
Iteration: 0, Fitness: 950
Iteration: 1, Fitness: 953
Iteration: 2, Fitness: 955
Iteration: 4, Fitness: 957
Iteration: 5, Fitness: 959
Iteration: 6, Fitness: 961
Iteration: 7, Fitness: 965
Iteration: 9, Fitness: 966
Iteration: 11, Fitness: 973
Iteration: 14, Fitness: 976
Iteration: 15, Fitness: 978
Iteration: 19, Fitness: 981
Iteration: 20, Fitness: 986
Iteration: 21, Fitness: 989
Iteration: 24, Fitness: 990
Iteration: 26, Fitness: 995
Iteration: 28, Fitness: 996
Iteration: 31, Fitness: 1001
Iteration: 34, Fitness: 1002
Iteration: 35, Fitness: 1003
Iteration: 36, Fitness: 1005
Iteration: 38, Fitness: 1008
Iteration: 40, Fitness: 1010
Iteration: 42, Fitness: 1011
Iteration: 43, Fitness: 1012
Iteration: 47, Fitness: 1014
Iteration: 49, Fitness: 1017
Iteration: 55, Fitness: 1019
Iteration: 60, Fitness: 1021
Iteration: 61, Fitness: 1022
Iteration: 62, Fitness: 1023
Iteration: 67, Fitness: 1024
Iteration: 69, Fitness: 1025
Iteration: 71, Fitness: 1027
Iteration: 74, Fitness: 1028
Iteration: 75, Fitness: 1029
Iteration: 78, Fitness: 1032
Iteration: 83, Fitness: 1033
Iteration: 88, Fitness: 1034
Iteration: 89, Fitness: 1035
Iteration: 94, Fitness: 1037
Iteration: 100, Fitness: 1038
Iteration: 102, Fitness: 1039
Iteration: 110, Fitness: 1040
Iteration: 114, Fitness: 1041
Iteration: 116, Fitness: 1042
Iteration: 119, Fitness: 1043
Iteration: 127, Fitness: 1044
Iteration: 134, Fitness: 1045
Iteration: 141, Fitness: 1046
Iteration: 158, Fitness: 1047
Iteration: 170, Fitness: 1048
Iteration: 179, Fitness: 1049
Iteration: 184, Fitness: 1050
Iteration: 202, Fitness: 1051
Iteration: 220, Fitness: 1052
Iteration: 237, Fitness: 1053
Iteration: 295, Fitness: 1054
Iteration: 356, Fitness: 1055
Iteration: 474, Fitness: 1056
Iteration: 2702, Fitness: 1057
Iteration: 3087, Fitness: 1058
------------------------------- 
Job Complete 
Iterations: 3282
Best Solution Fitness: 1058 
Not Optimal 
--------------------------------------------- 
