--------------------------------------------- 
Job start 
Search space: Bitstring 
Problem: Max 3-SAT 
Problem instance: C:/EA/Build/../ALL_3SAT/uf250-1065/uf250-033.cnf
Algorithm: Black-Box Generational 
Running Time: 50000 milliseconds
Iteration: 0, Fitness: 932
Iteration: 1, Fitness: 935
Iteration: 2, Fitness: 939
Iteration: 3, Fitness: 943
Iteration: 4, Fitness: 944
Iteration: 5, Fitness: 947
Iteration: 6, Fitness: 952
Iteration: 8, Fitness: 955
Iteration: 9, Fitness: 964
Iteration: 13, Fitness: 969
Iteration: 14, Fitness: 973
Iteration: 16, Fitness: 976
Iteration: 17, Fitness: 979
Iteration: 19, Fitness: 981
Iteration: 20, Fitness: 984
Iteration: 21, Fitness: 986
Iteration: 22, Fitness: 988
Iteration: 23, Fitness: 990
Iteration: 25, Fitness: 996
Iteration: 27, Fitness: 998
Iteration: 29, Fitness: 999
Iteration: 30, Fitness: 1000
Iteration: 31, Fitness: 1003
Iteration: 32, Fitness: 1004
Iteration: 33, Fitness: 1006
Iteration: 34, Fitness: 1007
Iteration: 35, Fitness: 1009
Iteration: 36, Fitness: 1011
Iteration: 41, Fitness: 1014
Iteration: 42, Fitness: 1016
Iteration: 45, Fitness: 1017
Iteration: 46, Fitness: 1021
Iteration: 47, Fitness: 1023
Iteration: 52, Fitness: 1025
Iteration: 58, Fitness: 1027
Iteration: 63, Fitness: 1029
Iteration: 64, Fitness: 1030
Iteration: 72, Fitness: 1031
Iteration: 74, Fitness: 1033
Iteration: 75, Fitness: 1034
Iteration: 82, Fitness: 1037
Iteration: 86, Fitness: 1038
Iteration: 90, Fitness: 1039
Iteration: 97, Fitness: 1040
Iteration: 98, Fitness: 1041
Iteration: 99, Fitness: 1043
Iteration: 109, Fitness: 1044
Iteration: 111, Fitness: 1045
Iteration: 117, Fitness: 1046
Iteration: 123, Fitness: 1048
Iteration: 139, Fitness: 1049
Iteration: 149, Fitness: 1050
Iteration: 164, Fitness: 1051
Iteration: 169, Fitness: 1052
Iteration: 182, Fitness: 1053
Iteration: 234, Fitness: 1054
Iteration: 277, Fitness: 1055
Iteration: 332, Fitness: 1056
Iteration: 355, Fitness: 1057
Iteration: 422, Fitness: 1058
Iteration: 652, Fitness: 1059
Iteration: 3025, Fitness: 1060
------------------------------- 
Job Complete 
Iterations: 3145
Best Solution Fitness: 1060 
Not Optimal 
--------------------------------------------- 
