--------------------------------------------- 
Job start 
Search space: Bitstring 
Problem: Max 3-SAT 
Problem instance: C:/EA/Build/../ALL_3SAT/uf250-1065/uf250-080.cnf
Algorithm: Black-Box Generational 
Running Time: 50000 milliseconds
Iteration: 0, Fitness: 946
Iteration: 2, Fitness: 948
Iteration: 3, Fitness: 953
Iteration: 5, Fitness: 958
Iteration: 6, Fitness: 959
Iteration: 7, Fitness: 963
Iteration: 9, Fitness: 970
Iteration: 10, Fitness: 972
Iteration: 11, Fitness: 976
Iteration: 13, Fitness: 978
Iteration: 14, Fitness: 981
Iteration: 15, Fitness: 984
Iteration: 16, Fitness: 986
Iteration: 17, Fitness: 987
Iteration: 19, Fitness: 989
Iteration: 21, Fitness: 993
Iteration: 23, Fitness: 995
Iteration: 25, Fitness: 999
Iteration: 27, Fitness: 1000
Iteration: 28, Fitness: 1001
Iteration: 29, Fitness: 1002
Iteration: 30, Fitness: 1005
Iteration: 33, Fitness: 1009
Iteration: 37, Fitness: 1011
Iteration: 39, Fitness: 1013
Iteration: 40, Fitness: 1017
Iteration: 44, Fitness: 1019
Iteration: 45, Fitness: 1020
Iteration: 49, Fitness: 1021
Iteration: 50, Fitness: 1023
Iteration: 54, Fitness: 1026
Iteration: 59, Fitness: 1028
Iteration: 61, Fitness: 1029
Iteration: 62, Fitness: 1031
Iteration: 64, Fitness: 1032
Iteration: 69, Fitness: 1033
Iteration: 70, Fitness: 1035
Iteration: 71, Fitness: 1036
Iteration: 84, Fitness: 1037
Iteration: 86, Fitness: 1038
Iteration: 90, Fitness: 1040
Iteration: 99, Fitness: 1041
Iteration: 101, Fitness: 1043
Iteration: 106, Fitness: 1044
Iteration: 109, Fitness: 1045
Iteration: 117, Fitness: 1047
Iteration: 118, Fitness: 1049
Iteration: 131, Fitness: 1051
Iteration: 160, Fitness: 1052
Iteration: 199, Fitness: 1053
Iteration: 347, Fitness: 1054
Iteration: 411, Fitness: 1055
Iteration: 444, Fitness: 1056
Iteration: 616, Fitness: 1057
Iteration: 702, Fitness: 1058
Iteration: 834, Fitness: 1059
Iteration: 1331, Fitness: 1060
Iteration: 2104, Fitness: 1061
------------------------------- 
Job Complete 
Iterations: 3209
Best Solution Fitness: 1061 
Not Optimal 
--------------------------------------------- 
