--------------------------------------------- 
Job start 
Search space: Bitstring 
Problem: Max 3-SAT 
Problem instance: C:/EA/Build/../ALL_3SAT/uf200-860/uf200-089.cnf
Algorithm: Hybrid with Two point Crossover improved by local search
Running Time: 50000 milliseconds
Iteration: 0, Fitness: 844
Iteration: 1, Fitness: 847
Iteration: 2, Fitness: 848
Iteration: 3, Fitness: 850
Iteration: 4, Fitness: 851
Iteration: 5, Fitness: 853
Iteration: 8, Fitness: 854
Iteration: 10, Fitness: 855
Iteration: 16, Fitness: 856
Iteration: 24, Fitness: 857
Iteration: 27, Fitness: 858
------------------------------- 
Job Complete 
Iterations: 1511
Best Solution Fitness: 858 
Not Optimal 
------------------------------- 
Local optimality of 2-point crossover children
Local optimal count: 2202
Not local optimal count: 42132
--------------------------------------------- 
