--------------------------------------------- 
Job start 
Search space: Bitstring 
Problem: Max 3-SAT 
Problem instance: C:/EA/Build/../ALL_3SAT/uf200-860/uf200-045.cnf
Algorithm: Hybrid with Two point Crossover improved by local search
Running Time: 50000 milliseconds
Iteration: 0, Fitness: 843
Iteration: 1, Fitness: 844
Iteration: 2, Fitness: 850
Iteration: 5, Fitness: 853
Iteration: 8, Fitness: 854
Iteration: 9, Fitness: 855
Iteration: 18, Fitness: 856
Iteration: 25, Fitness: 857
Iteration: 68, Fitness: 858
Iteration: 79, Fitness: 859
------------------------------- 
Job Complete 
Iterations: 1231
Best Solution Fitness: 859 
Not Optimal 
------------------------------- 
Local optimality of 2-point crossover children
Local optimal count: 1878
Not local optimal count: 34049
--------------------------------------------- 
