--------------------------------------------- 
Job start 
Search space: Bitstring 
Problem: Max 3-SAT 
Problem instance: C:/EA/Build/../ALL_3SAT/uf200-860/uf200-018.cnf
Algorithm: Hybrid with Two point Crossover improved by local search
Running Time: 50000 milliseconds
Iteration: 0, Fitness: 848
Iteration: 1, Fitness: 849
Iteration: 2, Fitness: 851
Iteration: 4, Fitness: 852
Iteration: 5, Fitness: 853
Iteration: 7, Fitness: 854
Iteration: 12, Fitness: 855
Iteration: 13, Fitness: 856
Iteration: 23, Fitness: 857
Iteration: 24, Fitness: 858
------------------------------- 
Job Complete 
Iterations: 1218
Best Solution Fitness: 858 
Not Optimal 
------------------------------- 
Local optimality of 2-point crossover children
Local optimal count: 1862
Not local optimal count: 34070
--------------------------------------------- 
