--------------------------------------------- 
Job start 
Search space: Bitstring 
Problem: Max 3-SAT 
Problem instance: C:/EA/Build/../ALL_3SAT/uf200-860/uf200-010.cnf
Algorithm: Hybrid with Two point Crossover improved by local search
Running Time: 50000 milliseconds
Iteration: 0, Fitness: 843
Iteration: 1, Fitness: 847
Iteration: 3, Fitness: 849
Iteration: 5, Fitness: 852
Iteration: 7, Fitness: 853
Iteration: 9, Fitness: 854
Iteration: 11, Fitness: 855
Iteration: 17, Fitness: 856
Iteration: 26, Fitness: 857
Iteration: 57, Fitness: 858
Iteration: 78, Fitness: 859
------------------------------- 
Job Complete 
Iterations: 1220
Best Solution Fitness: 859 
Not Optimal 
------------------------------- 
Local optimality of 2-point crossover children
Local optimal count: 2005
Not local optimal count: 33804
--------------------------------------------- 
