--------------------------------------------- 
Job start 
Search space: Bitstring 
Problem: Max 3-SAT 
Problem instance: C:/EA/Build/../ALL_3SAT/uf200-860/uf200-057.cnf
Algorithm: Hybrid with Two point Crossover improved by local search
Running Time: 50000 milliseconds
Iteration: 0, Fitness: 843
Iteration: 1, Fitness: 846
Iteration: 2, Fitness: 847
Iteration: 3, Fitness: 850
Iteration: 4, Fitness: 852
Iteration: 5, Fitness: 853
Iteration: 6, Fitness: 854
Iteration: 9, Fitness: 855
Iteration: 12, Fitness: 856
Iteration: 13, Fitness: 857
Iteration: 19, Fitness: 858
------------------------------- 
Job Complete 
Iterations: 1210
Best Solution Fitness: 858 
Not Optimal 
------------------------------- 
Local optimality of 2-point crossover children
Local optimal count: 1556
Not local optimal count: 34119
--------------------------------------------- 
