--------------------------------------------- 
Job start 
Search space: Bitstring 
Problem: Max 3-SAT 
Problem instance: C:/EA/Build/../ALL_3SAT/uf200-860/uf200-036.cnf
Algorithm: Hybrid with Two point Crossover improved by local search
Running Time: 50000 milliseconds
Iteration: 0, Fitness: 840
Iteration: 1, Fitness: 846
Iteration: 2, Fitness: 848
Iteration: 3, Fitness: 850
Iteration: 4, Fitness: 851
Iteration: 5, Fitness: 854
Iteration: 8, Fitness: 856
Iteration: 9, Fitness: 858
Iteration: 21, Fitness: 859
------------------------------- 
Job Complete 
Iterations: 1232
Best Solution Fitness: 859 
Not Optimal 
------------------------------- 
Local optimality of 2-point crossover children
Local optimal count: 2576
Not local optimal count: 33589
--------------------------------------------- 
