--------------------------------------------- 
Job start 
Search space: Bitstring 
Problem: Max 3-SAT 
Problem instance: C:/EA/Build/../ALL_3SAT/uf175-753/uf175-021.cnf
Algorithm: Hybrid with No Crossover
Running Time: 50000 milliseconds
Iteration: 0, Fitness: 742
Iteration: 10, Fitness: 743
Iteration: 20, Fitness: 745
Iteration: 40, Fitness: 746
Iteration: 70, Fitness: 747
Iteration: 100, Fitness: 748
Iteration: 110, Fitness: 749
Iteration: 170, Fitness: 750
Iteration: 260, Fitness: 751
------------------------------- 
Job Complete 
Iterations: 9451
Best Solution Fitness: 751 
Not Optimal 
--------------------------------------------- 
