--------------------------------------------- 
Job start 
Search space: Bitstring 
Problem: Max 3-SAT 
Problem instance: C:/EA/Build/../ALL_3SAT/uf175-753/uf175-031.cnf
Algorithm: Hybrid with No Crossover
Running Time: 50000 milliseconds
Iteration: 0, Fitness: 741
Iteration: 10, Fitness: 743
Iteration: 20, Fitness: 744
Iteration: 50, Fitness: 745
Iteration: 150, Fitness: 746
Iteration: 1160, Fitness: 747
Iteration: 6830, Fitness: 748
Iteration: 6910, Fitness: 749
------------------------------- 
Job Complete 
Iterations: 9471
Best Solution Fitness: 749 
Not Optimal 
--------------------------------------------- 
