--------------------------------------------- 
Job start 
Search space: Bitstring 
Problem: Max 3-SAT 
Problem instance: C:/EA/Build/../ALL_3SAT/uf175-753/uf175-09.cnf
Algorithm: Hybrid with No Crossover
Running Time: 50000 milliseconds
Iteration: 0, Fitness: 741
Iteration: 3, Fitness: 742
Iteration: 10, Fitness: 743
Iteration: 20, Fitness: 745
Iteration: 60, Fitness: 746
Iteration: 80, Fitness: 748
Iteration: 270, Fitness: 749
Iteration: 280, Fitness: 750
Iteration: 1140, Fitness: 751
------------------------------- 
Job Complete 
Iterations: 10021
Best Solution Fitness: 751 
Not Optimal 
--------------------------------------------- 
