--------------------------------------------- 
Job start 
Search space: Bitstring 
Problem: Max 3-SAT 
Problem instance: C:/EA/Build/../ALL_3SAT/uf175-753/uf175-094.cnf
Algorithm: Hybrid with No Crossover
Running Time: 50000 milliseconds
Iteration: 0, Fitness: 738
Iteration: 10, Fitness: 740
Iteration: 20, Fitness: 742
Iteration: 70, Fitness: 743
Iteration: 80, Fitness: 744
Iteration: 100, Fitness: 745
Iteration: 250, Fitness: 746
Iteration: 1270, Fitness: 748
Iteration: 1350, Fitness: 749
Iteration: 2130, Fitness: 750
Iteration: 3420, Fitness: 751
Iteration: 3850, Fitness: 752
------------------------------- 
Job Complete 
Iterations: 9911
Best Solution Fitness: 752 
Not Optimal 
--------------------------------------------- 
