--------------------------------------------- 
Job start 
Search space: Bitstring 
Problem: Max 3-SAT 
Problem instance: C:/EA/Build/../ALL_3SAT/uf175-753/uf175-076.cnf
Algorithm: Hybrid with No Crossover
Running Time: 50000 milliseconds
Iteration: 0, Fitness: 739
Iteration: 10, Fitness: 740
Iteration: 20, Fitness: 741
Iteration: 50, Fitness: 742
Iteration: 60, Fitness: 743
Iteration: 80, Fitness: 744
Iteration: 90, Fitness: 745
Iteration: 98, Fitness: 746
Iteration: 100, Fitness: 747
Iteration: 140, Fitness: 748
Iteration: 160, Fitness: 749
------------------------------- 
Job Complete 
Iterations: 9451
Best Solution Fitness: 749 
Not Optimal 
--------------------------------------------- 
