--------------------------------------------- 
Job start 
Search space: Bitstring 
Problem: Max 3-SAT 
Problem instance: C:/EA/Build/../ALL_3SAT/uf175-753/uf175-028.cnf
Algorithm: Hybrid with No Crossover
Running Time: 50000 milliseconds
Iteration: 0, Fitness: 740
Iteration: 1, Fitness: 741
Iteration: 21, Fitness: 742
Iteration: 30, Fitness: 743
Iteration: 40, Fitness: 744
Iteration: 50, Fitness: 745
Iteration: 120, Fitness: 746
Iteration: 180, Fitness: 747
Iteration: 200, Fitness: 748
Iteration: 330, Fitness: 749
------------------------------- 
Job Complete 
Iterations: 9461
Best Solution Fitness: 749 
Not Optimal 
--------------------------------------------- 
