--------------------------------------------- 
Job start 
Search space: Bitstring 
Problem: Max 3-SAT 
Problem instance: C:/EA/Build/../ALL_3SAT/uf175-753/uf175-042.cnf
Algorithm: Hybrid with No Crossover
Running Time: 50000 milliseconds
Iteration: 0, Fitness: 744
Iteration: 10, Fitness: 747
Iteration: 20, Fitness: 748
Iteration: 320, Fitness: 749
Iteration: 540, Fitness: 750
------------------------------- 
Job Complete 
Iterations: 9511
Best Solution Fitness: 750 
Not Optimal 
--------------------------------------------- 
