--------------------------------------------- 
Job start 
Search space: Bitstring 
Problem: Max 3-SAT 
Problem instance: C:/EA/Build/../ALL_3SAT/uf175-753/uf175-032.cnf
Algorithm: Hybrid with No Crossover
Running Time: 50000 milliseconds
Iteration: 0, Fitness: 738
Iteration: 10, Fitness: 739
Iteration: 20, Fitness: 741
Iteration: 26, Fitness: 742
Iteration: 30, Fitness: 745
Iteration: 50, Fitness: 746
Iteration: 860, Fitness: 747
Iteration: 970, Fitness: 748
Iteration: 1090, Fitness: 750
------------------------------- 
Job Complete 
Iterations: 9461
Best Solution Fitness: 750 
Not Optimal 
--------------------------------------------- 
