--------------------------------------------- 
Job start 
Search space: Bitstring 
Problem: Max 3-SAT 
Problem instance: C:/EA/Build/../ALL_3SAT/uf175-753/uf175-033.cnf
Algorithm: Hybrid with No Crossover
Running Time: 50000 milliseconds
Iteration: 0, Fitness: 736
Iteration: 10, Fitness: 739
Iteration: 20, Fitness: 740
Iteration: 30, Fitness: 743
Iteration: 40, Fitness: 746
Iteration: 60, Fitness: 747
Iteration: 200, Fitness: 748
Iteration: 380, Fitness: 749
Iteration: 440, Fitness: 750
------------------------------- 
Job Complete 
Iterations: 9391
Best Solution Fitness: 750 
Not Optimal 
--------------------------------------------- 
