--------------------------------------------- 
Job start 
Search space: Bitstring 
Problem: Max 3-SAT 
Problem instance: C:/EA/Build/../ALL_3SAT/uf225-960/uf225-056.cnf
Algorithm: Hybrid with Two point Crossover improved by local search
Running Time: 50000 milliseconds
Iteration: 0, Fitness: 941
Iteration: 1, Fitness: 944
Iteration: 2, Fitness: 947
Iteration: 3, Fitness: 948
Iteration: 4, Fitness: 951
Iteration: 6, Fitness: 952
Iteration: 7, Fitness: 953
Iteration: 10, Fitness: 954
Iteration: 16, Fitness: 955
Iteration: 24, Fitness: 956
Iteration: 26, Fitness: 957
Iteration: 298, Fitness: 958
------------------------------- 
Job Complete 
Iterations: 966
Best Solution Fitness: 958 
Not Optimal 
------------------------------- 
Local optimality of 2-point crossover children
Local optimal count: 1393
Not local optimal count: 26812
--------------------------------------------- 
