--------------------------------------------- 
Job start 
Search space: Bitstring 
Problem: Max 3-SAT 
Problem instance: C:/EA/Build/../ALL_3SAT/uf225-960/uf225-05.cnf
Algorithm: Hybrid with Two point Crossover improved by local search
Running Time: 50000 milliseconds
Iteration: 0, Fitness: 944
Iteration: 1, Fitness: 946
Iteration: 2, Fitness: 949
Iteration: 3, Fitness: 950
Iteration: 5, Fitness: 952
Iteration: 9, Fitness: 954
Iteration: 11, Fitness: 956
Iteration: 18, Fitness: 958
Iteration: 412, Fitness: 959
------------------------------- 
Job Complete 
Iterations: 973
Best Solution Fitness: 959 
Not Optimal 
------------------------------- 
Local optimality of 2-point crossover children
Local optimal count: 1352
Not local optimal count: 27244
--------------------------------------------- 
