--------------------------------------------- 
Job start 
Search space: Bitstring 
Problem: Max 3-SAT 
Problem instance: C:/EA/Build/../ALL_3SAT/uf225-960/uf225-058.cnf
Algorithm: Hybrid with Two point Crossover improved by local search
Running Time: 50000 milliseconds
Iteration: 0, Fitness: 940
Iteration: 1, Fitness: 944
Iteration: 2, Fitness: 945
Iteration: 3, Fitness: 947
Iteration: 4, Fitness: 951
Iteration: 6, Fitness: 952
Iteration: 7, Fitness: 954
Iteration: 12, Fitness: 955
Iteration: 19, Fitness: 956
Iteration: 44, Fitness: 957
------------------------------- 
Job Complete 
Iterations: 984
Best Solution Fitness: 957 
Not Optimal 
------------------------------- 
Local optimality of 2-point crossover children
Local optimal count: 1422
Not local optimal count: 27236
--------------------------------------------- 
