--------------------------------------------- 
Job start 
Search space: Bitstring 
Problem: Max 3-SAT 
Problem instance: C:/EA/Build/../ALL_3SAT/uf150-645/uf150-085.cnf
Algorithm: Hybrid with No Crossover
Running Time: 50000 milliseconds
Iteration: 0, Fitness: 634
Iteration: 10, Fitness: 637
Iteration: 20, Fitness: 640
Iteration: 30, Fitness: 641
Iteration: 1200, Fitness: 642
------------------------------- 
Job Complete 
Iterations: 14031
Best Solution Fitness: 642 
Not Optimal 
--------------------------------------------- 
