--------------------------------------------- 
Job start 
Search space: Bitstring 
Problem: Max 3-SAT 
Problem instance: C:/EA/Build/../ALL_3SAT/uf150-645/uf150-062.cnf
Algorithm: Hybrid with No Crossover
Running Time: 50000 milliseconds
Iteration: 0, Fitness: 630
Iteration: 6, Fitness: 631
Iteration: 10, Fitness: 633
Iteration: 20, Fitness: 635
Iteration: 40, Fitness: 636
Iteration: 50, Fitness: 638
Iteration: 980, Fitness: 639
Iteration: 990, Fitness: 640
Iteration: 1220, Fitness: 641
------------------------------- 
Job Complete 
Iterations: 12371
Best Solution Fitness: 641 
Not Optimal 
--------------------------------------------- 
