--------------------------------------------- 
Job start 
Search space: Bitstring 
Problem: Max 3-SAT 
Problem instance: C:/EA/Build/../ALL_3SAT/uf150-645/uf150-065.cnf
Algorithm: Hybrid with No Crossover
Running Time: 50000 milliseconds
Iteration: 0, Fitness: 631
Iteration: 10, Fitness: 632
Iteration: 20, Fitness: 633
Iteration: 30, Fitness: 635
Iteration: 90, Fitness: 636
Iteration: 430, Fitness: 637
Iteration: 600, Fitness: 638
Iteration: 2840, Fitness: 639
------------------------------- 
Job Complete 
Iterations: 12331
Best Solution Fitness: 639 
Not Optimal 
--------------------------------------------- 
