--------------------------------------------- 
Job start 
Search space: Bitstring 
Problem: Max 3-SAT 
Problem instance: C:/EA/Build/../ALL_3SAT/uf150-645/uf150-066.cnf
Algorithm: Hybrid with No Crossover
Running Time: 50000 milliseconds
Iteration: 0, Fitness: 632
Iteration: 10, Fitness: 636
Iteration: 20, Fitness: 637
Iteration: 30, Fitness: 638
Iteration: 740, Fitness: 639
Iteration: 2150, Fitness: 640
Iteration: 3530, Fitness: 641
------------------------------- 
Job Complete 
Iterations: 12381
Best Solution Fitness: 641 
Not Optimal 
--------------------------------------------- 
