--------------------------------------------- 
Job start 
Search space: Bitstring 
Problem: Max 3-SAT 
Problem instance: C:/EA/Build/../ALL_3SAT/uf150-645/uf150-012.cnf
Algorithm: Hybrid with No Crossover
Running Time: 50000 milliseconds
Iteration: 0, Fitness: 634
Iteration: 10, Fitness: 635
Iteration: 20, Fitness: 636
Iteration: 30, Fitness: 638
Iteration: 40, Fitness: 639
Iteration: 50, Fitness: 640
Iteration: 70, Fitness: 641
------------------------------- 
Job Complete 
Iterations: 12371
Best Solution Fitness: 641 
Not Optimal 
--------------------------------------------- 
