--------------------------------------------- 
Job start 
Search space: Bitstring 
Problem: Max 3-SAT 
Problem instance: C:/EA/Build/../ALL_3SAT/uf150-645/uf150-093.cnf
Algorithm: Hybrid with No Crossover
Running Time: 50000 milliseconds
Iteration: 0, Fitness: 636
Iteration: 8, Fitness: 637
Iteration: 10, Fitness: 638
Iteration: 20, Fitness: 639
Iteration: 70, Fitness: 640
Iteration: 300, Fitness: 641
Iteration: 1280, Fitness: 642
Iteration: 13080, Fitness: 643
------------------------------- 
Job Complete 
Iterations: 14791
Best Solution Fitness: 643 
Not Optimal 
--------------------------------------------- 
