--------------------------------------------- 
Job start 
Search space: Bitstring 
Problem: Max 3-SAT 
Problem instance: C:/EA/Build/../ALL_3SAT/uf150-645/uf150-077.cnf
Algorithm: Hybrid with No Crossover
Running Time: 50000 milliseconds
Iteration: 0, Fitness: 632
Iteration: 5, Fitness: 633
Iteration: 8, Fitness: 634
Iteration: 10, Fitness: 637
Iteration: 14, Fitness: 638
Iteration: 20, Fitness: 639
Iteration: 60, Fitness: 640
Iteration: 230, Fitness: 641
Iteration: 4930, Fitness: 642
------------------------------- 
Job Complete 
Iterations: 12401
Best Solution Fitness: 642 
Not Optimal 
--------------------------------------------- 
