--------------------------------------------- 
Job start 
Search space: Bitstring 
Problem: Max 3-SAT 
Problem instance: C:/EA/Build/../ALL_3SAT/uf150-645/uf150-058.cnf
Algorithm: Hybrid with No Crossover
Running Time: 50000 milliseconds
Iteration: 0, Fitness: 630
Iteration: 10, Fitness: 637
Iteration: 20, Fitness: 638
Iteration: 260, Fitness: 639
Iteration: 270, Fitness: 640
------------------------------- 
Job Complete 
Iterations: 12391
Best Solution Fitness: 640 
Not Optimal 
--------------------------------------------- 
