--------------------------------------------- 
Job start 
Search space: Bitstring 
Problem: Max 3-SAT 
Problem instance: C:/EA/Build/../ALL_3SAT/uf150-645/uf150-079.cnf
Algorithm: Hybrid with No Crossover
Running Time: 50000 milliseconds
Iteration: 0, Fitness: 633
Iteration: 9, Fitness: 634
Iteration: 10, Fitness: 635
Iteration: 30, Fitness: 636
Iteration: 300, Fitness: 637
Iteration: 400, Fitness: 638
Iteration: 610, Fitness: 639
Iteration: 2520, Fitness: 640
Iteration: 2530, Fitness: 641
------------------------------- 
Job Complete 
Iterations: 12361
Best Solution Fitness: 641 
Not Optimal 
--------------------------------------------- 
