--------------------------------------------- 
Job start 
Search space: Bitstring 
Problem: Max 3-SAT 
Problem instance: C:/EA/Build/../ALL_3SAT/uf250-1065/uf250-01.cnf
Algorithm: Hybrid with No Crossover
Running Time: 50000 milliseconds
Iteration: 0, Fitness: 1048
Iteration: 10, Fitness: 1052
Iteration: 40, Fitness: 1053
Iteration: 60, Fitness: 1054
Iteration: 70, Fitness: 1055
Iteration: 120, Fitness: 1056
Iteration: 160, Fitness: 1057
Iteration: 220, Fitness: 1058
------------------------------- 
Job Complete 
Iterations: 4921
Best Solution Fitness: 1058 
Not Optimal 
--------------------------------------------- 
