--------------------------------------------- 
Job start 
Search space: Bitstring 
Problem: Max 3-SAT 
Problem instance: C:/EA/Build/../ALL_3SAT/uf250-1065/uf250-045.cnf
Algorithm: Hybrid with No Crossover
Running Time: 50000 milliseconds
Iteration: 0, Fitness: 1040
Iteration: 10, Fitness: 1046
Iteration: 20, Fitness: 1048
Iteration: 40, Fitness: 1049
Iteration: 60, Fitness: 1050
Iteration: 80, Fitness: 1051
Iteration: 90, Fitness: 1052
Iteration: 120, Fitness: 1054
Iteration: 190, Fitness: 1055
Iteration: 200, Fitness: 1056
Iteration: 480, Fitness: 1057
Iteration: 2270, Fitness: 1058
Iteration: 3550, Fitness: 1059
Iteration: 4310, Fitness: 1060
------------------------------- 
Job Complete 
Iterations: 4921
Best Solution Fitness: 1060 
Not Optimal 
--------------------------------------------- 
