--------------------------------------------- 
Job start 
Search space: Bitstring 
Problem: Max 3-SAT 
Problem instance: C:/EA/Build/../ALL_3SAT/uf250-1065/uf250-016.cnf
Algorithm: Hybrid with No Crossover
Running Time: 50000 milliseconds
Iteration: 0, Fitness: 1047
Iteration: 10, Fitness: 1049
Iteration: 40, Fitness: 1050
Iteration: 50, Fitness: 1051
Iteration: 100, Fitness: 1053
Iteration: 150, Fitness: 1054
Iteration: 160, Fitness: 1055
Iteration: 370, Fitness: 1056
Iteration: 710, Fitness: 1057
------------------------------- 
Job Complete 
Iterations: 4911
Best Solution Fitness: 1057 
Not Optimal 
--------------------------------------------- 
