--------------------------------------------- 
Job start 
Search space: Bitstring 
Problem: Max 3-SAT 
Problem instance: C:/EA/Build/../ALL_3SAT/uf100-430/uf100-0123.cnf
Algorithm: Hybrid with Two point Crossover improved by local search
Running Time: 50000 milliseconds
Iteration: 0, Fitness: 422
Iteration: 1, Fitness: 423
Iteration: 2, Fitness: 425
Iteration: 5, Fitness: 426
Iteration: 7, Fitness: 428
Iteration: 26, Fitness: 429
Iteration: 216, Fitness: 430
------------------------------- 
Job Complete 
Iterations: 217
Best Solution Fitness: 430 
Optimal 
------------------------------- 
Local optimality of 2-point crossover children
Local optimal count: 335
Not local optimal count: 6026
--------------------------------------------- 
