--------------------------------------------- 
Job start 
Search space: Bitstring 
Problem: Max 3-SAT 
Problem instance: C:/EA/Build/../ALL_3SAT/uf100-430/uf100-0166.cnf
Algorithm: Hybrid with Two point Crossover improved by local search
Running Time: 50000 milliseconds
Iteration: 0, Fitness: 424
Iteration: 1, Fitness: 426
Iteration: 4, Fitness: 427
Iteration: 8, Fitness: 428
Iteration: 9, Fitness: 429
Iteration: 29, Fitness: 430
------------------------------- 
Job Complete 
Iterations: 30
Best Solution Fitness: 430 
Optimal 
------------------------------- 
Local optimality of 2-point crossover children
Local optimal count: 38
Not local optimal count: 821
--------------------------------------------- 
