--------------------------------------------- 
Job start 
Search space: Bitstring 
Problem: Max 3-SAT 
Problem instance: C:/EA/Build/../ALL_3SAT/uf100-430/uf100-0183.cnf
Algorithm: Hybrid with Two point Crossover improved by local search
Running Time: 50000 milliseconds
Iteration: 0, Fitness: 423
Iteration: 3, Fitness: 425
Iteration: 5, Fitness: 426
Iteration: 6, Fitness: 427
Iteration: 17, Fitness: 428
Iteration: 36, Fitness: 429
Iteration: 52, Fitness: 430
------------------------------- 
Job Complete 
Iterations: 53
Best Solution Fitness: 430 
Optimal 
------------------------------- 
Local optimality of 2-point crossover children
Local optimal count: 68
Not local optimal count: 1515
--------------------------------------------- 
