--------------------------------------------- 
Job start 
Search space: Bitstring 
Problem: Max 3-SAT 
Problem instance: C:/EA/Build/../ALL_3SAT/uf100-430/uf100-0143.cnf
Algorithm: Hybrid with Two point Crossover improved by local search
Running Time: 50000 milliseconds
Iteration: 0, Fitness: 426
Iteration: 5, Fitness: 427
Iteration: 6, Fitness: 428
Iteration: 12, Fitness: 429
------------------------------- 
Job Complete 
Iterations: 4340
Best Solution Fitness: 429 
Not Optimal 
------------------------------- 
Local optimality of 2-point crossover children
Local optimal count: 8906
Not local optimal count: 118552
--------------------------------------------- 
