--------------------------------------------- 
Job start 
Search space: Bitstring 
Problem: Max 3-SAT 
Problem instance: C:/EA/Build/../ALL_3SAT/uf150-645/uf150-043.cnf
Algorithm: Black-Box Generational 
Running Time: 50000 milliseconds
Iteration: 0, Fitness: 585
Iteration: 1, Fitness: 588
Iteration: 2, Fitness: 593
Iteration: 5, Fitness: 594
Iteration: 6, Fitness: 598
Iteration: 7, Fitness: 600
Iteration: 9, Fitness: 602
Iteration: 11, Fitness: 604
Iteration: 13, Fitness: 606
Iteration: 14, Fitness: 607
Iteration: 15, Fitness: 609
Iteration: 17, Fitness: 611
Iteration: 18, Fitness: 612
Iteration: 21, Fitness: 613
Iteration: 22, Fitness: 615
Iteration: 24, Fitness: 616
Iteration: 27, Fitness: 617
Iteration: 28, Fitness: 621
Iteration: 32, Fitness: 622
Iteration: 35, Fitness: 624
Iteration: 36, Fitness: 625
Iteration: 38, Fitness: 626
Iteration: 47, Fitness: 627
Iteration: 49, Fitness: 629
Iteration: 50, Fitness: 630
Iteration: 55, Fitness: 631
Iteration: 56, Fitness: 632
Iteration: 63, Fitness: 633
Iteration: 64, Fitness: 634
Iteration: 74, Fitness: 635
Iteration: 83, Fitness: 636
Iteration: 99, Fitness: 637
Iteration: 155, Fitness: 638
Iteration: 163, Fitness: 639
Iteration: 236, Fitness: 640
Iteration: 282, Fitness: 641
Iteration: 378, Fitness: 642
------------------------------- 
Job Complete 
Iterations: 5191
Best Solution Fitness: 642 
Not Optimal 
--------------------------------------------- 
