--------------------------------------------- 
Job start 
Search space: Bitstring 
Problem: Max 3-SAT 
Problem instance: C:/EA/Build/../ALL_3SAT/uf150-645/uf150-060.cnf
Algorithm: Black-Box Generational 
Running Time: 50000 milliseconds
Iteration: 0, Fitness: 572
Iteration: 1, Fitness: 574
Iteration: 2, Fitness: 575
Iteration: 3, Fitness: 578
Iteration: 4, Fitness: 580
Iteration: 5, Fitness: 582
Iteration: 6, Fitness: 584
Iteration: 7, Fitness: 588
Iteration: 9, Fitness: 593
Iteration: 11, Fitness: 599
Iteration: 13, Fitness: 600
Iteration: 14, Fitness: 601
Iteration: 15, Fitness: 602
Iteration: 17, Fitness: 605
Iteration: 18, Fitness: 607
Iteration: 22, Fitness: 608
Iteration: 23, Fitness: 609
Iteration: 25, Fitness: 610
Iteration: 27, Fitness: 615
Iteration: 30, Fitness: 617
Iteration: 33, Fitness: 618
Iteration: 35, Fitness: 619
Iteration: 37, Fitness: 622
Iteration: 38, Fitness: 623
Iteration: 42, Fitness: 624
Iteration: 46, Fitness: 625
Iteration: 48, Fitness: 626
Iteration: 50, Fitness: 628
Iteration: 57, Fitness: 629
Iteration: 61, Fitness: 631
Iteration: 74, Fitness: 633
Iteration: 81, Fitness: 634
Iteration: 89, Fitness: 635
Iteration: 97, Fitness: 636
Iteration: 98, Fitness: 637
Iteration: 111, Fitness: 638
Iteration: 117, Fitness: 640
Iteration: 131, Fitness: 641
Iteration: 176, Fitness: 642
Iteration: 222, Fitness: 643
Iteration: 292, Fitness: 644
------------------------------- 
Job Complete 
Iterations: 5060
Best Solution Fitness: 644 
Not Optimal 
--------------------------------------------- 
