--------------------------------------------- 
Job start 
Search space: Bitstring 
Problem: Max 3-SAT 
Problem instance: C:/EA/Build/../ALL_3SAT/uf150-645/uf150-092.cnf
Algorithm: Black-Box Generational 
Running Time: 50000 milliseconds
Iteration: 0, Fitness: 563
Iteration: 1, Fitness: 564
Iteration: 2, Fitness: 568
Iteration: 3, Fitness: 570
Iteration: 4, Fitness: 573
Iteration: 5, Fitness: 575
Iteration: 6, Fitness: 577
Iteration: 7, Fitness: 579
Iteration: 8, Fitness: 582
Iteration: 9, Fitness: 586
Iteration: 10, Fitness: 588
Iteration: 13, Fitness: 590
Iteration: 14, Fitness: 597
Iteration: 15, Fitness: 598
Iteration: 17, Fitness: 600
Iteration: 19, Fitness: 601
Iteration: 21, Fitness: 606
Iteration: 24, Fitness: 609
Iteration: 26, Fitness: 611
Iteration: 27, Fitness: 612
Iteration: 31, Fitness: 614
Iteration: 34, Fitness: 615
Iteration: 39, Fitness: 616
Iteration: 41, Fitness: 617
Iteration: 42, Fitness: 618
Iteration: 44, Fitness: 619
Iteration: 52, Fitness: 620
Iteration: 53, Fitness: 623
Iteration: 54, Fitness: 625
Iteration: 66, Fitness: 626
Iteration: 77, Fitness: 627
Iteration: 83, Fitness: 628
Iteration: 91, Fitness: 629
Iteration: 98, Fitness: 630
Iteration: 108, Fitness: 631
Iteration: 112, Fitness: 632
Iteration: 123, Fitness: 633
Iteration: 129, Fitness: 634
Iteration: 139, Fitness: 635
Iteration: 144, Fitness: 636
Iteration: 158, Fitness: 637
Iteration: 488, Fitness: 638
Iteration: 797, Fitness: 639
Iteration: 3243, Fitness: 640
------------------------------- 
Job Complete 
Iterations: 5560
Best Solution Fitness: 640 
Not Optimal 
--------------------------------------------- 
