--------------------------------------------- 
Job start 
Search space: Bitstring 
Problem: Max 3-SAT 
Problem instance: C:/EA/Build/../ALL_3SAT/uf150-645/uf150-027.cnf
Algorithm: Black-Box Generational 
Running Time: 50000 milliseconds
Iteration: 0, Fitness: 573
Iteration: 1, Fitness: 577
Iteration: 3, Fitness: 582
Iteration: 5, Fitness: 584
Iteration: 6, Fitness: 585
Iteration: 7, Fitness: 587
Iteration: 8, Fitness: 589
Iteration: 9, Fitness: 591
Iteration: 10, Fitness: 596
Iteration: 14, Fitness: 598
Iteration: 15, Fitness: 600
Iteration: 17, Fitness: 603
Iteration: 19, Fitness: 606
Iteration: 21, Fitness: 608
Iteration: 23, Fitness: 609
Iteration: 25, Fitness: 610
Iteration: 26, Fitness: 611
Iteration: 28, Fitness: 612
Iteration: 31, Fitness: 615
Iteration: 34, Fitness: 616
Iteration: 36, Fitness: 622
Iteration: 43, Fitness: 623
Iteration: 45, Fitness: 625
Iteration: 49, Fitness: 626
Iteration: 51, Fitness: 627
Iteration: 61, Fitness: 629
Iteration: 71, Fitness: 630
Iteration: 72, Fitness: 631
Iteration: 86, Fitness: 632
Iteration: 89, Fitness: 633
Iteration: 100, Fitness: 634
Iteration: 108, Fitness: 635
Iteration: 124, Fitness: 636
Iteration: 141, Fitness: 637
Iteration: 186, Fitness: 638
Iteration: 606, Fitness: 639
Iteration: 1387, Fitness: 640
Iteration: 3557, Fitness: 641
------------------------------- 
Job Complete 
Iterations: 5095
Best Solution Fitness: 641 
Not Optimal 
--------------------------------------------- 
