--------------------------------------------- 
Job start 
Search space: Bitstring 
Problem: Max 3-SAT 
Problem instance: C:/EA/Build/../ALL_3SAT/uf225-960/uf225-038.cnf
Algorithm: Black-Box Generational 
Running Time: 50000 milliseconds
Iteration: 0, Fitness: 858
Iteration: 2, Fitness: 862
Iteration: 3, Fitness: 866
Iteration: 4, Fitness: 868
Iteration: 5, Fitness: 872
Iteration: 7, Fitness: 874
Iteration: 8, Fitness: 875
Iteration: 9, Fitness: 878
Iteration: 10, Fitness: 880
Iteration: 11, Fitness: 881
Iteration: 12, Fitness: 883
Iteration: 13, Fitness: 885
Iteration: 14, Fitness: 888
Iteration: 15, Fitness: 891
Iteration: 17, Fitness: 893
Iteration: 18, Fitness: 895
Iteration: 19, Fitness: 896
Iteration: 20, Fitness: 899
Iteration: 23, Fitness: 900
Iteration: 24, Fitness: 903
Iteration: 27, Fitness: 904
Iteration: 28, Fitness: 905
Iteration: 29, Fitness: 906
Iteration: 30, Fitness: 910
Iteration: 32, Fitness: 911
Iteration: 34, Fitness: 913
Iteration: 35, Fitness: 914
Iteration: 36, Fitness: 915
Iteration: 38, Fitness: 917
Iteration: 41, Fitness: 918
Iteration: 42, Fitness: 919
Iteration: 45, Fitness: 920
Iteration: 47, Fitness: 921
Iteration: 48, Fitness: 922
Iteration: 50, Fitness: 924
Iteration: 52, Fitness: 925
Iteration: 56, Fitness: 927
Iteration: 60, Fitness: 928
Iteration: 61, Fitness: 930
Iteration: 70, Fitness: 931
Iteration: 71, Fitness: 933
Iteration: 72, Fitness: 936
Iteration: 90, Fitness: 938
Iteration: 103, Fitness: 939
Iteration: 105, Fitness: 940
Iteration: 113, Fitness: 941
Iteration: 116, Fitness: 942
Iteration: 119, Fitness: 943
Iteration: 121, Fitness: 944
Iteration: 138, Fitness: 945
Iteration: 152, Fitness: 946
Iteration: 160, Fitness: 947
Iteration: 178, Fitness: 948
Iteration: 181, Fitness: 949
Iteration: 194, Fitness: 950
Iteration: 222, Fitness: 951
Iteration: 245, Fitness: 952
Iteration: 454, Fitness: 953
------------------------------- 
Job Complete 
Iterations: 3448
Best Solution Fitness: 953 
Not Optimal 
--------------------------------------------- 
