--------------------------------------------- 
Job start 
Search space: Bitstring 
Problem: Max 3-SAT 
Problem instance: C:/EA/Build/../ALL_3SAT/uf225-960/uf225-072.cnf
Algorithm: Black-Box Generational 
Running Time: 50000 milliseconds
Iteration: 0, Fitness: 853
Iteration: 2, Fitness: 855
Iteration: 3, Fitness: 857
Iteration: 5, Fitness: 861
Iteration: 6, Fitness: 865
Iteration: 7, Fitness: 866
Iteration: 8, Fitness: 872
Iteration: 9, Fitness: 873
Iteration: 10, Fitness: 874
Iteration: 11, Fitness: 877
Iteration: 12, Fitness: 884
Iteration: 16, Fitness: 886
Iteration: 18, Fitness: 890
Iteration: 19, Fitness: 892
Iteration: 20, Fitness: 894
Iteration: 22, Fitness: 898
Iteration: 24, Fitness: 899
Iteration: 25, Fitness: 900
Iteration: 28, Fitness: 903
Iteration: 29, Fitness: 905
Iteration: 30, Fitness: 906
Iteration: 32, Fitness: 907
Iteration: 34, Fitness: 908
Iteration: 35, Fitness: 909
Iteration: 36, Fitness: 913
Iteration: 37, Fitness: 915
Iteration: 43, Fitness: 916
Iteration: 44, Fitness: 919
Iteration: 46, Fitness: 920
Iteration: 51, Fitness: 923
Iteration: 53, Fitness: 924
Iteration: 63, Fitness: 925
Iteration: 66, Fitness: 926
Iteration: 67, Fitness: 928
Iteration: 68, Fitness: 929
Iteration: 74, Fitness: 930
Iteration: 77, Fitness: 931
Iteration: 82, Fitness: 934
Iteration: 86, Fitness: 935
Iteration: 92, Fitness: 936
Iteration: 103, Fitness: 937
Iteration: 112, Fitness: 938
Iteration: 120, Fitness: 939
Iteration: 131, Fitness: 940
Iteration: 139, Fitness: 941
Iteration: 160, Fitness: 942
Iteration: 224, Fitness: 943
Iteration: 287, Fitness: 944
Iteration: 335, Fitness: 945
Iteration: 381, Fitness: 946
Iteration: 426, Fitness: 947
Iteration: 488, Fitness: 948
Iteration: 552, Fitness: 949
Iteration: 796, Fitness: 950
Iteration: 1052, Fitness: 951
Iteration: 1113, Fitness: 952
Iteration: 1326, Fitness: 953
Iteration: 2989, Fitness: 954
------------------------------- 
Job Complete 
Iterations: 3505
Best Solution Fitness: 954 
Not Optimal 
--------------------------------------------- 
