--------------------------------------------- 
Job start 
Search space: Bitstring 
Problem: Max 3-SAT 
Problem instance: C:/EA/Build/../ALL_3SAT/uf225-960/uf225-048.cnf
Algorithm: Black-Box Generational 
Running Time: 50000 milliseconds
Iteration: 0, Fitness: 832
Iteration: 1, Fitness: 836
Iteration: 2, Fitness: 838
Iteration: 3, Fitness: 841
Iteration: 4, Fitness: 843
Iteration: 5, Fitness: 847
Iteration: 6, Fitness: 852
Iteration: 7, Fitness: 856
Iteration: 10, Fitness: 862
Iteration: 12, Fitness: 865
Iteration: 13, Fitness: 869
Iteration: 17, Fitness: 873
Iteration: 19, Fitness: 877
Iteration: 20, Fitness: 881
Iteration: 21, Fitness: 882
Iteration: 24, Fitness: 884
Iteration: 25, Fitness: 886
Iteration: 26, Fitness: 890
Iteration: 28, Fitness: 891
Iteration: 29, Fitness: 892
Iteration: 30, Fitness: 893
Iteration: 31, Fitness: 894
Iteration: 33, Fitness: 895
Iteration: 34, Fitness: 896
Iteration: 37, Fitness: 899
Iteration: 39, Fitness: 901
Iteration: 40, Fitness: 902
Iteration: 42, Fitness: 905
Iteration: 45, Fitness: 906
Iteration: 46, Fitness: 909
Iteration: 49, Fitness: 910
Iteration: 50, Fitness: 911
Iteration: 52, Fitness: 913
Iteration: 53, Fitness: 915
Iteration: 56, Fitness: 918
Iteration: 58, Fitness: 920
Iteration: 60, Fitness: 922
Iteration: 62, Fitness: 923
Iteration: 64, Fitness: 926
Iteration: 68, Fitness: 928
Iteration: 71, Fitness: 929
Iteration: 74, Fitness: 930
Iteration: 80, Fitness: 931
Iteration: 81, Fitness: 933
Iteration: 82, Fitness: 934
Iteration: 84, Fitness: 936
Iteration: 85, Fitness: 938
Iteration: 100, Fitness: 939
Iteration: 107, Fitness: 940
Iteration: 112, Fitness: 941
Iteration: 141, Fitness: 942
Iteration: 154, Fitness: 944
Iteration: 201, Fitness: 945
Iteration: 240, Fitness: 946
Iteration: 246, Fitness: 947
Iteration: 320, Fitness: 948
Iteration: 329, Fitness: 949
Iteration: 361, Fitness: 950
Iteration: 500, Fitness: 951
Iteration: 808, Fitness: 952
Iteration: 1043, Fitness: 953
Iteration: 1195, Fitness: 954
Iteration: 1209, Fitness: 955
------------------------------- 
Job Complete 
Iterations: 3513
Best Solution Fitness: 955 
Not Optimal 
--------------------------------------------- 
