--------------------------------------------- 
Job start 
Search space: Bitstring 
Problem: Max 3-SAT 
Problem instance: C:/EA/Build/../ALL_3SAT/uf225-960/uf225-089.cnf
Algorithm: Black-Box Generational 
Running Time: 50000 milliseconds
Iteration: 0, Fitness: 842
Iteration: 1, Fitness: 844
Iteration: 2, Fitness: 847
Iteration: 3, Fitness: 851
Iteration: 4, Fitness: 855
Iteration: 7, Fitness: 860
Iteration: 9, Fitness: 862
Iteration: 10, Fitness: 864
Iteration: 11, Fitness: 867
Iteration: 13, Fitness: 870
Iteration: 15, Fitness: 876
Iteration: 19, Fitness: 878
Iteration: 20, Fitness: 881
Iteration: 21, Fitness: 882
Iteration: 22, Fitness: 884
Iteration: 24, Fitness: 886
Iteration: 27, Fitness: 887
Iteration: 28, Fitness: 888
Iteration: 29, Fitness: 892
Iteration: 32, Fitness: 896
Iteration: 34, Fitness: 897
Iteration: 36, Fitness: 900
Iteration: 39, Fitness: 901
Iteration: 40, Fitness: 903
Iteration: 42, Fitness: 904
Iteration: 44, Fitness: 907
Iteration: 48, Fitness: 908
Iteration: 49, Fitness: 909
Iteration: 50, Fitness: 912
Iteration: 52, Fitness: 914
Iteration: 55, Fitness: 916
Iteration: 56, Fitness: 917
Iteration: 57, Fitness: 918
Iteration: 62, Fitness: 921
Iteration: 67, Fitness: 922
Iteration: 68, Fitness: 924
Iteration: 74, Fitness: 925
Iteration: 76, Fitness: 926
Iteration: 78, Fitness: 928
Iteration: 80, Fitness: 929
Iteration: 81, Fitness: 930
Iteration: 87, Fitness: 931
Iteration: 88, Fitness: 934
Iteration: 99, Fitness: 935
Iteration: 110, Fitness: 937
Iteration: 111, Fitness: 939
Iteration: 123, Fitness: 940
Iteration: 129, Fitness: 942
Iteration: 139, Fitness: 943
Iteration: 143, Fitness: 944
Iteration: 150, Fitness: 945
Iteration: 161, Fitness: 946
Iteration: 172, Fitness: 947
Iteration: 185, Fitness: 948
Iteration: 200, Fitness: 949
Iteration: 208, Fitness: 950
Iteration: 213, Fitness: 951
Iteration: 321, Fitness: 952
Iteration: 607, Fitness: 953
Iteration: 1207, Fitness: 954
------------------------------- 
Job Complete 
Iterations: 3524
Best Solution Fitness: 954 
Not Optimal 
--------------------------------------------- 
