--------------------------------------------- 
Job start 
Search space: Bitstring 
Problem: Max 3-SAT 
Problem instance: C:/EA/Build/../ALL_3SAT/uf225-960/uf225-014.cnf
Algorithm: Black-Box Generational 
Running Time: 50000 milliseconds
Iteration: 0, Fitness: 849
Iteration: 2, Fitness: 853
Iteration: 3, Fitness: 855
Iteration: 6, Fitness: 860
Iteration: 8, Fitness: 865
Iteration: 9, Fitness: 872
Iteration: 12, Fitness: 874
Iteration: 14, Fitness: 875
Iteration: 15, Fitness: 878
Iteration: 17, Fitness: 880
Iteration: 18, Fitness: 881
Iteration: 19, Fitness: 882
Iteration: 20, Fitness: 888
Iteration: 22, Fitness: 889
Iteration: 24, Fitness: 892
Iteration: 25, Fitness: 895
Iteration: 28, Fitness: 898
Iteration: 30, Fitness: 901
Iteration: 33, Fitness: 905
Iteration: 35, Fitness: 908
Iteration: 42, Fitness: 909
Iteration: 43, Fitness: 911
Iteration: 47, Fitness: 915
Iteration: 49, Fitness: 917
Iteration: 50, Fitness: 919
Iteration: 57, Fitness: 920
Iteration: 58, Fitness: 921
Iteration: 64, Fitness: 922
Iteration: 65, Fitness: 924
Iteration: 67, Fitness: 925
Iteration: 71, Fitness: 926
Iteration: 74, Fitness: 928
Iteration: 77, Fitness: 929
Iteration: 80, Fitness: 930
Iteration: 88, Fitness: 931
Iteration: 89, Fitness: 934
Iteration: 106, Fitness: 935
Iteration: 107, Fitness: 936
Iteration: 118, Fitness: 937
Iteration: 125, Fitness: 938
Iteration: 136, Fitness: 939
Iteration: 148, Fitness: 940
Iteration: 149, Fitness: 941
Iteration: 159, Fitness: 942
Iteration: 171, Fitness: 943
Iteration: 174, Fitness: 944
Iteration: 188, Fitness: 945
Iteration: 215, Fitness: 946
Iteration: 237, Fitness: 947
Iteration: 421, Fitness: 948
Iteration: 478, Fitness: 949
Iteration: 561, Fitness: 950
Iteration: 593, Fitness: 951
Iteration: 667, Fitness: 952
Iteration: 1725, Fitness: 953
Iteration: 2661, Fitness: 954
------------------------------- 
Job Complete 
Iterations: 3500
Best Solution Fitness: 954 
Not Optimal 
--------------------------------------------- 
