--------------------------------------------- 
Job start 
Search space: Bitstring 
Problem: Max 3-SAT 
Problem instance: C:/EA/Build/../ALL_3SAT/uf225-960/uf225-046.cnf
Algorithm: Black-Box Generational 
Running Time: 50000 milliseconds
Iteration: 0, Fitness: 862
Iteration: 2, Fitness: 864
Iteration: 3, Fitness: 866
Iteration: 4, Fitness: 867
Iteration: 5, Fitness: 871
Iteration: 6, Fitness: 876
Iteration: 9, Fitness: 879
Iteration: 10, Fitness: 884
Iteration: 13, Fitness: 888
Iteration: 14, Fitness: 889
Iteration: 17, Fitness: 893
Iteration: 18, Fitness: 895
Iteration: 19, Fitness: 897
Iteration: 23, Fitness: 901
Iteration: 25, Fitness: 902
Iteration: 26, Fitness: 903
Iteration: 27, Fitness: 904
Iteration: 28, Fitness: 905
Iteration: 29, Fitness: 906
Iteration: 31, Fitness: 909
Iteration: 32, Fitness: 910
Iteration: 33, Fitness: 914
Iteration: 36, Fitness: 915
Iteration: 39, Fitness: 918
Iteration: 41, Fitness: 919
Iteration: 45, Fitness: 920
Iteration: 48, Fitness: 922
Iteration: 50, Fitness: 923
Iteration: 52, Fitness: 925
Iteration: 54, Fitness: 927
Iteration: 56, Fitness: 928
Iteration: 60, Fitness: 930
Iteration: 64, Fitness: 931
Iteration: 68, Fitness: 932
Iteration: 69, Fitness: 933
Iteration: 74, Fitness: 934
Iteration: 77, Fitness: 935
Iteration: 80, Fitness: 936
Iteration: 89, Fitness: 937
Iteration: 90, Fitness: 938
Iteration: 92, Fitness: 939
Iteration: 107, Fitness: 940
Iteration: 111, Fitness: 941
Iteration: 112, Fitness: 942
Iteration: 125, Fitness: 943
Iteration: 127, Fitness: 944
Iteration: 133, Fitness: 947
Iteration: 150, Fitness: 948
Iteration: 159, Fitness: 950
Iteration: 181, Fitness: 951
Iteration: 190, Fitness: 952
Iteration: 227, Fitness: 953
Iteration: 304, Fitness: 954
Iteration: 605, Fitness: 955
Iteration: 933, Fitness: 956
Iteration: 2193, Fitness: 957
------------------------------- 
Job Complete 
Iterations: 3504
Best Solution Fitness: 957 
Not Optimal 
--------------------------------------------- 
