--------------------------------------------- 
Job start 
Search space: Bitstring 
Problem: Max 3-SAT 
Problem instance: C:/EA/Build/../ALL_3SAT/uf100-430/uf100-0166.cnf
Algorithm: Hybrid with No Crossover
Running Time: 50000 milliseconds
Iteration: 0, Fitness: 422
Iteration: 30, Fitness: 423
Iteration: 70, Fitness: 425
Iteration: 80, Fitness: 426
Iteration: 90, Fitness: 428
Iteration: 110, Fitness: 429
Iteration: 310, Fitness: 430
------------------------------- 
Job Complete 
Iterations: 311
Best Solution Fitness: 430 
Optimal 
--------------------------------------------- 
