--------------------------------------------- 
Job start 
Search space: Bitstring 
Problem: Max 3-SAT 
Problem instance: C:/EA/Build/../ALL_3SAT/uf100-430/uf100-0105.cnf
Algorithm: Hybrid with No Crossover
Running Time: 50000 milliseconds
Iteration: 0, Fitness: 423
Iteration: 40, Fitness: 424
Iteration: 100, Fitness: 425
Iteration: 108, Fitness: 426
Iteration: 120, Fitness: 427
Iteration: 200, Fitness: 428
Iteration: 580, Fitness: 429
Iteration: 1040, Fitness: 430
------------------------------- 
Job Complete 
Iterations: 1041
Best Solution Fitness: 430 
Optimal 
--------------------------------------------- 
