--------------------------------------------- 
Job start 
Search space: Bitstring 
Problem: Max 3-SAT 
Problem instance: C:/EA/Build/../ALL_3SAT/uf100-430/uf100-0147.cnf
Algorithm: Hybrid with No Crossover
Running Time: 50000 milliseconds
Iteration: 0, Fitness: 423
Iteration: 10, Fitness: 424
Iteration: 20, Fitness: 426
Iteration: 30, Fitness: 427
Iteration: 80, Fitness: 428
Iteration: 4120, Fitness: 429
Iteration: 4470, Fitness: 430
------------------------------- 
Job Complete 
Iterations: 4471
Best Solution Fitness: 430 
Optimal 
--------------------------------------------- 
