--------------------------------------------- 
Job start 
Search space: Bitstring 
Problem: Max 3-SAT 
Problem instance: C:/EA/Build/../ALL_3SAT/uf100-430/uf100-0161.cnf
Algorithm: Hybrid with No Crossover
Running Time: 50000 milliseconds
Iteration: 0, Fitness: 423
Iteration: 10, Fitness: 425
Iteration: 20, Fitness: 426
Iteration: 30, Fitness: 427
Iteration: 90, Fitness: 428
Iteration: 1800, Fitness: 429
Iteration: 2020, Fitness: 430
------------------------------- 
Job Complete 
Iterations: 2021
Best Solution Fitness: 430 
Optimal 
--------------------------------------------- 
