--------------------------------------------- 
Job start 
Search space: Bitstring 
Problem: Max 3-SAT 
Problem instance: C:/EA/Build/../ALL_3SAT/uf100-430/uf100-0137.cnf
Algorithm: Black-Box Generational 
Running Time: 50000 milliseconds
Iteration: 0, Fitness: 393
Iteration: 1, Fitness: 396
Iteration: 3, Fitness: 398
Iteration: 5, Fitness: 399
Iteration: 6, Fitness: 401
Iteration: 7, Fitness: 404
Iteration: 8, Fitness: 406
Iteration: 10, Fitness: 407
Iteration: 14, Fitness: 408
Iteration: 17, Fitness: 409
Iteration: 19, Fitness: 410
Iteration: 20, Fitness: 411
Iteration: 23, Fitness: 413
Iteration: 26, Fitness: 414
Iteration: 27, Fitness: 415
Iteration: 29, Fitness: 416
Iteration: 33, Fitness: 419
Iteration: 44, Fitness: 420
Iteration: 47, Fitness: 421
Iteration: 60, Fitness: 422
Iteration: 83, Fitness: 423
Iteration: 185, Fitness: 424
Iteration: 562, Fitness: 425
Iteration: 1125, Fitness: 426
Iteration: 1187, Fitness: 427
Iteration: 2773, Fitness: 428
Iteration: 4454, Fitness: 429
------------------------------- 
Job Complete 
Iterations: 7279
Best Solution Fitness: 429 
Not Optimal 
--------------------------------------------- 
