--------------------------------------------- 
Job start 
Search space: Bitstring 
Problem: Max 3-SAT 
Problem instance: C:/EA/Build/../ALL_3SAT/uf100-430/uf100-012.cnf
Algorithm: Black-Box Generational 
Running Time: 50000 milliseconds
Iteration: 0, Fitness: 376
Iteration: 1, Fitness: 380
Iteration: 2, Fitness: 382
Iteration: 3, Fitness: 384
Iteration: 4, Fitness: 386
Iteration: 5, Fitness: 391
Iteration: 6, Fitness: 394
Iteration: 8, Fitness: 398
Iteration: 9, Fitness: 401
Iteration: 11, Fitness: 403
Iteration: 12, Fitness: 404
Iteration: 13, Fitness: 405
Iteration: 14, Fitness: 408
Iteration: 18, Fitness: 409
Iteration: 19, Fitness: 412
Iteration: 25, Fitness: 415
Iteration: 28, Fitness: 416
Iteration: 30, Fitness: 418
Iteration: 34, Fitness: 419
Iteration: 41, Fitness: 420
Iteration: 46, Fitness: 422
Iteration: 53, Fitness: 423
Iteration: 59, Fitness: 424
Iteration: 67, Fitness: 425
Iteration: 68, Fitness: 426
Iteration: 83, Fitness: 427
Iteration: 261, Fitness: 428
------------------------------- 
Job Complete 
Iterations: 7360
Best Solution Fitness: 428 
Not Optimal 
--------------------------------------------- 
