--------------------------------------------- 
Job start 
Search space: Bitstring 
Problem: Max 3-SAT 
Problem instance: C:/EA/Build/../ALL_3SAT/uf100-430/uf100-011.cnf
Algorithm: Black-Box Generational 
Running Time: 50000 milliseconds
Iteration: 0, Fitness: 375
Iteration: 1, Fitness: 378
Iteration: 2, Fitness: 381
Iteration: 3, Fitness: 384
Iteration: 4, Fitness: 386
Iteration: 5, Fitness: 389
Iteration: 6, Fitness: 392
Iteration: 7, Fitness: 393
Iteration: 8, Fitness: 396
Iteration: 9, Fitness: 400
Iteration: 11, Fitness: 401
Iteration: 12, Fitness: 402
Iteration: 15, Fitness: 403
Iteration: 16, Fitness: 404
Iteration: 17, Fitness: 406
Iteration: 19, Fitness: 407
Iteration: 20, Fitness: 409
Iteration: 22, Fitness: 413
Iteration: 26, Fitness: 414
Iteration: 30, Fitness: 416
Iteration: 33, Fitness: 417
Iteration: 34, Fitness: 419
Iteration: 40, Fitness: 421
Iteration: 41, Fitness: 422
Iteration: 43, Fitness: 423
Iteration: 51, Fitness: 424
Iteration: 72, Fitness: 425
Iteration: 74, Fitness: 426
Iteration: 90, Fitness: 427
Iteration: 226, Fitness: 428
------------------------------- 
Job Complete 
Iterations: 7356
Best Solution Fitness: 428 
Not Optimal 
--------------------------------------------- 
