--------------------------------------------- 
Job start 
Search space: Bitstring 
Problem: Max 3-SAT 
Problem instance: C:/EA/Build/../ALL_3SAT/uf100-430/uf100-0159.cnf
Algorithm: Black-Box Generational 
Running Time: 50000 milliseconds
Iteration: 0, Fitness: 384
Iteration: 1, Fitness: 386
Iteration: 2, Fitness: 387
Iteration: 3, Fitness: 388
Iteration: 4, Fitness: 390
Iteration: 5, Fitness: 392
Iteration: 6, Fitness: 393
Iteration: 7, Fitness: 395
Iteration: 9, Fitness: 399
Iteration: 11, Fitness: 400
Iteration: 12, Fitness: 401
Iteration: 14, Fitness: 402
Iteration: 15, Fitness: 404
Iteration: 17, Fitness: 407
Iteration: 23, Fitness: 410
Iteration: 38, Fitness: 411
Iteration: 45, Fitness: 412
Iteration: 48, Fitness: 413
Iteration: 52, Fitness: 414
Iteration: 58, Fitness: 415
Iteration: 69, Fitness: 416
Iteration: 73, Fitness: 417
Iteration: 76, Fitness: 418
Iteration: 80, Fitness: 419
Iteration: 90, Fitness: 421
Iteration: 103, Fitness: 422
Iteration: 109, Fitness: 423
Iteration: 127, Fitness: 424
Iteration: 183, Fitness: 425
Iteration: 303, Fitness: 426
Iteration: 325, Fitness: 427
Iteration: 982, Fitness: 428
Iteration: 1891, Fitness: 429
------------------------------- 
Job Complete 
Iterations: 7412
Best Solution Fitness: 429 
Not Optimal 
--------------------------------------------- 
