--------------------------------------------- 
Job start 
Search space: Bitstring 
Problem: Max 3-SAT 
Problem instance: C:/EA/Build/../ALL_3SAT/uf100-430/uf100-016.cnf
Algorithm: Black-Box Generational 
Running Time: 50000 milliseconds
Iteration: 0, Fitness: 387
Iteration: 1, Fitness: 389
Iteration: 2, Fitness: 391
Iteration: 3, Fitness: 393
Iteration: 5, Fitness: 394
Iteration: 6, Fitness: 395
Iteration: 7, Fitness: 396
Iteration: 8, Fitness: 397
Iteration: 9, Fitness: 400
Iteration: 10, Fitness: 401
Iteration: 13, Fitness: 402
Iteration: 14, Fitness: 404
Iteration: 16, Fitness: 405
Iteration: 17, Fitness: 406
Iteration: 18, Fitness: 407
Iteration: 20, Fitness: 409
Iteration: 21, Fitness: 410
Iteration: 23, Fitness: 411
Iteration: 28, Fitness: 413
Iteration: 29, Fitness: 414
Iteration: 31, Fitness: 415
Iteration: 34, Fitness: 416
Iteration: 35, Fitness: 417
Iteration: 39, Fitness: 418
Iteration: 40, Fitness: 420
Iteration: 47, Fitness: 421
Iteration: 52, Fitness: 422
Iteration: 63, Fitness: 423
Iteration: 72, Fitness: 424
Iteration: 80, Fitness: 425
Iteration: 144, Fitness: 426
Iteration: 337, Fitness: 427
Iteration: 1294, Fitness: 428
Iteration: 6655, Fitness: 429
------------------------------- 
Job Complete 
Iterations: 7414
Best Solution Fitness: 429 
Not Optimal 
--------------------------------------------- 
