--------------------------------------------- 
Job start 
Search space: Bitstring 
Problem: Max 3-SAT 
Problem instance: C:/EA/Build/../ALL_3SAT/uf100-430/uf100-0174.cnf
Algorithm: Black-Box Generational 
Running Time: 50000 milliseconds
Iteration: 0, Fitness: 378
Iteration: 1, Fitness: 386
Iteration: 4, Fitness: 390
Iteration: 7, Fitness: 393
Iteration: 8, Fitness: 394
Iteration: 9, Fitness: 397
Iteration: 11, Fitness: 400
Iteration: 12, Fitness: 404
Iteration: 17, Fitness: 407
Iteration: 20, Fitness: 409
Iteration: 22, Fitness: 411
Iteration: 24, Fitness: 412
Iteration: 27, Fitness: 415
Iteration: 29, Fitness: 416
Iteration: 30, Fitness: 417
Iteration: 34, Fitness: 418
Iteration: 35, Fitness: 419
Iteration: 36, Fitness: 420
Iteration: 40, Fitness: 421
Iteration: 41, Fitness: 422
Iteration: 50, Fitness: 423
Iteration: 62, Fitness: 424
Iteration: 63, Fitness: 425
Iteration: 74, Fitness: 426
Iteration: 97, Fitness: 427
Iteration: 141, Fitness: 428
Iteration: 165, Fitness: 429
------------------------------- 
Job Complete 
Iterations: 7650
Best Solution Fitness: 429 
Not Optimal 
--------------------------------------------- 
