--------------------------------------------- 
Job start 
Search space: Bitstring 
Problem: Max 3-SAT 
Problem instance: C:/EA/Build/../ALL_3SAT/uf100-430/uf100-0134.cnf
Algorithm: Black-Box Generational 
Running Time: 50000 milliseconds
Iteration: 0, Fitness: 391
Iteration: 2, Fitness: 393
Iteration: 3, Fitness: 395
Iteration: 4, Fitness: 398
Iteration: 5, Fitness: 399
Iteration: 6, Fitness: 400
Iteration: 7, Fitness: 402
Iteration: 9, Fitness: 404
Iteration: 10, Fitness: 405
Iteration: 11, Fitness: 406
Iteration: 13, Fitness: 408
Iteration: 16, Fitness: 409
Iteration: 17, Fitness: 410
Iteration: 18, Fitness: 413
Iteration: 19, Fitness: 415
Iteration: 25, Fitness: 416
Iteration: 27, Fitness: 419
Iteration: 28, Fitness: 420
Iteration: 48, Fitness: 421
Iteration: 51, Fitness: 422
Iteration: 54, Fitness: 423
Iteration: 67, Fitness: 424
Iteration: 75, Fitness: 425
Iteration: 95, Fitness: 426
Iteration: 101, Fitness: 427
Iteration: 1101, Fitness: 428
Iteration: 1284, Fitness: 429
------------------------------- 
Job Complete 
Iterations: 7298
Best Solution Fitness: 429 
Not Optimal 
--------------------------------------------- 
