--------------------------------------------- 
Job start 
Search space: Bitstring 
Problem: Max 3-SAT 
Problem instance: C:/EA/Build/../ALL_3SAT/uf100-430/uf100-0165.cnf
Algorithm: Black-Box Generational 
Running Time: 50000 milliseconds
Iteration: 0, Fitness: 382
Iteration: 1, Fitness: 385
Iteration: 2, Fitness: 387
Iteration: 3, Fitness: 390
Iteration: 5, Fitness: 393
Iteration: 6, Fitness: 397
Iteration: 9, Fitness: 401
Iteration: 12, Fitness: 403
Iteration: 15, Fitness: 405
Iteration: 18, Fitness: 408
Iteration: 22, Fitness: 410
Iteration: 23, Fitness: 411
Iteration: 27, Fitness: 415
Iteration: 35, Fitness: 416
Iteration: 43, Fitness: 418
Iteration: 46, Fitness: 419
Iteration: 52, Fitness: 421
Iteration: 58, Fitness: 422
Iteration: 64, Fitness: 423
Iteration: 69, Fitness: 424
Iteration: 70, Fitness: 425
Iteration: 79, Fitness: 426
Iteration: 124, Fitness: 427
Iteration: 1012, Fitness: 428
------------------------------- 
Job Complete 
Iterations: 7255
Best Solution Fitness: 428 
Not Optimal 
--------------------------------------------- 
