--------------------------------------------- 
Job start 
Search space: Bitstring 
Problem: Max 3-SAT 
Problem instance: C:/EA/Build/../ALL_3SAT/uf100-430/uf100-0147.cnf
Algorithm: Black-Box Generational 
Running Time: 50000 milliseconds
Iteration: 0, Fitness: 374
Iteration: 1, Fitness: 380
Iteration: 3, Fitness: 383
Iteration: 4, Fitness: 385
Iteration: 5, Fitness: 386
Iteration: 6, Fitness: 389
Iteration: 7, Fitness: 391
Iteration: 8, Fitness: 393
Iteration: 9, Fitness: 394
Iteration: 10, Fitness: 395
Iteration: 11, Fitness: 399
Iteration: 17, Fitness: 403
Iteration: 18, Fitness: 405
Iteration: 19, Fitness: 406
Iteration: 21, Fitness: 407
Iteration: 23, Fitness: 408
Iteration: 26, Fitness: 409
Iteration: 27, Fitness: 411
Iteration: 28, Fitness: 412
Iteration: 34, Fitness: 413
Iteration: 37, Fitness: 414
Iteration: 38, Fitness: 415
Iteration: 41, Fitness: 416
Iteration: 44, Fitness: 417
Iteration: 55, Fitness: 418
Iteration: 62, Fitness: 419
Iteration: 66, Fitness: 420
Iteration: 70, Fitness: 421
Iteration: 71, Fitness: 422
Iteration: 86, Fitness: 423
Iteration: 91, Fitness: 425
Iteration: 92, Fitness: 426
Iteration: 130, Fitness: 427
Iteration: 139, Fitness: 428
------------------------------- 
Job Complete 
Iterations: 7292
Best Solution Fitness: 428 
Not Optimal 
--------------------------------------------- 
