--------------------------------------------- 
Job start 
Search space: Bitstring 
Problem: Max 3-SAT 
Problem instance: C:/EA/Build/../ALL_3SAT/uf100-430/uf100-0114.cnf
Algorithm: Black-Box Generational 
Running Time: 50000 milliseconds
Iteration: 0, Fitness: 387
Iteration: 1, Fitness: 390
Iteration: 2, Fitness: 392
Iteration: 3, Fitness: 394
Iteration: 4, Fitness: 395
Iteration: 5, Fitness: 398
Iteration: 6, Fitness: 399
Iteration: 8, Fitness: 404
Iteration: 12, Fitness: 406
Iteration: 13, Fitness: 407
Iteration: 15, Fitness: 409
Iteration: 18, Fitness: 411
Iteration: 19, Fitness: 413
Iteration: 21, Fitness: 414
Iteration: 24, Fitness: 415
Iteration: 25, Fitness: 416
Iteration: 28, Fitness: 419
Iteration: 34, Fitness: 420
Iteration: 35, Fitness: 421
Iteration: 42, Fitness: 422
Iteration: 43, Fitness: 423
Iteration: 44, Fitness: 425
Iteration: 70, Fitness: 426
Iteration: 101, Fitness: 427
Iteration: 577, Fitness: 428
Iteration: 685, Fitness: 429
------------------------------- 
Job Complete 
Iterations: 7418
Best Solution Fitness: 429 
Not Optimal 
--------------------------------------------- 
