--------------------------------------------- 
Job start 
Search space: Bitstring 
Problem: Max 3-SAT 
Problem instance: C:/EA/Build/../ALL_3SAT/uf100-430/uf100-0100.cnf
Algorithm: Black-Box Generational 
Running Time: 50000 milliseconds
Iteration: 0, Fitness: 387
Iteration: 1, Fitness: 390
Iteration: 2, Fitness: 392
Iteration: 3, Fitness: 395
Iteration: 6, Fitness: 396
Iteration: 7, Fitness: 397
Iteration: 8, Fitness: 400
Iteration: 9, Fitness: 402
Iteration: 11, Fitness: 404
Iteration: 13, Fitness: 406
Iteration: 16, Fitness: 407
Iteration: 18, Fitness: 409
Iteration: 21, Fitness: 410
Iteration: 22, Fitness: 413
Iteration: 24, Fitness: 415
Iteration: 25, Fitness: 416
Iteration: 29, Fitness: 417
Iteration: 30, Fitness: 418
Iteration: 37, Fitness: 419
Iteration: 39, Fitness: 420
Iteration: 41, Fitness: 421
Iteration: 54, Fitness: 422
Iteration: 55, Fitness: 423
Iteration: 65, Fitness: 424
Iteration: 72, Fitness: 425
Iteration: 254, Fitness: 426
Iteration: 1629, Fitness: 427
------------------------------- 
Job Complete 
Iterations: 7303
Best Solution Fitness: 427 
Not Optimal 
--------------------------------------------- 
