--------------------------------------------- 
Job start 
Search space: Bitstring 
Problem: Max 3-SAT 
Problem instance: C:/EA/Build/../ALL_3SAT/uf100-430/uf100-0143.cnf
Algorithm: Black-Box Generational 
Running Time: 50000 milliseconds
Iteration: 0, Fitness: 382
Iteration: 2, Fitness: 385
Iteration: 3, Fitness: 388
Iteration: 4, Fitness: 392
Iteration: 5, Fitness: 395
Iteration: 6, Fitness: 397
Iteration: 7, Fitness: 399
Iteration: 11, Fitness: 401
Iteration: 12, Fitness: 403
Iteration: 14, Fitness: 405
Iteration: 16, Fitness: 406
Iteration: 17, Fitness: 408
Iteration: 18, Fitness: 410
Iteration: 21, Fitness: 413
Iteration: 28, Fitness: 414
Iteration: 30, Fitness: 415
Iteration: 32, Fitness: 416
Iteration: 43, Fitness: 417
Iteration: 44, Fitness: 418
Iteration: 50, Fitness: 419
Iteration: 54, Fitness: 420
Iteration: 55, Fitness: 421
Iteration: 56, Fitness: 422
Iteration: 62, Fitness: 423
Iteration: 65, Fitness: 424
Iteration: 69, Fitness: 426
Iteration: 85, Fitness: 427
Iteration: 113, Fitness: 428
Iteration: 445, Fitness: 429
------------------------------- 
Job Complete 
Iterations: 7374
Best Solution Fitness: 429 
Not Optimal 
--------------------------------------------- 
