--------------------------------------------- 
Job start 
Search space: Bitstring 
Problem: Max 3-SAT 
Problem instance: C:/EA/Build/../ALL_3SAT/uf225-960/uf225-029.cnf
Algorithm: Hybrid with No Crossover
Running Time: 50000 milliseconds
Iteration: 0, Fitness: 942
Iteration: 10, Fitness: 944
Iteration: 30, Fitness: 945
Iteration: 50, Fitness: 947
Iteration: 80, Fitness: 948
Iteration: 100, Fitness: 949
Iteration: 110, Fitness: 950
Iteration: 120, Fitness: 951
Iteration: 152, Fitness: 952
Iteration: 160, Fitness: 954
Iteration: 230, Fitness: 955
Iteration: 310, Fitness: 956
------------------------------- 
Job Complete 
Iterations: 6011
Best Solution Fitness: 956 
Not Optimal 
--------------------------------------------- 
