--------------------------------------------- 
Job start 
Search space: Bitstring 
Problem: Max 3-SAT 
Problem instance: C:/EA/Build/../ALL_3SAT/uf225-960/uf225-04.cnf
Algorithm: Hybrid with No Crossover
Running Time: 50000 milliseconds
Iteration: 0, Fitness: 938
Iteration: 10, Fitness: 943
Iteration: 20, Fitness: 945
Iteration: 30, Fitness: 947
Iteration: 40, Fitness: 948
Iteration: 70, Fitness: 949
Iteration: 110, Fitness: 950
Iteration: 150, Fitness: 951
Iteration: 160, Fitness: 952
Iteration: 170, Fitness: 953
Iteration: 220, Fitness: 954
------------------------------- 
Job Complete 
Iterations: 5991
Best Solution Fitness: 954 
Not Optimal 
--------------------------------------------- 
