--------------------------------------------- 
Job start 
Search space: Bitstring 
Problem: Max 3-SAT 
Problem instance: C:/EA/Build/../ALL_3SAT/uf225-960/uf225-053.cnf
Algorithm: Hybrid with No Crossover
Running Time: 50000 milliseconds
Iteration: 0, Fitness: 942
Iteration: 10, Fitness: 944
Iteration: 20, Fitness: 945
Iteration: 30, Fitness: 947
Iteration: 40, Fitness: 948
Iteration: 50, Fitness: 949
Iteration: 70, Fitness: 950
Iteration: 150, Fitness: 952
Iteration: 1110, Fitness: 953
Iteration: 2030, Fitness: 954
------------------------------- 
Job Complete 
Iterations: 6085
Best Solution Fitness: 954 
Not Optimal 
--------------------------------------------- 
