--------------------------------------------- 
Job start 
Search space: Bitstring 
Problem: Max 3-SAT 
Problem instance: C:/EA/Build/../ALL_3SAT/uf225-960/uf225-063.cnf
Algorithm: Hybrid with No Crossover
Running Time: 50000 milliseconds
Iteration: 0, Fitness: 941
Iteration: 10, Fitness: 945
Iteration: 30, Fitness: 946
Iteration: 40, Fitness: 948
Iteration: 50, Fitness: 949
Iteration: 80, Fitness: 951
Iteration: 230, Fitness: 952
Iteration: 250, Fitness: 953
Iteration: 3330, Fitness: 954
Iteration: 3340, Fitness: 955
------------------------------- 
Job Complete 
Iterations: 5961
Best Solution Fitness: 955 
Not Optimal 
--------------------------------------------- 
