--------------------------------------------- 
Job start 
Search space: Bitstring 
Problem: Max 3-SAT 
Problem instance: C:/EA/Build/../ALL_3SAT/uf225-960/uf225-035.cnf
Algorithm: Hybrid with No Crossover
Running Time: 50000 milliseconds
Iteration: 0, Fitness: 940
Iteration: 10, Fitness: 943
Iteration: 20, Fitness: 945
Iteration: 30, Fitness: 946
Iteration: 50, Fitness: 949
Iteration: 60, Fitness: 950
Iteration: 90, Fitness: 951
Iteration: 280, Fitness: 952
Iteration: 330, Fitness: 953
Iteration: 360, Fitness: 954
Iteration: 370, Fitness: 955
Iteration: 710, Fitness: 956
Iteration: 1060, Fitness: 957
------------------------------- 
Job Complete 
Iterations: 6031
Best Solution Fitness: 957 
Not Optimal 
--------------------------------------------- 
