--------------------------------------------- 
Job start 
Search space: Bitstring 
Problem: Max 3-SAT 
Problem instance: C:/EA/Build/../ALL_3SAT/uf225-960/uf225-078.cnf
Algorithm: Hybrid with Partition Crossover
Running Time: 50000 milliseconds
Iteration: 0, Fitness: 943
Iteration: 3, Fitness: 944
Iteration: 10, Fitness: 947
Iteration: 22, Fitness: 948
Iteration: 40, Fitness: 949
Iteration: 50, Fitness: 950
Iteration: 70, Fitness: 951
Iteration: 180, Fitness: 952
Iteration: 430, Fitness: 953
Iteration: 540, Fitness: 954
Iteration: 568, Fitness: 955
Iteration: 1250, Fitness: 956
------------------------------- 
Job Complete 
Iterations: 1701
Best Solution Fitness: 956 
Not Optimal 
------------------------------- 
Maximum number of components in parition crossover: 13
Average number of components in parition crossover: 3.62157
--------------------------------------------- 
