--------------------------------------------- 
Job start 
Search space: Bitstring 
Problem: Max 3-SAT 
Problem instance: C:/EA/Build/../ALL_3SAT/uf225-960/uf225-013.cnf
Algorithm: Hybrid with Partition Crossover
Running Time: 50000 milliseconds
Iteration: 0, Fitness: 938
Iteration: 4, Fitness: 939
Iteration: 10, Fitness: 940
Iteration: 20, Fitness: 943
Iteration: 24, Fitness: 944
Iteration: 30, Fitness: 945
Iteration: 40, Fitness: 947
Iteration: 60, Fitness: 948
Iteration: 70, Fitness: 949
Iteration: 440, Fitness: 950
Iteration: 445, Fitness: 951
Iteration: 570, Fitness: 952
Iteration: 588, Fitness: 953
Iteration: 595, Fitness: 954
Iteration: 700, Fitness: 955
Iteration: 740, Fitness: 956
Iteration: 953, Fitness: 957
------------------------------- 
Job Complete 
Iterations: 1810
Best Solution Fitness: 957 
Not Optimal 
------------------------------- 
Maximum number of components in parition crossover: 12
Average number of components in parition crossover: 3.60614
--------------------------------------------- 
