--------------------------------------------- 
Job start 
Search space: Bitstring 
Problem: Max 3-SAT 
Problem instance: C:/EA/Build/../ALL_3SAT/uf225-960/uf225-053.cnf
Algorithm: Hybrid with Partition Crossover
Running Time: 50000 milliseconds
Iteration: 0, Fitness: 942
Iteration: 4, Fitness: 943
Iteration: 10, Fitness: 944
Iteration: 14, Fitness: 945
Iteration: 20, Fitness: 946
Iteration: 50, Fitness: 948
Iteration: 187, Fitness: 949
Iteration: 190, Fitness: 950
Iteration: 447, Fitness: 951
Iteration: 550, Fitness: 952
------------------------------- 
Job Complete 
Iterations: 1725
Best Solution Fitness: 952 
Not Optimal 
------------------------------- 
Maximum number of components in parition crossover: 11
Average number of components in parition crossover: 3.60227
--------------------------------------------- 
