--------------------------------------------- 
Job start 
Search space: Bitstring 
Problem: Max 3-SAT 
Problem instance: C:/EA/Build/../ALL_3SAT/uf225-960/uf225-077.cnf
Algorithm: Hybrid with Partition Crossover
Running Time: 50000 milliseconds
Iteration: 0, Fitness: 941
Iteration: 10, Fitness: 943
Iteration: 18, Fitness: 944
Iteration: 20, Fitness: 947
Iteration: 30, Fitness: 948
Iteration: 50, Fitness: 949
Iteration: 150, Fitness: 950
Iteration: 157, Fitness: 951
Iteration: 390, Fitness: 952
Iteration: 570, Fitness: 953
Iteration: 630, Fitness: 954
Iteration: 1040, Fitness: 955
------------------------------- 
Job Complete 
Iterations: 1709
Best Solution Fitness: 955 
Not Optimal 
------------------------------- 
Maximum number of components in parition crossover: 13
Average number of components in parition crossover: 3.74555
--------------------------------------------- 
