--------------------------------------------- 
Job start 
Search space: Bitstring 
Problem: Max 3-SAT 
Problem instance: C:/EA/Build/../ALL_3SAT/uf225-960/uf225-04.cnf
Algorithm: Hybrid with Partition Crossover
Running Time: 50000 milliseconds
Iteration: 0, Fitness: 937
Iteration: 6, Fitness: 938
Iteration: 10, Fitness: 941
Iteration: 13, Fitness: 942
Iteration: 20, Fitness: 943
Iteration: 23, Fitness: 944
Iteration: 30, Fitness: 945
Iteration: 40, Fitness: 946
Iteration: 46, Fitness: 947
Iteration: 50, Fitness: 948
Iteration: 130, Fitness: 949
Iteration: 560, Fitness: 950
------------------------------- 
Job Complete 
Iterations: 1719
Best Solution Fitness: 950 
Not Optimal 
------------------------------- 
Maximum number of components in parition crossover: 12
Average number of components in parition crossover: 3.43086
--------------------------------------------- 
