--------------------------------------------- 
Job start 
Search space: Bitstring 
Problem: Max 3-SAT 
Problem instance: C:/EA/Build/../ALL_3SAT/uf20-91/uf20-0147.cnf
Algorithm: Black-Box Generational 
Running Time: 50000 milliseconds
Iteration: 0, Fitness: 86
Iteration: 1, Fitness: 87
Iteration: 2, Fitness: 88
Iteration: 5, Fitness: 89
Iteration: 8, Fitness: 90
Iteration: 41, Fitness: 91
------------------------------- 
Job Complete 
Iterations: 42
Best Solution Fitness: 91 
Optimal 
--------------------------------------------- 
