--------------------------------------------- 
Job start 
Search space: Bitstring 
Problem: Max 3-SAT 
Problem instance: C:/EA/Build/../ALL_3SAT/uf100-430/uf100-0136.cnf
Algorithm: Hybrid with Partition Crossover
Running Time: 50000 milliseconds
Iteration: 0, Fitness: 426
Iteration: 19, Fitness: 427
Iteration: 30, Fitness: 428
Iteration: 39, Fitness: 429
Iteration: 53, Fitness: 430
------------------------------- 
Job Complete 
Iterations: 54
Best Solution Fitness: 430 
Optimal 
------------------------------- 
Maximum number of components in parition crossover: 7
Average number of components in parition crossover: 2.09491
--------------------------------------------- 
