--------------------------------------------- 
Job start 
Search space: Bitstring 
Problem: Max 3-SAT 
Problem instance: C:/EA/Build/../ALL_3SAT/uf100-430/uf100-0153.cnf
Algorithm: Hybrid with Partition Crossover
Running Time: 50000 milliseconds
Iteration: 0, Fitness: 422
Iteration: 10, Fitness: 424
Iteration: 19, Fitness: 425
Iteration: 24, Fitness: 426
Iteration: 930, Fitness: 427
Iteration: 940, Fitness: 428
------------------------------- 
Job Complete 
Iterations: 4532
Best Solution Fitness: 428 
Not Optimal 
------------------------------- 
Maximum number of components in parition crossover: 8
Average number of components in parition crossover: 1.85968
--------------------------------------------- 
