--------------------------------------------- 
Job start 
Search space: Bitstring 
Problem: Max 3-SAT 
Problem instance: C:/EA/Build/../ALL_3SAT/uf100-430/uf100-0119.cnf
Algorithm: Hybrid with Partition Crossover
Running Time: 50000 milliseconds
Iteration: 0, Fitness: 421
Iteration: 10, Fitness: 423
Iteration: 30, Fitness: 424
Iteration: 35, Fitness: 425
Iteration: 40, Fitness: 428
Iteration: 54, Fitness: 429
------------------------------- 
Job Complete 
Iterations: 4553
Best Solution Fitness: 429 
Not Optimal 
------------------------------- 
Maximum number of components in parition crossover: 9
Average number of components in parition crossover: 2.09202
--------------------------------------------- 
