--------------------------------------------- 
Job start 
Search space: Bitstring 
Problem: Max 3-SAT 
Problem instance: C:/EA/Build/../ALL_3SAT/uf100-430/uf100-0147.cnf
Algorithm: Hybrid with Partition Crossover
Running Time: 50000 milliseconds
Iteration: 0, Fitness: 422
Iteration: 10, Fitness: 425
Iteration: 120, Fitness: 426
Iteration: 130, Fitness: 427
Iteration: 160, Fitness: 428
Iteration: 170, Fitness: 429
Iteration: 370, Fitness: 430
------------------------------- 
Job Complete 
Iterations: 371
Best Solution Fitness: 430 
Optimal 
------------------------------- 
Maximum number of components in parition crossover: 8
Average number of components in parition crossover: 2.2082
--------------------------------------------- 
